[2021-12-11 22:58] yaritaft commented on #1676
@Romakita thank you very much ! Sorry for the delay in my answer, I had a super busy week.
I confirm that your suggestions work perfectly ! I was able to fix my project and improve the testing by using supertest. Thank you very much for that!

Moreover, I really appreciate that you took a look at the rest of the repo and you applied some extra suggestions too. I was stuck with this a lot of time a

[2021-12-12 06:48] Romakita commented on #1676
Yes you can make a PR ;)

[2021-12-12 15:53] #1485 closed, assigned to Romakita

[2021-12-16 01:22] rustygreen opened #1687 "[BUG] CLI doesn't work with test 🐛"
## Information

Creating a new project with the CLI using the following options:
[code]

### CLI Options
* Target: Express.js
* Architecture: Ts.ED
* Convention: Angular
* Features:
  * Socket.io
  * Swagger
  * Testing
  * Linter
* Linter: EsLint
* Extra linter tools: Prettier
* Package Manager: npm

### Dev Environment
**OS:** Windows 10
**Node Version:** 14.x

## Error
After the CLI completes t

[2021-12-16 03:56] Romakita commented on #1687
@rustygreen Hum maybe your issue is specific to windows os. I haven’t issue on lunix mac. Try to change the exclude option ^^ and tell me if it works

[2021-12-16 06:35] #1572 closed, assigned to Romakita

[2021-12-16 06:35] #1516 closed, assigned to nobody

[2021-12-16 06:35] #1567 closed, assigned to Romakita

[2021-12-21 20:38] #1581 closed, assigned to nobody

[2021-12-23 11:31] derevnjuk opened #1689 "[BUG] Incorrect handling requests that were aborted by the user"
## Information

- **Version:** 6.95.x

## Example

While aborting the request with the HTTP client I encountered odd warnings in logs:

[code]

To reproduce this behavior, you can implement the following boilerplate code:

[code]

Once it is done, just send a request using the following that will abort a HTTP request in 5s:

[code]

[2021-12-27 17:50] #1547 closed, assigned to Romakita

[2021-12-27 18:06] Romakita commented on #1547
:tada: This issue has been resolved in version 6.96.0 :tada:

The release is available on:
- `v6.96.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.96.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-28 15:51] derevnjuk opened #1693 "[FEAT] Allow registering multiple providers for the same token"
Provide the ability to resolve all instances registered against a given token with `injector.getAll()`.

## Goals

This feature lets to simplify the dependency management while working on multiple implementations of the same interface with type code.

## Informations

If users use the same token when registering providers, the IoC container should exchange a token for a list of instances. Let's co

[2021-12-28 16:06] derevnjuk opened #1694 "[FEAT] Add support for optional dependencies"
## Informations

As a user, I would like to use the empty constructor `new Foo()`, to avoid registering `noop` dependencies if they are not required.

The new parameter decorator can be introduced to be used on constructor parameters, which marks the parameter as optional. At the same time, the IoC container should provide `null` or `undefined` if the dependency is not found.

[code]

Currently, w

[2021-12-28 16:15] derevnjuk opened #1695 "[FEAT] Allow using a custom token with `@Injectable` decorator"
## Informations

As a user, I would like to have a convenient way to override an injection token, that is needed to resolve an instance, using the `@Injectable` decorator. A token may be either a string, a symbol, a class constructor.

[code]

[2021-12-28 21:50] Romakita commented on #1695
Sure, the decorator can be improved. The mechanism is here. The required change is here :)

https://github.com/tsedio/tsed/blob/production/packages/di/src/decorators/injectable.ts#L27

[2021-12-28 22:05] Romakita commented on #1694
Hello @derevnjuk

Yes the DI isn’t designed to have optional dependencies.  I don’t know what is the exact usecase, because dependency always exist if it’s an injected class (tokenProvider===class). And circular dependency musn’t be injected like this (by constructor) and must use `@Inject` decorator for that (on property).

The error is a symptom of a circular dependencies, because type isn’t sto

[2021-12-28 22:26] Romakita commented on #1693
Hello @derevnjuk
Thanks for this issue. Yes, I see the principle, inversifyjs have this feature but I haven’t implemented it because it’s a bit complex. Only one token can be associated to an instance. Change that can be a huge rework.

Actually, the nerest existing feature in Ts.ED is the provider.type / injector.getProviders(type):

[code]
I’m surprised to not have already implemented this metho

[2021-12-29 10:07] #1689 closed, assigned to Romakita

[2021-12-29 10:23] Romakita commented on #1689
:tada: This issue has been resolved in version 6.96.2 :tada:

The release is available on:
- `v6.96.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.96.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-29 12:02] derevnjuk commented on #1694
That's not exactly true. Even if you use a decorator on the property, it will raise the same exception.

In this particular case, it has nothing to do with circular dependencies. Once you declare a dependency, `InjectorService` will try to resolve it using class provider (i.e `useClass`) by default.

[code]

Since you imply that a dependency is optional, you don't register a provider. As a result,

[2021-12-29 13:47] derevnjuk opened #1696 "[FEAT] Provide the ability to set up a retry strategy"
As a user, I would like to be able to implement and use a retry strategy on errors during a transaction, e.g automatic retry mechanism for optimistic locking.

## Informations

Once the `@Transactional` decorator is used, the interceptor should retry handling a request on the fails or for any other reason. The `@Transactional` should also provide the ability to enable/disable a retry strategy upon

[2021-12-30 12:06] Romakita commented on #1694
Haaaaa totally clear :D Thanks for the explanation ^^. I'm ok to add this feature to the backlog!

[2021-12-30 15:36] #1696 closed, assigned to Romakita

[2021-12-30 15:41] #1695 closed, assigned to Romakita

[2021-12-30 16:58] Romakita commented on #1695
:tada: This issue has been resolved in version 6.97.0 :tada:

The release is available on:
- `v6.97.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.97.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-30 16:58] Romakita commented on #1696
:tada: This issue has been resolved in version 6.97.0 :tada:

The release is available on:
- `v6.97.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.97.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-04 16:28] Jorsis opened #1718 "'"@tsed/common"' has no exported member 'View'."
## Information

  "@tsed/ajv": "^7.0.0-alpha.1",
    "@tsed/common": "^7.0.0-alpha.1",
    "@tsed/core": "^7.0.0-alpha.1",
    "@tsed/di": "^7.0.0-alpha.1",
    "@tsed/exceptions": "^7.0.0-alpha.1",
    "@tsed/json-mapper": "^7.0.0-alpha.1",
    "@tsed/platform-express": "^7.0.0-alpha.1",
    "@tsed/schema": "^7.0.0-alpha.1",
    "@tsed/swagger": "^7.0.0-alpha.1",

 src/Server.ts(69,7): error TS23

[2022-01-07 10:16] xantos008 opened #1720 "[BUG] Redis sessions start or not by URL"
Hey guys! Thank you for product, BUT...
In `app.ts`

` this.app.use(`
`  session({`
`        proxy: true,`
`        store: sessionConfig.store,`
`        secret: 'keyboard cat',`
`        resave: false,`
`        saveUninitialized: true,`
`        cookie: { secure: false }`
`      })`
`    );`

It happens always when any user makes any request. How to define store by url? Because with API I don't

[2022-01-07 12:10] Romakita commented on #1720
Hello,
This question must be addressed to the owner session middleware. But the middleware solution is the best approach.

see you

[2022-01-07 12:10] #1720 closed, assigned to Romakita

[2022-01-11 18:07] Grutula opened #1721 "[QUESTION] Is @RequiredGroups able to adapt the swagger documentation ?"
## Information

- **Version:** 6.98.0
- Packages: tsed/schema && tsed/swagger

I try to use the RequiredGroups decorator in order to build a swagger doc with the "required" flag set only on `POST` endpoints but I failed to do this

Did I miss something ? Or is this decorator only useful for validation ?

## Example

[code]

[code]

## Expectation

I expect the property `b` to be marked as required

[2022-01-12 02:41] paschaldev opened #1722 "[BUG] Mongoose doesn't work properly with latest version"
## Information

- **Version:** 6.98.0
- Packages: `@tsed/mongoose`

Latest release doesn't work well with Mongoose / Mongo DB.

[code]

Upgrading to the latest versions doesn't solve the problem still.

[code]

On server start, this output is thrown in the console

<img width="942" alt="Screen Shot 2022-01-12 at 3 35 43 AM" src="https://user-images.githubusercontent.com/13323281/149054019-b48e9637

[2022-01-12 02:50] paschaldev commented on #1722
Related issue on another repo: https://github.com/typegoose/typegoose/issues/203

This might not be specific to this package

[2022-01-12 03:08] paschaldev commented on #1722
For anybody else who experiences this issue, in my case, this happened because I extended `Document` in my model. This `Document` is from `mongoose` package... I removed that line and things went back to normal

[2022-01-12 03:08] #1722 closed, assigned to Romakita

[2022-01-12 05:08] Romakita commented on #1721
Hello @Grutula
You’ve missed the required decorator:

export class CustomRequest {
    @Required()
    @Property(String)
    a: string;

    @Required(true)
    @RequiredGroups("creation")
    @Property(String)
    b: string;

    @Groups("creation")
    @Property(String)
    c: string;
}

see you

[2022-01-12 07:19] Grutula commented on #1721
Hello @Romakita

Thank for your quick answer.
Indeed it works now with this, thanks 💪

[2022-01-12 07:19] #1721 closed, assigned to Romakita

[2022-01-13 17:16] Grutula opened #1723 "[BUG] Groups deserialization is not working with collection"
## Information

- **Version:** 6.98.0

`@Groups("group")` is used to omit some properties before accessing the controller (during the deserialization).
But in my case it does not work with an array

## Example

[code]

[2022-01-18 14:22] troyanskiy opened #1731 "[BUG] Serialization of array of Models with array of Ref inside"
## Information

- **Version:** 6.73.3

## Example

[code]

## Returned serialized data
[code]

## Expecting to receive
[code]

Any Idea @Romakita ?

Thank you!

[2022-01-18 18:27] Romakita commented on #1731
Yes in this case, use the collectionOf is not recommended. Just use ˋ@Ref`.

[2022-01-18 18:41] troyanskiy commented on #1731
@Romakita thank you for the answer.
I did already tried without CollectionOf -> result is the same
Also I did tried without `@Return` -> same result

[2022-01-19 08:56] troyanskiy commented on #1731
@Romakita I'm closing the ticket.
By digging the sources here I found that it was fixed, but I had older version of the FW.
After version update to `6.98.1` all works as expected.
Thank you for your help and sorry for the ticket.

[2022-01-19 08:56] #1731 closed, assigned to Romakita

[2022-01-29 09:42] Romakita opened #1741 "[CHANGE] Create Orm alias decorator for MikroORM"
## Information

- **Version:** 6.x
- Packages: @tsed/mikro-orm

The Mikro orm author suggest to change  the `@Connection` decorator to another one. I suggest to create the `Orm` decorator to replace the Connection.

See https://github.com/mikro-orm/mikro-orm/pull/2587

## Example

[code]

## Acceptance criteria

- [x] `@Connection` is deprecated with the  Js doc comment: ```@deprecated Since 2022-

[2022-01-29 14:11] navalta3030 opened #1743 "[BUG] Can't open playground with NODE_ENV=production"
## Information

- **Version:** 6.95.9
- Packages:

Can't view graphql playground when going into NODE_ENV=production

## Logs

[code]

## Server.ts
[code]

run command : `yarn cross-env NODE_ENV=production node dist/index.js`

- [ ] be able to run playground on browser when performed the run command above.

[2022-01-29 14:51] p32929 opened #1744 "[Feature Request] Generate multiple things at once"
First of all, I wanna thank you guys for creating and maintaining tsed.

When we try to generate something using `tsed g`, it only allows us to generate one thing at a time.
![Screenshot (151)](https://user-images.githubusercontent.com/6418354/151536413-e1220fb2-7590-4bba-a4ad-f6f1102c0297.png)

it would've been even more awesome, if we could generate multiple things at once like the screenshot be

[2022-01-29 15:07] p32929 opened #1745 "[BUG] Error while tsed init with GraphQL"
## Information

- **Version:** 3.17.0 ( When I do `tsed --version`, I get this value )
- Packages:
[code]

I tried to `tsed init gtest` and this happened:

[code]

## Acceptance criteria

- [ ] Being able to init tsed that includes GraphQL

[2022-01-29 15:10] #1741 closed, assigned to Romakita, derevnjuk

[2022-01-29 15:57] Romakita commented on #1741
:tada: This issue has been resolved in version 6.99.0 :tada:

The release is available on:
- `v6.99.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.99.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-30 18:50] Romakita commented on #1741
:tada: This issue has been resolved in version 6.100.0 :tada:

The release is available on:
- `v6.100.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.100.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-01 05:48] #1718 closed

[2022-02-01 05:59] Romakita commented on #1723
Hum your example is a bit strange? You create an object with the class and then you deserialize it?  why ?

[2022-02-01 06:33] Romakita commented on #1744
Hello @p32929
Thanks for this issue :)

The idea is not bad, but complicated, because each selected value will be followed by a prompts to fill the name and additional options. The solutions could be the following:

The code is here:
https://github.com/tsedio/tsed-cli/blob/master/packages/cli/src/commands/generate/GenerateCmd.ts#L95

We have to prompt in first the features lists
[code]

Then gener

[2022-02-01 06:38] #1723 closed, assigned to Romakita

[2022-02-01 06:50] p32929 commented on #1744
Thanks for the amazing explanation. I'll give it a try and send a pull request.

[2022-02-01 06:53] Romakita commented on #1745
For me all works fine :)

Maybe a network error ?

[2022-02-01 06:54] #1745 closed, assigned to Romakita

[2022-02-01 06:56] Romakita commented on #1723
:tada: This issue has been resolved in version 6.100.1 :tada:

The release is available on:
- `v6.100.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.100.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-01 07:29] Romakita commented on #1743
@navalta3030  Why did you have this:

 playground: process.env.PRODUCTION_ENVIRONEMNT !== "production"

 It's confusing. Because, you disable the playground in production, so the result is normal (to not have the playground).

 By the way, I found the issue :) Fix is going.

[2022-02-01 07:43] Grutula commented on #1723
Hum yes sorry if the example was confusing 😅  I was reading the documentation and just try to put less lines as possible to target my problem efficently

[code]

But yes indeed it may be confusing because I didn't explain it and use an instance of my object directly

Thanks for you're release 🚀

[2022-02-01 08:02] p32929 commented on #1745
Surprisingly, its working now :/ Not sure what happened :/

[2022-02-01 08:13] Romakita commented on #1723
You’re welcome ;)

[2022-02-01 08:16] Romakita commented on #1745
In your log, it appears is a network issue

error An unexpected error occurred: "https://registry.yarnpkg.com/@tsed/typegraphql/-/typegraphql-6.98.5.tgz: Request failed \"404 Not Found\"".

Maybe you have ran the cli during a package publication ^^ or maybe yarn registry wasn’t up to date.

See you

[2022-02-01 13:56] navalta3030 commented on #1743
@Romakita - Sorry, I should have just changed that one to true on this issue. It's actually `true` on our staging platform. Thanks for taking a look into this!

Edited the description to make it more understandable.

[2022-02-01 14:06] #1743 closed, assigned to Romakita

[2022-02-01 14:24] Romakita commented on #1743
:tada: This issue has been resolved in version 6.100.2 :tada:

The release is available on:
- `v6.100.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.100.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-02 14:49] Romakita commented on #1743
:tada: This issue has been resolved in version 6.100.3 :tada:

The release is available on:
- `v6.100.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.100.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 16:06] pryme0 opened #1752 "[BUG] Title cant use BodyParams decorator in controller"
## Information

- **Version:** 5.x
- Packages:

A few sentences describing the overall goals of the issue.
I am trying to get request  body  from a post controller using the @BodyParams decorator but every time i try to run my sever i get the error response below

`TypeError: Cannot read properties of undefined (reading 'paramType')`

## Example
here is a copy of my controller route
`  @Post('/v1/

[2022-02-03 17:12] Romakita commented on #1752
Hello @pryme0

- please format correctly your issue (use three back tick, postfixed by typescript to colorize code)
- Are you sure your running the code on Ts.ED v3.17.0. Because your example is not for v3. And I won’t give answer for this version, which is totally unmaintened/obsolete.
- I don’t undersrand your issue, you’ve forgot the context. Why you have a /v1/graphql what is the goal of this

[2022-02-05 10:29] #1687 closed, assigned to Romakita

[2022-02-05 10:35] Romakita opened #1755 "[v7] Remove dependencies from @tsed/common"
## Information

 Ts.ED is able to lazyload module, so now some dependencies can be removed from the `@tsed/common` package.
This option allow develop to choose which features he want use in his project, just by importing the module in the `Server.ts`.

[code]
Removing exports in index.ts, will causing a breaking change for the actual consumers.

## Tasks

- [ ] Lazy load the PlatformResponseFilter

[2022-02-05 11:08] Romakita opened #1756 "[TECH] Use module to convert OS3 to OS2"
## Information

Instead deprecating OS2 in v7, we can use a tool to convert the OS3 spec to OS2 using https://github.com/LucyBot-Inc/api-spec-converter.

## Acceptance criteria

- [ ] All integration test related to OS2 works
- [ ] Move all OS2 integration test in the same directory

[2022-02-07 21:15] attilaorosz opened #1757 "Class instanciation order"
Hi,

I'm not sure if it's really a bug or by design but I find it weird that the controllers are instanciated before the server itself.
I'm using version 6.101.0 and I observed that when I'm using direct controller mounting the controller constructor runs before the server constructor.

[code]

This leads to some problems with DI, for example if I have a dependency in the controller it won't be re

[2022-02-07 22:13] Romakita commented on #1757
@attilaorosz  just upgrade the Ts.ED version. This design was changed since v6.80+.

See you
Romain

[2022-02-07 22:17] attilaorosz commented on #1757
@Romakita thanks for the quick reply! However I’m using 6.101.0 already.

[2022-02-07 22:19] Romakita commented on #1757
Ha ok. But the server is instanciated before controllers… so I don’t understand your point…

[2022-02-07 22:23] attilaorosz commented on #1757
Thats what I thougt too buf if I add logging the order is
1. Controller constructor
2. Server constructor
3. Constructor before init
4. Server before init

I’m bulding this in an nx monorepo with webpack build but I doubt that should affect this.

[2022-02-07 22:24] Romakita commented on #1757
Ok sorry. My bad. The platfotm adapter is build in first then services and finally the module. It’s not weird. The server depend on all services.

[2022-02-07 22:30] attilaorosz commented on #1757
It makes sense but is there a way then to make custom providers that depend on platform modules that register before the controllers?

[2022-02-07 22:31] Romakita commented on #1757
I’m not sure why your service is undefined, but use an abstract class as token provider isn’t a covered usecase. I think the injector is not able to link the correct class with the token. I’m not sure if that you to accomplish is correct or not. Also, I’m not sure what is the relation between the server built after controller and your problem.

[2022-02-07 22:34] Romakita commented on #1757
[code]

[2022-02-07 22:36] Romakita commented on #1757
PlatformModule?

[2022-02-07 22:39] attilaorosz commented on #1757
If I do this it works fine it is resolved correctly.

[code]

If I do this then the service is undefined

[code]
Which what I found odd, since the "Load routes" hook is way after the server constructor.

[2022-02-07 22:46] Romakita commented on #1757
Heu ok… but it’s normal. All providers are already build. You can’t change the service during this hook and it’s not really logical to do that. Or you have a really good reason…

[2022-02-07 22:49] attilaorosz commented on #1757
My reason was to wait for the MikroOrm module to provide the entity manager service first, then provide my own service which depends on it. At least that's what seemed logical to me in terms of execution order but I might be wrong here.

[2022-02-08 07:51] Romakita commented on #1757
Ok maybe there a solution by using lazy loading injection.

[2022-02-08 08:27] attilaorosz commented on #1757
Is there a way to lazy load a module? That would basically solve these scenarios because i could then just provide my mounting in the module so everything is ready when that registers.

I did some additional testing and if I provide my service before bootstrapping, the controller resolves my class correctly and actually my service can inject the entity manager instance by using the @em decorator (

[2022-02-09 12:33] Romakita commented on #1757
Lazy loading a module or class is possible yes :)

You can see the usage here: https://tsed.io/docs/providers-lazy-loading.html#getting-started

It could be the right solution for you :)
See you
Romain

[2022-02-09 18:02] p32929 commented on #1744
BTW, is it okay, if instead of implementing myself, if I just send you this as a feature request? Thanks in advance...
( yes, I tried to do the things you explained and got some errors. So, I thought, it would be better to leave it up to the maintainers )

[2022-02-10 07:25] #1757 closed, assigned to Romakita

[2022-02-14 12:11] victorsmits opened #1765 "[BUG] TypeError: Cannot read properties of undefined (reading 'set') in PassportService.js"
## Information

- **Version:** ^6.98.1

Hello, I encounter a weird issue with tsed passport and passport-discord. At random time my server crash and give me this error
[code]
![image](https://user-images.githubusercontent.com/22278315/153861805-a884cc8d-0a80-405a-85b5-a3741277c50a.png)

It seems appearing after the discord callback, but all other user encounter no issue. The only way I found to st

[2022-02-14 15:15] Romakita commented on #1765
Ok. It means the request is done before the response is sent. I’ll try to fix that

[2022-02-15 05:17] TalFaitlov commented on #1679
Running into the same issue
In pnpm-based project controllers are not picked up
tsed version 6.11.3 + pnpm - WORKS

Let's fix it!

[2022-02-17 17:37] ochrstn opened #1767 "[BUG] DynamicRef serializes to `[object Object]`"
## Information

- **Version:** 6.102.1
- Packages: mongoose

I can at least say that it worked in `5.59.2` (thats where I upgraded from 😅 )

## Example

for full example, see: https://github.com/ochrstn/tsed/blob/fix-dynamicref-serialize-object/packages/orm/mongoose/test/dynamicRef.integration.spec.ts

[code]

## Acceptance criteria

- [ ] DynamicRef should serialize the (populated) object

[2022-02-17 22:30] belgattitude opened #1768 "[BUG] @tsed/exception 6.102.4 does not install @tsed/core..."
## Information

Some peer-dependencies are missing in the `@tsed/exception` [6.102.4](https://www.npmjs.com/package/@tsed/exceptions/v/6.102.4) version.

I could track it down to this commit:

https://github.com/tsedio/tsed/commit/babd289f05ef05e71342cad24580147df205d550#diff-8a4d8f6fa07ba09d2cf9fb1a773783ccf9f6cb428cb879f4fdd0bb9ad1e79238.

Not a big issue, but the exception package seems to use

[2022-02-18 04:59] Romakita commented on #1768
Hello @belgattitude
Yes I’m sorry. I tried to fix an issue with pnpm because It install the di package twice (same di version) until the logger package isn’t installed. It’s crazy and I don’t understand why. I’ll rollback the commits and publish another versions.

see you

[2022-02-18 07:48] Romakita commented on #1768
fixed :)

[2022-02-18 07:48] #1768 closed, assigned to Romakita

[2022-02-18 07:50] Romakita commented on #1679
Seems to be fixed with v6.102.5 :)

[2022-02-18 07:50] #1679 closed, assigned to Romakita

[2022-02-18 07:51] Romakita commented on #1679
The problem come from the peerDependencies which are resolved differently with PNPM :(

Install the @tsed/logger on project level can solve the issue for previous version.
See you
Romain

[2022-02-18 10:31] belgattitude commented on #1768
That was fast 😅

[2022-02-18 20:42] belgattitude commented on #1768
Hey @Romakita thanks a lot for quick response,

I've properly tested it with the latest.

A direct dep

A transitive from @tsed/schema

I just had to install @tsed/schema  and @tsed/core (with yarn 3).

Not a big deal for me. I'm totally fine, just sharing few thoughts.

In my experience peer-deps are always complex to deal with in a consistent manner (depends on npm version 6/7/8, yarn or pnpm...

[2022-02-19 06:00] Romakita commented on #1768
Thanks for the feedback @belgattitude. I’ll publish a new realease. But the schema package should already installed if you use @tsed/common package no?

yes it’s complicated to deal with npm/yarn/pnpm.

see you

[2022-02-19 06:06] Romakita commented on #1768
Ok. After reading your repo, you use only the @tsed/exceptions package. This is why you have a warning. I’ll fix that ;)

[2022-02-19 08:21] #1765 closed, assigned to Romakita

[2022-02-19 08:42] Romakita commented on #1765
:tada: This issue has been resolved in version 6.102.6 :tada:

The release is available on:
- `v6.102.6`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.102.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-19 10:28] belgattitude commented on #1768
Nice.  Tested latest release. Now having

WebServer Error: Cannot find module 'change-case'

In my e2e https://github.com/belgattitude/nextjs-monorepo-example/runs/5257988300?check_suite_focus=true#step:12:24

A transitive deps of status probably

[2022-02-19 10:34] belgattitude commented on #1768
BTW just to add about previous comment.  It's not totally the warnings that made me comment.  More the e2e that fail on the p/r. That's why I'm informed quick.

Hope it's helpful,  don't want to create work about this.  😅

[2022-02-19 11:53] Romakita commented on #1768
T.T my bad. Now it’s totally my fault.
the problem is, I use monorepo / workspace with yarn and there is no tool to prevent missing dep in this case.

I’ll fix again

[2022-02-19 12:11] Romakita commented on #1768
The release is on going. I'm sorry about that.

I wanted to remove the unnecessary dependency between @tsed/exceptions and @tsed/schema in order to simplify the package to his strict minimum (so it's better for you, less code and less dependencies).

I forgot to add the change-case dependency :(

The package should be ok for your usecase :)

See you
Romain

[2022-02-22 13:46] Paul75 opened #1776 "[BUG] POST params and files not receive body param empty"
## Information

- **Version:** 6.102.8
- Packages:

Add params and files in controller not receive body (empty)

## Example

[code]

log receive param :

[code]

Error :

[code]

Thanks

[2022-02-22 13:55] Romakita commented on #1776
Hello @Paul75

Can you try this example please:
[code]

See you
Romain

[2022-02-22 13:58] Paul75 commented on #1776
Hello,

In console have :

[code]

Thanks

[2022-02-22 14:00] Romakita commented on #1776
ok the content is a string. It's not parsed

[2022-02-22 14:04] Paul75 commented on #1776
That means I do wrong ???

[2022-02-22 14:05] Romakita commented on #1776
Your front-end send the body as JSON stringified in the product field. So it's normal to not works. The framework cannot cover all usecases if you make something special ^^. I'm not sure if it's the framework responsability to cover that...

[2022-02-22 14:06] Paul75 commented on #1776
I do the query from swagger ....

![screenshot-127 0 0 1_3000-2022 02 22-15_06_04](https://user-images.githubusercontent.com/457062/155148504-f9d03ab6-401c-423d-9f33-a92f9c2ef56c.png)

[2022-02-22 14:10] Romakita commented on #1776
Yes I understand the point, but, it's because swagger serialize the payload on the field, dut to the content-type is a `multipart/form-data`. It's not an `application/json`.

[2022-02-22 14:12] Paul75 commented on #1776
Hello, If i understant I must not pass BodyParams but Req ?

[2022-02-22 14:13] Romakita commented on #1776
The solution right now, is to implement a custom pipe: https://tsed.io/docs/pipes.html And parse the json payload before consume it with BodyParams.

[2022-02-22 14:14] Paul75 commented on #1776
Because if i remove : @MultipartFile('images', 5)
    images: PlatformMulterFile[]

the body work ....

[2022-02-22 14:19] Romakita commented on #1776
Not exactly. In normal way, the payload is parse by the bodyParser.json() when the content-type is `application/json`.

Using the `multipart/form-data`, the bodyParser.json() won't have any effect and the req.body won't be parsed. This is why you have as string in req.body.product.

When you use MultipartFile decorator, Ts.ED will use the [multer](https://www.npmjs.com/package/multer). His behavio

[2022-02-22 14:23] Romakita commented on #1776
If you have a time, can you create a small project on github to reproduce the issue please?

[2022-02-22 14:25] Paul75 commented on #1776
Okay I do Pipe but same problem When I do  :

[code]

And Pipe :

[code]

Receive in console :
[code]
Sorry ...

[2022-02-22 14:25] Romakita commented on #1776
Why are you sorry ?

[2022-02-22 14:28] Paul75 commented on #1776
because I'm stupid or not understand because the value is the same that means not receive the Product data with datas ...

[2022-02-22 14:29] Romakita commented on #1776
Can you try this:
[code]

[2022-02-22 14:31] Paul75 commented on #1776
okay thanks now it have data on the body .....

[2022-02-22 14:39] Romakita commented on #1776
Ok, it's related to the `priority: -1`. DeserializePipe have a normal priority, but the custom pipe are appended with the DeserializePipe (normal). Adding priority change the Pipe order and run your custom pipe in first ^^.

[2022-02-22 14:47] Romakita commented on #1776
So it's ok for you ?

[2022-02-22 14:49] Paul75 commented on #1776
Yes that works now. Thanks for rapidly to help me

[2022-02-22 14:49] #1776 closed, assigned to Romakita

[2022-02-22 14:51] Romakita commented on #1776
I think the problem is about the missing documentation on this usecase. I'll add your ticket on the todo on the board to improve the documentation ^^

Have a nice day and thanks for the issue ;)
Romain

[2022-02-23 15:37] Romakita commented on #1767
Hello @ochrstn

I created a pr to fix this issue. But I'm not sure about the result:
https://github.com/tsedio/tsed/pull/1777

One thing that is strange, is about the `@Property(String)` used in th DynamicRef. This decorator wasn't added here for nothing. DynamicRef is specific kinf of Ref right ? So DymanicRef can return an object or a string, if the populare method is called or not.

Another thi

[2022-02-25 11:44] ochrstn commented on #1767
Thanks for looking into it.

Correct

I just tried that in the old version and (to my own surprise) it does work. `_id` of the dynamic reference serializes to `id`

[2022-02-25 11:59] Romakita commented on #1767
Arff… so I don’t why it doesn’t work as expected now…

[2022-02-25 12:09] pryme0 commented on #848
This didn't work for me  i already have  "@tsed/platform-express" imported  but i am still getting an error message that reads

`PlatformTest.injector is not initialized. Use PlatformTest.create(): Promise before PlatformTest.invoke() or PlatformTest.injector.`

[2022-02-25 12:11] Romakita commented on #848
Create a reproducible example please (repo). Generally, the problem is related to the framework itself (circular ref, wrong import, missing config, etc…)

[2022-02-25 13:14] pryme0 commented on #848
@Romakita  it was the tsconfig file i was passing to ts-jest...when in pointed it to the correct file it worked

[2022-02-25 13:14] pryme0 commented on #848
Thanks

[2022-02-25 15:57] ochrstn commented on #1767
I did some debugging and in v5.x the actual class behind the populated dynamic ref is known at this point:

https://github.com/tsedio/tsed/blob/4db4290f1e009f14bcfb5fc37f0fbc5503fcc90c/packages/mongoose/src/utils/createSchema.ts#L21

and therefore can be serialized correctly

[2022-03-03 21:57] MedicareFAQ opened #1791 "[Issue to be Deleted]"

[2022-03-03 21:58] #1791 closed, assigned to Romakita

[2022-03-03 22:02] ramprasathb-foxsense opened #1792 "API Key based authentication using tsed/Passport"
##Information

**Is your feature request related to a problem? Please describe.
Having a use-case where the backend has to validate the incoming request and verify the API key from header before processing and returning a response. But in the current situation, am unable to use ```passport-headerapikey``` library in tsed.

**Describe the solution you'd like
It would be great if tsed/passport can s

[2022-03-03 22:03] ramprasathb-foxsense commented on #1791
Please delete this issue. Created a duplicate from my original account [here](https://github.com/tsedio/tsed/issues/1792)

[2022-03-04 13:56] zenkdev opened #1793 "[BUG] UseAfter decorator does not work for error middleware"
## Information

- **Version:** 6.103.2
- Packages:

I have error middleware that should be applied for certain controllers/endpoints.
It worked in version 6.23.1 but now every method with this middleware returns the error:
[code]

## Example

[code]

## Acceptance criteria

- [ ] It should be possible to attach error middleware to certain controllers/endpoints

[2022-03-04 13:59] Romakita commented on #1793
Are you on Koa ?

[2022-03-04 14:04] Romakita commented on #1793
But it would be preferable to use Interceptor instead of middleware.

[code]

[2022-03-04 14:08] Romakita commented on #1792
Hello @ramprasathb-foxsense

HeaderAPIKeyStrategy doens't follow the classic signature of other passport plugin.

So you have to wrap the HeaderAPIKeyStrategy to match the expected signature.

[code]

[2022-03-04 14:40] zenkdev commented on #1793
No, I'm using express.

[2022-03-04 14:57] zenkdev commented on #1793
Probably, but I would have to add `Interceptor` to each controller method whereas  `UseBefore` can be applied to the entire controller.

BTW Interceptor works fine.

Thank you.

[2022-03-04 15:32] Romakita commented on #1793
it's possible to have the same behavior:

[code]

[2022-03-04 16:06] zenkdev commented on #1793
Unfortunately it doesn't work
[code]

This works fine
[code]

[2022-03-04 16:10] Romakita commented on #1793
It should works. useMethodDecorators add the interceptor for each methods.

[2022-03-04 16:19] zenkdev commented on #1793
Sorry, but it does not. I checked twice.

[2022-03-04 17:04] Romakita commented on #1793
Ok. I'll try to repro. This is the only solution that I can propose you and I have not enought time to work on it right know.

The issue is added on the board.

[2022-03-05 08:17] Romakita commented on #1793
Another way is to use the exception filter: https://tsed.io/docs/exceptions.html#exception-filter
It work on all errors emitted by your controllers :)

[2022-03-05 08:25] Romakita commented on #1793
Ok sorry for the wrong example with the interceptor. Here is the right implementation to decorate all methods of a class:

[code]

[2022-03-05 08:50] Romakita commented on #1793
Works as expected, the middleware is correctly called:

https://github.com/Romakita/tsed-1793

I close the issue, until you haven't a reproducible example ;)

See you
Romain

[2022-03-05 09:00] Romakita commented on #1389
The goal is reached. Prisma module will be released in open-source!!

Thanks to all sponsors! Sponsors will keep his advantage on the support priority on this plugin ;)

[2022-03-05 11:41] #1389 closed

[2022-03-05 11:59] zenkdev commented on #1793
Thanks for example. But I have an error in my project
[code]
/Alexander

[2022-03-05 12:02] Romakita commented on #1389
:tada: This issue has been resolved in version 6.104.0 :tada:

The release is available on:
- `v6.104.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.104.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-05 12:16] Romakita commented on #1793
This error is strange... Have you the same package version for all tsed packages? Have you installed the latest logger version 6.1.0 ?
My example works, so you can checkout it. I haven't your project, so I'm not able to help you, If you are not able to reproduce the bug outside of your project. Please take a time to do this work (it's your responsibility ;)).

See you
Romain

[2022-03-05 12:19] Romakita commented on #1793
Also my repo example show a working example with the middleware added with UseAfter. So please take a time to read my example... otherwise I'll feel like I've wasted my time giving you a working example. And it's really sad

[2022-03-05 12:41] zenkdev commented on #1793
Sorry, I didn't mean to be rude. I checked your example, but my project has a very complicated setup. This is probably my problem. I'll check everything again. Thanks for your help, I appreciate it.
/Alexander

[2022-03-05 19:24] zenkdev commented on #1793
Good evening Romain. I reproduced all bug described above. Please take a look https://github.com/Romakita/tsed-1793/pull/1
/Alexander

[2022-03-05 20:20] Romakita commented on #1793
Perfect @zenkdev, I'll take a time to review your PR ;) Good job

[2022-03-08 15:01] rjchicago opened #1800 "Ability to disable headers being sent"
## Information

### Problem

We're setting up end-to-end streaming and are looking for the ability to disable headers and status from being sent by TsED. The reason for this is we need to determine first if there is an issue with the stream - if not, then we send status 200 and set headers appropriately for streaming:

[code]

If there is an error during streaming, and if determined prior to the h

[2022-03-08 15:09] Romakita commented on #1800
If you return a Stream/Buffer from the controller it shouldn't be a problem... In this case, the stream have a priority on the default behavior :)

[2022-03-08 15:10] Romakita commented on #1800
Have you an example of your Controller ?

[2022-03-08 15:24] Romakita commented on #1800
Hum ok you've right, the status and headers are set automatically. But I need a controller example to see if there something wrong when a stream is returned.

[2022-03-08 15:29] rjchicago commented on #1800
An example of our Controller...

[code]

which calls this method in our BaseController...

[code]

We were going to handling streaming internally by enabling via a query param flag.
`streamResponse` is then similar to the [demo project](https://github.com/rjchicago/pg-query-stream-demo/blob/master/service/src/StreamingService.js#L54) I linked above.

for reference

[code]

[2022-03-08 15:36] Romakita commented on #1800
Ok the problem is about your implementation:

You should return the stream, instead of handle it manually. For me, you should return the inStream to Ts.ED and Ts.ED will pipe your stream with the response.

[2022-03-08 15:46] rjchicago commented on #1800
Ok, is there a way to provide an error handler and return an appropriate error status?

Also, NodeJS recommends to [use `pipeline` instead of `pipe`](https://www.youtube.com/watch?v=aTEDCotcn20&t=442s) to ensure no memory leaks with streams not being properly closed. Would returning the stream use `pipeline`?

[2022-03-08 16:21] Romakita commented on #1800
haaa ok
So the immediate solution is to cancel the response handling from Ts.ED, and let your controller method to manage correctly the response.
[code]

In this case, the headers and status won't be sent. But you have to add it by your own way!

[2022-03-08 16:31] rjchicago commented on #1800
Hey hey! That worked for the successful query!
However, a failure returned an empty response:
[code]

However, this may be on my side still - checking...

[2022-03-08 16:38] rjchicago commented on #1800
Yep, I needed to add `res.end()` back in the `on error`...

[code]

This is working now - thank you so much for the quick replies! (and awesome framework!!!) 😉

[2022-03-08 16:39] #1800 closed, assigned to Romakita

[2022-03-08 16:47] Romakita commented on #1800
You’re welcome ;) I have to add this example on the website. You are probably not alone about this need ;)

see you
Romain

[2022-03-09 06:53] #1792 closed, assigned to Romakita

[2022-03-09 06:55] Romakita commented on #1793
@zenkdev I fixed the issue with the interceptor ;) thank for the repo
Also for Middleware error, the repo help me, because it's a very specific usecase. I haven't fixed this issue, but I see where is the problem thanks ;)

[2022-03-09 17:49] Paul75 opened #1801 "[BUG] swagger : get image response error"
## Information

- **Version:** 6.105.2
- Packages:

I want to do a query to display image. And in swagger got error. but not on swagger it display the png.

## Example

[code]

I got error :

[code]

Thanks

[2022-03-09 18:00] #1801 closed, assigned to Romakita

[2022-03-10 06:07] weirongxu opened #1802 "[BUG] Missing nested controllers when using `pathPatterns` on swagger settings"
## Information

- **Version:** 6.105.2
- Packages:

Missing nested controllers when using `pathPatterns` on swagger settings.

## Example

[code]

## Acceptance criteria

- [ ] It should be possible to extract the nested controllers and display on swagger.json

[2022-03-10 06:27] Romakita commented on #1802
Hello @weirongxu

The problem is probably here:
https://github.com/tsedio/tsed/blob/cae4435f52f8412ba169d05581bbf8a44bd63a95/packages/specs/swagger/src/utils/includeRoute.ts

I haven't time to fix it but you can try to edit the node_modules and find a way to fix it. Then if you have a time, you can make  PR ;)

See you
Romain

[2022-03-10 06:47] weirongxu commented on #1802
Thanks for the quick response, I'll try to make PR first.

[2022-03-10 07:08] Romakita commented on #1767
I don't know how is it possible... Mongoose doesn't return the class behind the object:

<img width="490" alt="Capture d’écran 2022-03-10 à 07 50 26" src="https://user-images.githubusercontent.com/1763311/157605334-145c6166-d53b-4bd5-9c68-8459296c997e.png">

In my capture, the EventModel is here, but we see that the event instance value isn't an instance of SignedUpEventRepository, but it's an o

[2022-03-10 08:31] weirongxu commented on #1802
I noticed that `Platform.getMountedControllers` only returns the root controllers, should we make `getMountedControllers` including all nested controllers, considering that there may be similar functionality elsewhere in the future.

https://github.com/tsedio/tsed/blob/3b7a421f079d88b9d8cc7ed66e901baff0a8da06/packages/platform/common/src/services/Platform.ts#L86

[2022-03-10 08:43] ochrstn commented on #1767
How it works to my understanding in 5.x (not sure about my wording 😅 ):

When the `@Model()` get evaluated the `target` gets captured in the `target.prototype.serialize` closure. That function is then later called for serialization.

https://github.com/tsedio/tsed/blob/4db4290f1e009f14bcfb5fc37f0fbc5503fcc90c/packages/mongoose/src/utils/createSchema.ts#L17-L26

Like you said, the instance obtained

[2022-03-10 09:11] Romakita commented on #1767
I finally found a better way to fix that :)

[2022-03-10 09:12] Romakita commented on #1767
Here is the PR:
https://github.com/tsedio/tsed/pull/1777

using OnDeserialize and OnSerialize, it works and you retrieve the correct typings + the JSONSchema is aligned with the models declaration.

I'll merge it
Romain

[2022-03-10 09:23] #1767 closed, assigned to Romakita

[2022-03-10 09:24] Romakita commented on #1767
Sorry for the delay @ochrstn ;) this issue wasn't easy ^^

[2022-03-10 09:45] Romakita commented on #1767
:tada: This issue has been resolved in version 6.105.3 :tada:

The release is available on:
- `v6.105.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.105.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-11 09:13] #1802 closed, assigned to Romakita

[2022-03-13 20:42] #1756 closed, assigned to Romakita

[2022-03-13 21:08] Romakita commented on #1756
:tada: This issue has been resolved in version 6.106.0 :tada:

The release is available on:
- `v6.106.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.106.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-16 14:23] dark544 opened #1809 "[BUG] PlatformMulterMiddleware invalid status message"
## Information

- **Version:** 6.105.4
- Packages:

The middleware catches errors from Multer and puts them into an exception.
It takes the error code multer throws as the status for the exception.
The result is an error because the exception is trying to cast it to an HTTP error (I guess).

[code]

## Example
Im using the fileSize limit for multer:

[code]

[2022-03-16 14:25] Romakita commented on #1809
Hello @dark544
What is the expected status code and response ?

[2022-03-16 17:44] dark544 commented on #1809
@Romakita Well if you ask me:
I think it would be best to have a separate Exception type for this.
I could then use an error middleware to customize the response.

I personally would use a status code of 400 and the code as message.

[2022-03-16 17:46] Romakita commented on #1809
Right ;). I’ll fix that and create a custom BadRequest.

[2022-03-16 17:52] dark544 commented on #1809
Brilliant, thank you :)

[2022-03-17 06:10] #1809 closed, assigned to Romakita

[2022-03-17 06:35] Romakita commented on #1809
:tada: This issue has been resolved in version 6.107.2 :tada:

The release is available on:
- `v6.107.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.107.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-17 12:51] Devil7DK opened #1811 "[BUG] Unable to store buffer using Models with Mongoose"
## Information

- **Version:** 6.106.0
- Packages: See [package.json](https://github.com/Devil7DK/tsed-mongoose-test/blob/master/package.json)

I'm trying to store images in MongoDB. When using [Models with decorators](https://github.com/Devil7DK/tsed-mongoose-test/blob/master/src/models/ImageModel.ts), the Buffer field is stored as Object instead of Binary. If I use [mongoose directly](https://gi

[2022-03-17 17:24] AlexDede opened #1812 "[BUG] Possible bug in the PlatformHandler.onError method"
## Information

- **Version:** 6.107.2
- Packages:
  @tsed/common

https://github.com/tsedio/tsed/blob/86ce929f40ad2b77e2646d7c909ff731e667b21e/packages/platform/common/src/services/PlatformHandler.ts#L164-L186

This method has a few issues:
- the `$ctx` can be possibly `undefined`: on line 166 `$ctx.data = er;` but on line 173 there is a check that `$ctx` is defined
- on line 179 `$ctx` can be un

[2022-03-18 00:06] #656 closed

[2022-03-18 00:06] #930 closed

[2022-03-18 00:06] #851 closed

[2022-03-19 14:20] #1811 closed, assigned to Romakita

[2022-03-19 14:42] Romakita commented on #1811
:tada: This issue has been resolved in version 6.107.3 :tada:

The release is available on:
- `v6.107.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.107.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-19 18:41] #1812 closed, assigned to Romakita

[2022-03-19 19:01] Romakita commented on #1812
:tada: This issue has been resolved in version 6.107.4 :tada:

The release is available on:
- `v6.107.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.107.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-22 19:31] SaswatB opened #1815 "[BUG] Incorrect casing in generated Prisma types"
## Information

- **Version:** 5.x
- Packages: @tsed/prisma

When using lowercase model names in Prisma, the repository types generated by @tsed/prisma have incorrect casing on the `aggregate` parameter which results in broken types.
Prisma's behavior is likely caused by this line:
https://github.com/prisma/prisma/blob/f35af40ffed4cc96d990ab26c96d99c5f104c178/packages/client/src/generation/utils.t

[2022-03-22 20:45] Romakita commented on #1815
By convention, Ts.ED use a pascal case for model and it seems to be the same thing for prisma.

The problem seems to be here: https://github.com/tsedio/tsed/blob/production/packages/orm/prisma/src/generator/transform/transformModelToClass.ts#L7

[2022-03-22 20:50] Romakita commented on #1815
[code]

[2022-03-23 08:49] MatejSkrbis opened #1816 "[QUESTION] v5 to v6 migration MultipartFile"
## Information

- **Previous version**: 5.61.1
- **Current version:** 6.105.4

I've updated most of the codebase to tsed v6, but there is an issue with multipart files. We are still using the swagger 2.0 specifications. On tsed v5 the swagger was generated without errors with **formData**, but the version v6 creates **body** parameter instead, making swagger definition invalid.

**Is there a way t

[2022-03-23 13:18] Romakita commented on #1816
Swagger V2 won't be supported anymore. Since v6.106.0, Ts.ED use api-spec-converter to generate the OS2 version from OS3. Please update your package to v6.106.0, maybe the output will be ok.

See you
Romain

[2022-03-23 13:19] Romakita commented on #1816
No, it won't be exactly the same, but it should be compatible. Or just switch to OS3.

[2022-03-23 13:24] MatejSkrbis commented on #1816
Ok, thank you, I will try switching to OS3 as there were more incompatibilities introduced with tsed v6 in swagger 2.0 that are valid in OS3, such as ```@Headers``` attribute.

[2022-03-23 13:24] #1816 closed, assigned to Romakita

[2022-03-23 13:27] Romakita commented on #1816
But it shouldn't be a problem with the v6.106.0. The puglin works and generate a correct OS2 spec.

[2022-03-26 10:23] vincent-thomas commented on #932
Fighting with the stale bot? Haha

[2022-03-26 10:28] vincent-thomas opened #1818 "[QUESTION]: How to handle auth in serverless?"
I'm thinking of switching my backend from nest to tsed. But then i saw tsed doesn't support middleware with serverless. Why is that? And how do i approach authentication reliably and in a maintainable way?

[2022-03-26 10:30] Romakita commented on #932
Yes ^^. I haven’t started this feature, but it’s a goal ^^

[2022-03-26 10:34] Romakita commented on #1818
The middlewares are supported if you use @tsed/serverless-http.

the @tsed/serverless module don’t use express or koa. It’s more designed to create function (but it’s less interesting than a pure js small function).
authentication in this case can be implemented with interceptor.

See you

[2022-03-26 19:03] derevnjuk opened #1819 "[BUG] incorrect behavior of `RawBodyParams`"
## Information

- **Version:**: `6.x`
- **Packages**: `platform-express`

In implementing HTTP signature verification (e.g. [Stripe](https://stripe.com/docs/webhooks/signatures) or [GitHub](https://docs.github.com/en/developers/webhooks-and-events/webhooks/securing-your-webhooks)), it might be useful to get the raw body. Currently, it is almost impossible to use `RawBodyParams` since it has limita

[2022-03-26 19:45] Romakita commented on #1819
Hello @derevnjuk

perfect issue description ;)

is no really possible. When BodyParser consume the request data isn’t possible after to use the rawBodyMiddleware. And if the rawBodyMiddleware consume the req.data it the same thing.

I’m not sure how to fix that correctly. If you have a solution or an idea, let’s go ;)

See you
Romain

[2022-03-28 14:35] ClementineBiais opened #1824 "Keycloak Auth and Post / Delete / Put / Patch requests"
Good afternoon,

### Information
- Version:: 6.95.x
- Packages: platform-express

While implementing a Keycloak RESTful API, a 404 error occurs on every route but HEAD, OPTIONS and GET ones.

### Examples

I am trying to list entities with a get /entities

`
  @Get()
  @KeycloakAuth({ role: "entities.read" })
  async getEntityList(...) { ... }
`

I get a 200 response.

I then try to add a new enti

[2022-03-29 03:06] Romakita commented on #1824
@xCryzed have an idea about this problem?

[2022-03-29 07:34] xCryzed commented on #1824
@ClementineBiais I think the 404 occurs because your method body is empty.

Does a client named `entities` in your running keycloak instance exist? You also need the corresponding client role `read`.

[2022-03-29 08:18] ClementineBiais commented on #1824
@xCryzed thank you for your answer.
I emptied my method body because I wanted to make sure that I wasn't related. But the same error occurs when it isn't empty, which is why I don't think it is related.
Elsewhere, no client named `entities` exists in my Keycloak instance, because I have another client name that I sliced here (the real format is `client:entities.read,` and I am sure I have a corres

[2022-03-29 09:10] Romakita commented on #1824
@ClementineBiais Ts.ED sent 404 if the method doesn't return a payload, expected if the method is decorated with `@Returns(204)`.

This is why your example is confusing ;)

See you
Romain

[2022-03-29 20:46] vincent-thomas commented on #932
It would be awesome if this framework could support fastify! I'm thinking of using this framework instead of nestjs. Leaning against tsed ☺️

[2022-03-29 20:46] vincent-thomas commented on #1818
Nice, thanks for the info!

[2022-03-29 20:46] #1818 closed, assigned to Romakita

[2022-03-30 06:59] ClementineBiais commented on #1824
Thank you very much @Romakita, I think that solved my issue !

[2022-03-31 10:13] MartinMuzatko opened #1825 "[BUG] Some links are broken in documentation"
I was trying to read up on functional programming to use tsed, then I found a dead link.
I then looked through the documentation to find a few more dead links.
Lastly I was running https://www.deadlinkchecker.com/website-dead-link-checker.asp to find any dead links.

There seem to be a few md pages that are linked, that links are not turned to html. That is probably because they are missing.

| St

[2022-03-31 20:34] Romakita commented on #1825
How!! Awesome! And thanks for the detailled feedback. I’ll take a time to fix it ;)

[2022-04-01 06:32] Romakita commented on #1825
@sofianeSghiouar To prevent future broken link, I suggest to use https://www.npmjs.com/package/linkinator with a github action in his dedicated workflow.

It will help us to detected broken link :)

[2022-04-01 06:32] #1824 closed, assigned to xCryzed

[2022-04-02 08:56] thanhchuongbmd opened #1833 "[BUG] Migrate from v5 - Cannot set property 'useClass' of undefined"
## Information

- **Version:** 6.x
- Packages:
    "@parse/node-apn": "3.1.0",
    "@tsed/common": "6.107.5",
    "@tsed/core": "6.107.5",
    "@tsed/exceptions": "6.107.5",
    "@tsed/platform-express": "^6.107.5",
    "@tsed/swagger": "6.107.5",
    "@tsed/typeorm": "6.107.5",
    "@tsed/json-mapper": "6.107.5",
    "@tsed/di": "6.107.5",

- When I run dev it throw err:

`TypeError: Cannot set p

[2022-04-02 12:41] Romakita opened #1834 "[TECH] Update @tsed/adapters on lowdb 3.0.0"
## Information

- **Version:** 6.x
- Packages: @tsed/adapters

Lowdb is now on v3.0.0. @tsed/adapters use the v1. The goal is to migrate on v3:
https://github.com/tsedio/tsed/tree/production/packages/orm/adapters

## Migration guide:

### Lowdb v1

[code]

### Lowdb v2/3

[code]

## Acceptance criteria

- [ ] The LowDbAdapter works as expected

[2022-04-02 12:44] Romakita opened #1835 "[BUG] Migrate @tsed/adapters-redis on ioredis v5"
## Information

- **Version:** 6.x
- Packages: @tsed/adapters-redis

IOredis is now on v5. @tsed/adapters-redis use the v4.

## Acceptance criteria

- [ ] The ioredis adapter works as expected

[2022-04-03 17:27] Romakita opened #1839 "[CI] Publish a slack notification on each release"
## Information

The idea is to publish a message on slack when a release is publish on NPM.

We can use the following semantic release plugin for that:

- https://github.com/juliuscc/semantic-release-slack-bot
- https://github.com/intuit/semantic-release-slack

[2022-04-04 06:16] Romakita commented on #1839
released

[2022-04-04 06:16] #1839 closed, assigned to Romakita

[2022-04-04 09:06] MatejSkrbis opened #1840 "[BUG] Buffers modified inside multer storage class"
## Information

**Previous version**: 5.61.1
**Current version**: 6.105.4

I've had custom multer storage implementation for uploading files directly into azure storage blob. This worked fine in tsed v5, but stopped working in tsed v6. After debugging I figured out that all Buffer objects are somehow modified somewhen after initialization, breaking the code. (Blob client from azure is using some B

[2022-04-04 10:45] Romakita commented on #1840
Hello @MatejSkrbis
Can you give a repo example to reproduce the error.
storage engine isn’t enough for me.

[2022-04-04 10:46] MatejSkrbis commented on #1840
OK, I will try to make full example and upload it here.

[2022-04-04 10:49] Romakita commented on #1840
If you can init with the cli a small it’s fine and a controller to upload file with the storage engine it will be really appreciate ;)

[2022-04-04 11:38] MatejSkrbis commented on #1840
Here is small repo with test controller. You just need to install the modules build it and run it.
To upload test file I simply used curl:
[code]

[TestStorage.zip](https://github.com/tsedio/tsed/files/8409255/TestStorage.zip)

[2022-04-04 12:34] Romakita commented on #1840
Ok I see the issue :)

[2022-04-04 12:44] Romakita commented on #1840
https://github.com/tsedio/tsed/pull/1841

[2022-04-04 12:57] #1840 closed, assigned to Romakita

[2022-04-04 13:08] c1moore opened #1842 "[BUG] First BodyParam Argument Type Not Validated"
## Information

- **Version:** 6.107.5
- Packages: @tsed/ajv @tsed/schema

It appears when you're accepting multiple BodyParams, the first BodyParam is not validated.  E.g.

[code]

If Param1Type looks something like this

[code]

Then if value1 is omitted, a 400 will not be thrown by TSeD/AJV.  However, if I switch the order and omit value1, a 400 will be returned, but `param2` starts to skip sch

[2022-04-04 17:10] Romakita commented on #1840
Release in progress @MatejSkrbis

[2022-04-04 17:17] Romakita commented on #1840
:tada: This issue has been resolved in version 6.110.1 :tada:

The release is available on:
- `v6.110.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.110.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-05 01:35] Romakita commented on #1833
It means you have an undefined class when you use OverrideProvider... please inspect your code.
Locate the file where you use the OverrideProvider decorator and give a reproducible example. The error isn't enough. Integration test work on my side since a long time.
See you
Romain

[2022-04-05 03:45] thanhchuongbmd commented on #1833
Thank you, I see OverrideProvider in my code!

[2022-04-05 03:45] #1833 closed, assigned to Romakita

[2022-04-06 04:29] tkroll opened #1845 "TypeORM v0.3.x example: Error: Provider.provide is required"
## Information

- node:  v16.14.2
- "@tsed/*": "^6.110.0"
-  "typeorm": "^0.3.5"

Moving my 0.2 code over using your examples at [https://tsed.io/tutorials/typeorm.html#typeorm-v0-3-x](https://tsed.io/tutorials/typeorm.html#typeorm-v0-3-x).

This code:

[code]

Errors with _Error: Provider.provide is required

Tried many values for **provide** but all give
TypeError: Cannot set property token of [

[2022-04-06 04:48] Romakita commented on #1845
Hello @tkroll

thanks for the issue. if you change useValue by:

useFactory: () => UserRepository

it works?

[2022-04-06 05:21] tkroll commented on #1845
Thanks for the quick reply.

provider is required on ProviderOpts in registerProvider, so same issue

[2022-04-06 06:14] Romakita commented on #1845
Ok wrong example. Sorry ;) The new documention will be released in few minutes!

Here is the right example:
[code]

[2022-04-06 06:15] Romakita commented on #1845
https://github.com/tsedio/tsed/commit/28df0616507e25b327350e11a0e949315f0c7021

[2022-04-06 06:19] tkroll commented on #1845
Jackpot! Thank you kindly @Romakita

[2022-04-06 06:19] #1845 closed, assigned to Romakita

[2022-04-06 07:08] #1752 closed, assigned to Romakita

[2022-04-06 07:12] tkroll commented on #1845
Any db operation now gives error EntityMetadataNotFoundError: No metadata for "User" was found now.
Using SQLite3 btw.

My data source:

[code]

[2022-04-07 04:40] tkroll commented on #1845
@Romakita I figured this out.

Datasource constructor needs an array of entities:

[code]
Ref: [What is an Entity (TypeORM)](https://typeorm.io/entities#what-is-entity)
Docs should probably include this.

[2022-04-07 04:51] Romakita commented on #1845
Ha ! True. I’ll add it ;)

[2022-04-07 06:12] tkroll commented on #1845
This works too:

[code]

[2022-04-07 14:18] ffujisawa opened #1847 "Using passport.js with socket.io"
## Information

- Version: 6.51.0
- Reference: https://socket.io/docs/v4/middlewares/#compatibility-with-express-middleware

Hello, I tried to get current user with socket.io according to [reference](https://socket.io/docs/v4/middlewares/#compatibility-with-express-middleware)

I call the method below with $OnConnection of SocketIOService, but socket.request.user is alyways undefined.

[code]

I g

[2022-04-07 15:57] #1815 closed, assigned to Romakita

[2022-04-07 16:17] Romakita commented on #1815
:tada: This issue has been resolved in version 6.110.2 :tada:

The release is available on:
- `v6.110.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.110.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-08 07:31] #1825 closed, assigned to Romakita, B8-RX

[2022-04-08 15:03] Grutula opened #1848 "[Possible BUG] Serialization of dates"
## Information

- **Version:** 6.110.1
- Packages: @tsed/json-mapper & @tsed/schema

I try to serialize my dates with a custom format, but did not succeed to use the serialize method of my custom JsonMapper.
Came back to the default ones with logs, and it seems that dates are transformed into strings before going to the JsonMapper layer

## Example

**Model**

[code]

**Controller**

[code]

**Map

[2022-04-08 15:11] Romakita commented on #1848
It’s not seems to be a bug…
Based on your log, the date is parsed correctly.
the result return a date as iso date time… this is the expected result by the framework.

I don’t see where it’s supposed to change the date format… you haven’t implemented a custom date mapper.

 for me it works.

[2022-04-08 15:21] Grutula commented on #1848
The serialize method is here:

[code]

It is supposed to return the date without the time part

Moreover the log is `serialize the primitive string: 2022-04-08T00:00:00.000Z` and not `serialize the date object: 2022-04-08T00:00:00.000Z` (still based on the log in the serialized method)

Sorry I just realized now that my title was about deserialization and not serialization ... I'll update it

[2022-04-08 16:34] Romakita commented on #1848
Are you sure you haven’t another decorator on the property?
Because we don’t see the date console.log in your date mapper

[2022-04-08 17:10] Grutula commented on #1848
First of all, thanks for your quick reply 👍

Hum nope it seems that I give you all that I have

I just updated a bit Request & Response to have another Date in the output, and it's still going to the PrimitiveMapper class instead of the DateMapper class

/models/Test.ts

[code]

src/controllers/TestController.ts

[code]

Console

[code]

<img width="1591" alt="image" src="https://user-images.githu

[2022-04-08 17:55] Romakita commented on #1848
Hum it strange. I’ll try to investigate ;)

[2022-04-10 17:38] Romakita commented on #1819
Hello @derevnjuk
I worked on the bodyParser issue. Finally, The only correct way to manage that is to add bodyParser for each endpoint depending on the collected metadata.

it doesn’t fix issue if the server add a body parser during the $beforeRoutesInit. But if the body parser is removed, it works as expected.

There is no better option ^^.

The pr is almost ready. I need to update the documentio

[2022-04-11 06:06] #1819 closed, assigned to Romakita, derevnjuk

[2022-04-11 06:13] Romakita opened #1852 "[TECH] Use K6.io instead wrk to run benchmark"
## Information

k6.io is more flexible than wrk.

Here is the page to configure k6:

https://k6.io/blog/load-testing-using-github-actions/

## Acceptance criteria

- [ ] Benchmark are publicated on each pull request

[2022-04-11 06:31] Romakita commented on #1819
:tada: This issue has been resolved in version 6.111.0 :tada:

The release is available on:
- `v6.111.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.111.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1840
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1815
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1811
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1812
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1809
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1389
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1723
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:36] Romakita commented on #1743
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:37] Romakita commented on #1741
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:37] Romakita commented on #1819
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:37] Romakita commented on #1756
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:37] Romakita commented on #1767
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 07:37] Romakita commented on #1765
:tada: This issue has been resolved in version 7.0.0-beta.4 :tada:

The release is available on:
- `v7.0.0-beta.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-14 16:24] github-actions[bot] opened #1862 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 1794  |
| ✅ Successful | 1576  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 217   |

## Errors per input
### Errors in CONTRIBUTING.md
* [https://github.com/tsedio/ts-express-decorators/graphs/contributors](https://github.com/tsedio/ts-express-d

[2022-04-15 11:48] gdraganic opened #1864 "[BUG] Passport oauth2"
## Information

- **Version:** 6.x
- Packages: @tsed/passport

It is not possible to extract additional OAuth2 information with the `$onVerify` function. When using standalone passport it is achieved with the following verify callback:

The cause of the problem is here:
https://github.com/tsedio/tsed/blob/edc607caa18626d1bd2890c5200d2e3dabbd31af/packages/security/passport/src/services/ProtocolsSer

[2022-04-15 14:20] Romakita commented on #1864
Hello @gdraganic

As it's explain in the documtentation: https://tsed.io/tutorials/passport.html#discord-auth, you can use the `@Arg` or `@Args` decorator for that:

[code]

See you
Romain

[2022-04-15 14:20] #1864 closed, assigned to Romakita

[2022-04-16 01:07] #1755 closed, assigned to Romakita

[2022-04-17 07:38] gdraganic commented on #1864
Hi @Romakita,

There is no problem in retrieving `accessToken`, `refreshToken` and `profile`, it works well with both `@Arg` and `@Args` decorators.

However it is not possible to extract the `params` field (which contains properties like `expires_in` , `scope` and `token_type`): https://github.com/jaredhanson/passport-oauth2/issues/82#issuecomment-305136510

It is not possible because of the reas

[2022-04-17 09:18] Romakita commented on #1864
Ok I see, the oauth passport module test if the signature have the expected number of argument. I'm sorry but I can't fix it. The problem is about the passport-oauth which uses a bad way of injecting the parameters and not my way of implementing a code which must work with the set of strategies provided by passport (each passport have is own verify signature). I won't implement a specific use case

[2022-04-19 01:07] #1744 closed, assigned to Romakita

[2022-04-21 07:31] air2 opened #1868 "[BUG] BETA npm packages for V7 are not tagged as @next."
## Information

- **Version:** 6.x
- Packages:

When I run npm install I do not expect beta packages to be included, but because they are tagged @latest instead of @next  they are.

[2022-04-21 07:49] Romakita commented on #1868
Ok I see. It should have it. It’ll take a time too configure the ci to deploy beta as next

[2022-04-24 10:05] #1848 closed, assigned to Romakita

[2022-04-24 11:14] Romakita commented on #1848
:tada: This issue has been resolved in version 6.113.3 :tada:

The release is available on:
- `v6.113.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.113.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-25 09:46] #1842 closed, assigned to Romakita

[2022-04-25 11:42] Romakita commented on #1842
:tada: This issue has been resolved in version 6.114.0 :tada:

The release is available on:
- `v6.114.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-26 10:01] Romakita commented on #1842
:tada: This issue has been resolved in version 7.0.0-beta.11 :tada:

The release is available on:
- `v7.0.0-beta.11`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-26 10:01] Romakita commented on #1848
:tada: This issue has been resolved in version 7.0.0-beta.11 :tada:

The release is available on:
- `v7.0.0-beta.11`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-29 06:57] KBroichhausen opened #1881 "[BUG] TypeError at Object.getMetadata / TypeORM 0.3.x tutorial/documentation is broken"
## Information

- **Version:** 6.114.2
- Packages: @tsed/di

I try to upgrade to every packages' latest version in my project and therefore want to implement a TypeORM 0.3.x DataSource.
Following the tutorial from https://tsed.io/tutorials/typeorm.html#typeorm-v0-3-x, I removed `@tsed/typeorm`.

I did the Injection as described with
[code]
and the log tells me, that the connection is established b

[2022-04-29 08:02] Romakita commented on #1881
Hello @KBroichhausen
I'd just updated the Typeorm project example. All works as expected. I encourage you to checkout the project and compare the code with your project: https://github.com/tsedio/tsed-example-typeorm

With the exception of typos in the documentation, there is no error (the documentation fix is on going). Typos are not blocking to make a project work on the new version of typeorm.

[2022-04-29 08:16] KBroichhausen commented on #1881
Hi @Romakita,
I highly appreciate your fast answer!
EDIT: NVM, I just realised that the `USER_REPOSITORY` in your example is injected and declared via `registerProvider`. I try to solve and check what the issue is in my setup and will return later to this issue.

[2022-04-29 08:24] Romakita commented on #1881
OK ^^

[2022-04-29 08:27] Romakita commented on #1881
In the Server.ts, I changed the following code to see if there is an issue with the datasource injection:

[code]
The server start correctly in this case :)

[2022-04-29 09:15] KBroichhausen commented on #1881
Ok, I found the error and was able to reproduce it in your example with just small changes.
The second code block from https://tsed.io/tutorials/typeorm.html#typeorm-v0-3-x contains this line
[code]
while it needs to be
[code]
(which is of course correct in the github example you linked)

Instead of using the variable for the `DataSource` you need to use the variable for the symbol for that.

It i

[2022-04-30 07:13] Romakita commented on #1881
Fixed: https://github.com/tsedio/tsed/blob/production/docs/tutorials/typeorm.md

Note: The documentation is open-source and can be fixed by making a PR ;)

[2022-04-30 07:13] #1881 closed, assigned to Romakita

[2022-04-30 07:47] Romakita commented on #1881
## 🎉 Are you happy?

If you appreciated the support, know that it is **free** and is carried out on **personal time** ;)

A support, even a little bit **makes a difference** for me and  **continues to bring you answers**!

[![github](https://img.shields.io/static/v1?label=Github%20sponsor&message=%E2%9D%A4&logo=GitHub&color=%23fe8e86)](https://github.com/sponsors/romakita) [![opencollective](https

[2022-05-01 23:33] github-actions[bot] opened #1890 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2011  |
| ✅ Successful | 1747  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 263   |

## Errors per input
### Errors in packages/third-parties/socketio/readme.md
* [https://tsed.io/_media/socketio.png](https://tsed.io/_media/socketio.png): Failed

[2022-05-06 13:01] MatejSkrbis opened #1894 "[BUG] @Returns won't return correct status with 200 and 202 defined"
## Information

- **Version:** 6.114.6

When both decorators `@Returns(200)` and `@Returns(202)` are set, it is not possible to set status 200

## Example

[code]

When only `@Returns(200)` is set, it is possible to set both statuses. (200 and 202)
When only `@Returns(202)` is set, it is only possible to set status 202, but not status 200

## Acceptance criteria

What is set in `response.status(`*

[2022-05-06 13:17] Romakita commented on #1894
It’s not a bug. Use only one status in 2xx please.
See you

[2022-05-06 13:17] #1894 closed, assigned to Romakita

[2022-05-08 23:36] github-actions[bot] opened #1895 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2012  |
| ✅ Successful | 1762  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 249   |

## Errors per input
### Errors in docs/tutorials/seq.md
* [http://localhost:5341/](http://localhost:5341/): Failed: Network error

### Errors in packages/specs/

[2022-05-12 08:13] shivanshtalwar0 opened #1896 "after upgrading to latest version server cannot get started throwing exception"
## Information

- **Version:** 6.114.8
- Packages:
getting this error attaching stacktrace
[code]

[2022-05-12 11:41] Romakita commented on #1896
Have you the same version for all @tsed dependencies. All integration test works. So the problem is on your side. Please give me a reproducible example.

[2022-05-12 11:46] shivanshtalwar0 commented on #1896
Same code works on 6.112.0 but it throws mongoose NativeError that you
fixed in latest version. I am not sure why it is not working.

On Thu, 12 May, 2022, 5:12 pm Romain Lenzotti, ***@***.***>
wrote:

[2022-05-12 11:48] shivanshtalwar0 commented on #1896
It says error is in JsonEntityStore.ts but this file doesnt exist

[2022-05-12 11:51] shivanshtalwar0 commented on #1896
About working example i am not so sure what exactly is causing this exception to happen so i don't know what to share with you i only have access to project

[2022-05-12 12:08] Romakita commented on #1896
The .ts file is never embed in the npm module because the code is compiled. Ok so it's related to mongoose...

If you update the mongoose package?

[2022-05-12 12:09] Romakita commented on #1896
It's strange the code commit concern a problem about interface...
Your code works with v6.114.7 ?

[2022-05-12 12:14] shivanshtalwar0 commented on #1896
I am running mongoose 6.3.3 and no it doesn't work on 6.114.7
It only works on 6.112.0 but on building using npm run build tsc throws NativeError from mongoose package that you fixed recently

[2022-05-12 12:15] shivanshtalwar0 commented on #1896
I am kind of stuck neither upgrading or downgrading entirely fixes up the problem

[2022-05-12 14:34] Romakita commented on #1896
@shivanshtalwar0  Ok, It wasn't clear. So after 6.112.0, the project doesn't works.

Have you tried intermediate version ? because the range between v6.112 and v6.114 is large (fix and feature).

[2022-05-12 14:37] Romakita commented on #1896
And again I haven't issue on other projects and your stack trace doesn't help, If you are not able to localize the origin of this issue  (Service/Middleware/Controller/Models).

The problem seems to be related to a decorator that use a:
[code]

[2022-05-13 11:48] Romakita commented on #1896
Hello @shivanshtalwar0
Have you found the root cause ?

If not, you can contact me on slack :)
See you
Romain

[2022-05-13 11:49] #1890 closed, assigned to nobody

[2022-05-13 11:49] #1868 closed, assigned to Romakita

[2022-05-13 11:49] #1862 closed, assigned to nobody

[2022-05-13 11:59] shivanshtalwar0 commented on #1896
:( still couldn't trace down real issue as i have not used any of these it would be nice to connect on slack and show you via codeshare

[2022-05-13 12:00] shivanshtalwar0 commented on #1896
please share your skype or slack id so I can connect with you at suitable time.

[2022-05-13 12:09] shivanshtalwar0 commented on #1896
also if it interests you i have replicated the bug in brand new project just by copy-pasting few files over here's the repo for you to dig into https://github.com/shivanshtalwar0/tsed-bug-tracing

[2022-05-13 13:03] Romakita commented on #1896
https://api.tsed.io/rest/slack/tsedio/tsed

[2022-05-13 13:04] Romakita commented on #1896
Perfect. I take a time to look the problem :)

[2022-05-13 13:54] Romakita commented on #1896
Ok you have a circular reference between UserModel and StoreModel. It certainly not related to the [v6.114.8](https://github.com/tsedio/tsed/releases/tag/v6.114.8).

I think you haven't tested versions between v6.112.3 and v6.114.8... But I don't know what the version responsible of this bug.

I'll add a pre check to avoid undefined model when the `@Ref` decorator is used and emit message to expla

[2022-05-13 14:09] shivanshtalwar0 commented on #1896
I have tried v6.114 and v6.113 problem persist in both of them i will try to resolve circular dependency and try if that works earlier this wasn't the issue but i don't know what introduced this bug

[2022-05-13 14:13] Romakita commented on #1896
ok so it's between v6.112.0 and v6.113.0.

The PR is ready to be released :)

[2022-05-13 14:23] #1896 closed, assigned to Romakita

[2022-05-13 14:46] Romakita commented on #1896
:tada: This issue has been resolved in version 6.114.9 :tada:

The release is available on:
- `v6.114.9`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-13 14:49] shivanshtalwar0 commented on #1896
Thank you very much bro for quick resolution ❤️

[2022-05-15 23:44] github-actions[bot] opened #1899 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2012  |
| ✅ Successful | 1800  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 211   |

## Errors per input
### Errors in docs/getting-started/start-from-scratch.md
* [file:///github/workspace/docs/getting-started/configuration.md](file:///github/w

[2022-05-17 11:24] tuunjuuso opened #1900 "[BUG] QueryParams error"
## Information

- **Version:** 6.114.9
- Packages: @tsed/common

I was updating tsed packages from 6.114.3 -> 6.114.9. I am now having problem with our custom implementation of [pagination example](https://tsed.io/docs/response-filter.html#pagination)

## Example

[code]

The code above works fine with the older package versions, but for some reason now I get the following error from this `@QueryP

[2022-05-19 05:55] Romakita commented on #1900
Hello @tuunjuuso
I'll try to fix that :)

Is it normal to not have a `@Property` on sortBy ?

[2022-05-19 06:16] Romakita commented on #1900
I'm not able to reproduce. The framework have the same usecase as integration test and it works as expected.

<img width="881" alt="Capture d’écran 2022-05-19 à 08 13 29" src="https://user-images.githubusercontent.com/1763311/169223080-e6013aa5-6f2c-4193-aff8-2cdc2b290536.png">

Have you the same packages for all Ts.ED package?

Please take a time to create a reproducible example! I close the is

[2022-05-19 06:16] #1900 closed, assigned to Romakita

[2022-05-19 10:45] tuunjuuso commented on #1900
The full error is this:
[code]

So, if I change the parameter like this
`@QueryParams() filter: typeof FindQuery`
it doesn't cause any errors anymore.

And the missing `@Property()` was a copy-paste error. Sorry.

I am just wondering could this be cause by the SuperTest environment? I failed to mention that these error came from tests.

Anyways, I'll try to see if I can create simple reproduceable

[2022-05-19 12:40] LywLover opened #1901 "[BUG] ERR_PNPM_PEER_DEP_ISSUES  Unmet peer dependencies"
## Information

- **Version:** 6.x
- Packages:
    "@tsed/ajv": "^6.114.9",
    "@tsed/common": "^6.114.9",
    "@tsed/core": "^6.114.9",
    "@tsed/di": "^6.114.9",
    "@tsed/exceptions": "^6.114.9",
    "@tsed/json-mapper": "^6.114.9",
    "@tsed/logger": "^6.1.2",
    "@tsed/mongoose": "^6.114.9",
    "@tsed/openspec": "^6.114.9",
    "@tsed/platform-express": "^6.114.9",
    "@tsed/platform-m

[2022-05-19 12:58] Romakita commented on #1900
Because it's transformed to an interface by typescript. But in this case, the `@tsed/json-mapper` won't be able to use the interface to map your input data.

[2022-05-19 13:03] Romakita commented on #1901
Hello @LywLover,

I think I'll drop the support of PNPM ^^. But about the body parser it's easy to fix it. For react, it should be optional. I only fix the issue for body-parser, right know !

See you
Romain

[2022-05-19 13:04] tuunjuuso commented on #1900
I did some more digging. Even though I didn't change the version of tsed libraries, but did some other changes to packages, it still gave that error. So my best guess at the moment is that there is something wrong with something else in the project. At least my initial error post about updating the version is irrelevant.

I'll try to give an update after finding the reason.

[2022-05-19 13:05] Romakita commented on #1901
Also, you can easily make a PR instead of filling an issue. Any contribution is welcome!

[2022-05-19 13:26] LywLover commented on #1901
Thanks for your help!

I'm using Ts.ED + Next.js app.requestHandler. Could you please change to```"react": "^16.0.0 | ^17.0.0 | ^18.0.0"``` in order to compatibility with react.

[2022-05-19 13:57] Romakita commented on #1901
https://github.com/tsedio/tsed/blob/production/packages/engines/package.json#L66

[2022-05-19 14:29] #1901 closed, assigned to Romakita

[2022-05-19 14:33] Romakita commented on #1901
The problem for react isn't under my control. It's related to consolidate package. You can switch on @tsed/engine. It's a fork of consolidate and use the same configuration. See https://tsed.io/docs/templating.html

[2022-05-19 14:53] Romakita commented on #1901
:tada: This issue has been resolved in version 6.114.10 :tada:

The release is available on:
- `v6.114.10`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-20 07:53] tuunjuuso commented on #1900
I found the cause of the error. It is tsed related, though not sure what is the actual reason.

So the error came from our Middleware where we had this call:
[code]

I used debugger to find out what was the function that caused the error, and [it was this line](https://github.com/tsedio/tsed/blob/fe3e2afa0a785122027f3e8196a42c362842c09f/packages/specs/schema/src/domain/JsonParameter.ts#L123) in `t

[2022-05-22 23:34] github-actions[bot] opened #1903 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2009  |
| ✅ Successful | 1735  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 273   |

## Errors per input
### Errors in docs/tutorials/stripe.md
* [https://www.npmjs.com/package/@tsed/stripe](https://www.npmjs.com/package/@tsed/stripe): Failed: N

[2022-05-25 06:56] Romakita opened #1905 "[BUG] Error: Cannot find module '../.schema' - Prisma"
## Information

- **Version:** 6.x
- Packages: prisma

The module location isn't correct when the prisma project is generated with default option

## Acceptance criteria

- [ ] Generate the correct prisma project

[2022-05-25 09:34] #1905 closed, assigned to Romakita

[2022-05-25 09:56] Romakita commented on #1905
:tada: This issue has been resolved in version 6.114.11 :tada:

The release is available on:
- `v6.114.11`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-25 10:54] Romakita opened #1907 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `production` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m su

[2022-05-25 12:26] #1907 closed, assigned to nobody

[2022-05-27 07:14] casperiv0 opened #1909 "[bug]: versions not published correctly (`@tsed/core@npm`)"
## Information

- **Version:** 6.114.x
- Packages: `@tsed/core`

The latest version of `@tsed/core` is not published as `6.114.13`, therefore when updating the other packages (`@tsed/common`, `@tsed/di`, etc) the core package is not found with said version.

When downgrading back to version `6.114.10` on all installed packages, it will install correctly without any issues.

![image](https://user-i

[2022-05-27 08:24] Romakita commented on #1909
you can try to install v6.114.12 until the new version is published :)
The fix is on going. I don't know why the tsed/core package wasn't correctly published.

[2022-05-27 08:32] #1909 closed, assigned to Romakita

[2022-05-27 08:52] Romakita commented on #1909
:tada: This issue has been resolved in version 6.114.14 :tada:

The release is available on:
- `v6.114.14`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.14)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-27 08:55] casperiv0 commented on #1909
Yep! Seems to be resolved now, thanks a lot!

[2022-05-27 11:40] diego-rapoport commented on #1487
Is that documented? Couldn't find it anywhere I was looking.

[2022-05-27 12:20] Romakita commented on #1487
just use ES6 import.

[code]

Ts.ED discover automatically imported classes.

[2022-05-29 23:34] github-actions[bot] opened #1914 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1808  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 201   |

## Errors per input
### Errors in packages/platform/platform-serverless-http/test/integration/aws-basic/README.md
* [https://xxxxxxx.execute-api.us-east-1.amazo

[2022-05-30 06:15] #1895 closed, assigned to nobody

[2022-05-30 06:15] #1899 closed, assigned to nobody

[2022-05-30 06:15] #1903 closed, assigned to nobody

[2022-05-30 22:10] xantos008 opened #1916 "Browser and useragent"
Hello there!
Is there any functions or decorators that defines useragent and browser?
Something like
@Request('browser') browser // return string like 'Chrome' or 'Safary' or 'Other Browser' and etc.
@Request('useragent') useragent // return string like 'Windows' or 'Mac Os' or 'iOs' or 'Other Platform' and etc.

[2022-05-31 04:45] Romakita commented on #1916
Use ˋ@Header` and https://www.npmjs.com/package/express-useragent

[2022-05-31 04:45] #1916 closed, assigned to Romakita

[2022-05-31 14:45] bloodred17 opened #1917 "What is @Module() and how to use them?"
## Information

**Is your feature request related to a problem? Please describe.**
While using `tsed generate` I noticed Modules, I want to know if it works similar to how a Module works in NestJs?  If so, how? I couldn't find any documentation for it in the tsed.io.

I wanted to make a Module implementation of an API. While importing it in my module I want to provide the API key. And I want to im

[2022-05-31 15:57] Romakita commented on #1917
Hello @bloodred17 ,

The `@Module` is not really similar to Nestjs (or partially). By definition, a module in nodejs is a file. Ts.ED use this philosophy to consider all imported files through an ES import as a module.

The module decorator is just here to organize the code and implements hooks to intercept some Ts.ED events. Module and Injectable are similar!

https://github.com/tsedio/tsed/blob/

[2022-05-31 15:58] #1917 closed, assigned to Romakita

[2022-05-31 23:33] cyraid opened #1919 "[BUG] CVE-2022-24434 high security vulnerability in platform-express > multer > busboy > dicer"
## Information

- **Version:** 6.114.14
- Packages: @tsed/platform-express > multer > busboy > dicer

There is a high security vulnerability found after doing npm audit, as when I installed it gave me an alert.
[https://github.com/advisories/GHSA-wm7h-9275-46v2](https://github.com/advisories/GHSA-wm7h-9275-46v2)

If I'm not mistaken, for platform-express, shouldn't multer be a peer dependency?

[2022-06-01 04:46] Romakita commented on #1919
Hello @cyraid
Look the constraint here: https://github.com/tsedio/tsed/blob/production/packages/platform/platform-express/package.json#L60

The version isn’t fixed. You can install the multer as your own dependencies.

I cannot change that without causing a breaking change. And this module is imported in the code. Maybe in v7 I’ll change that.

See you

[2022-06-01 07:07] cyraid commented on #1919
I'm using the newest multer in the dependencies but the warning still pops up.

[2022-06-01 07:21] #1919 closed, assigned to Romakita

[2022-06-01 07:47] Romakita commented on #1919
:tada: This issue has been resolved in version 6.114.15 :tada:

The release is available on:
- `v6.114.15`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-01 08:47] Romakita commented on #1919
Maybe you need to use npm dedup.

[2022-06-01 08:53] xantos008 commented on #1916
@Header() is sets headers to response. But we want to get browser info and useragent info in middleware

[2022-06-01 09:18] Romakita commented on #1916
rhooo.... HeaderParams, please... take a time to read the documentation.

[2022-06-01 20:53] cyraid commented on #1919
That was quick! Though I think 1.4.4 still is affected. The message says it was fixed in 1.4.4-lts.1, and there's also 1.4.5-lts.1 now. npm dedup didn't work for me. :(

and version 1.4.4-lts.1 of Multer. If you need support for older versions of Node.js, we are open to accepting patches that would fix the CVE on the main 1.x release line, whilst maintaining compatibility with Node.js 0.10.

Does

[2022-06-02 05:14] Romakita commented on #1919
Ok i’ll update the dependencies to lts ;)

[2022-06-02 05:17] Romakita commented on #1919
It’s strange, if dedup doesn’t works it means you hzven’t duplicated multer. Look in node_modules/@tsed/platform-express/node_modules. Check if you have a multer package.

You have npm 8?

[2022-06-02 10:38] imoyakin opened #1927 "[BUG] or [🚀 Feature request] logger.debug() is not shown on stdout when use with other package"
## Information

- **Version: v6.1.3
- Packages: logger

A few sentences describing the overall goals of the issue.

when i try to use $log.debug() on  function who called by the other library, without ts.ed context. Logs are output at the default level instead of setting.

## Example

[code]

[code]

## Acceptance criteria

- [ ] Show the expected debug log with setting, doesn't care if it's not i

[2022-06-02 13:22] Romakita commented on #1927
I don't understand your issue. $log.debug is on outputted by default on stderr.

If you look at the documentation you can choose at any time what the debug should be mapped to. Read the doc here:
https://logger.tsed.io/appenders/stderr.html

See you
Romain

[2022-06-02 13:22] #1927 closed, assigned to Romakita

[2022-06-02 16:55] nabhasalakkat commented on #1919
I'm using `v6.114.15` of platform-express but still getting the `@tsed/platform-express > multer > busboy > dicer` vulnerability

[2022-06-02 16:56] Romakita commented on #1919
yes the PR isn't merged with the latest dependencies. I'll do that ASAP.

[2022-06-03 00:29] cyraid commented on #1919
Thank you @Romakita!

[2022-06-05 23:31] github-actions[bot] opened #1933 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1703  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 306   |

## Errors per input
### Errors in docs/getting-started/migrate-from-express.md
* [file:///github/workspace/docs/getting-started/configuration.md](file:///github

[2022-06-09 09:50] Paul75 opened #1935 "[BUG] favicon"
Hello,

It seams not have favicon when open sxagger.json  (http://localhost:3000/doc/swagger.json) get errors...

Thanks

[2022-06-09 11:53] Romakita commented on #1935
Hello Paul,
You mean, when open swagger-ui. Is it really important ?

But your issue Just expose the favicon with the static express module!
Look here: https://tsed.io/docs/serve-files.html

Isn't really an issue, it's just a problem with the original swagger ui template. I won't fix that personally :)

[2022-06-09 11:56] #1935 closed, assigned to Romakita

[2022-06-12 23:32] github-actions[bot] opened #1938 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1714  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 295   |

## Errors per input
### Errors in docs/getting-started/start-from-scratch.md
* [file:///github/workspace/docs/getting-started/configuration.md](file:///github/w

[2022-06-14 18:08] mfuqua3 opened #1942 "[BUG] Model deserialization fails if class has an initializing constructor"
## Information

- **Version:** 6.114.17
- Packages:
@tsed/json-mapper

The goal is to support the use of C#-esque "object initializer" syntax within domain TsED models. Currently this type of constructor will break the deserializer

## Example
Steps to Reproduce:
#### Bug Test Controller ####
[code]
#### Test the endpoint
[code]
#### Result
###### JSON Schema:
[code]
###### Deserialized Model:
[co

[2022-06-14 19:15] Romakita commented on #1942
Hello @mfuqua3
For me it’s not a bug. The deserialiser give the raw object to the class constructor to allow custom mapping. I won’t change this behavior because it’s totally intented. Your constructor allow a wrong object assignment. It’s not secure to use Object.assign() (prototype pollution).

Changing that will cause a potential breaking change.

See you

[2022-06-14 19:20] Romakita commented on #1942
Also I’m not sure to understand why it broke the deserializer, excepted about the potential class properties pollution (introduced by your Object.assign()). All properties with annotation will be deserialized correctly. It doesn’t throw error.

[2022-06-14 21:47] mfuqua3 commented on #1942
Hey @Romakita , thank you for the response.

~~I believe this constructor signature caused some unexpected behavior in the deserializer because the `plainObjectToClass` function invokes the class model constructor using the raw request body as a parameter:~~

~~I understand my use-case is not the intention, but I could not figure out what purpose this invocation serves.~~

Edit: I misread your com

[2022-06-17 06:29] Romakita commented on #1942
Hello @mfuqua3

Sorry, I thought I answered you on the last comment but it seems that the message got lost.

I see your issue. But I cannot change the json-mapper behavior.

But you can simplify your code. When you us `@Returns` on an endpoint, the moel will be used by the json-mapper to serialize you object (plain object or instance class) to generate the response. So you don't need to create a n

[2022-06-17 10:04] xferqr opened #1943 "[BUG] Page Controllers - /docs/controllers"
Hello!
If the path is set without a  **"/"**, then the route is incorrect: @Get(":id") ->  **@Get(":/id")**

[2022-06-17 12:26] #1943 closed, assigned to nobody

[2022-06-17 16:12] mfuqua3 commented on #1942
@Romakita

Thank you, this is enormously helpful feedback. I will adjust our application per your suggestions, thank you for your time and all of the work you do on this framework.

We can consider this issue closed.

[2022-06-17 16:18] Romakita commented on #1942
I'll consider your issue for the next major version. Your constructor example give me a potential security issue ^^.
Thanks for that ;)

[2022-06-17 18:32] xferqr opened #1944 "[BUG] Page Model - /docs/model"
Hi.
If you follow the instructions in the documentation, then the validator does not see changes in the model fields.

![image](https://user-images.githubusercontent.com/45597852/174356876-2daff8ec-a3fb-4419-9fec-2c16a36cc82b.png)
![image](https://user-images.githubusercontent.com/45597852/174356953-75b12e78-e79c-4880-b7de-25b63eb76365.png)
![image](https://user-images.githubusercontent.com/455978

[2022-06-17 19:42] Romakita commented on #1944
Hello @xferqr

please give me reproducible and complete example. (Avoid capture, prefer text so I can copie your example).

For me the groups works as expected, many devs use it and I use groups in many project.

Please take a time to create reproducible example ;)

see you

[2022-06-19 04:11] str11ngfello opened #1946 "tsed prisma generator creates ambiguous imports for enum types"
## Information

- **Version:** 6.114.17
- Packages: prisma

Prisma generate creates ts files that will not transpile with ```yarn build``` due to ts2308 error regarding ambiguous imports created by tsed generator. Specifically the index file in the generated directory has the import error. See my VSCode screenshot where I've positioned everything you need in view. In the project explorer you can s

[2022-06-19 07:46] Romakita commented on #1946
Hello @str11ngfello
It should helpful if you can provide small repository with code example please.

See you
Romain

[2022-06-19 13:07] #1834 closed, assigned to Romakita, B8-RX

[2022-06-19 13:08] #1835 closed, assigned to Romakita, B8-RX

[2022-06-19 13:08] #1847 closed, assigned to Romakita

[2022-06-19 13:09] #1852 closed, assigned to Romakita

[2022-06-19 23:32] github-actions[bot] opened #1948 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1788  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 221   |

## Errors per input
### Errors in packages/orm/adapters/readme.md
* [https://tsed.io/tutorials/adapters](https://tsed.io/tutorials/adapters): Failed: Network er

[2022-06-20 17:58] derevnjuk opened #1949 "[FEAT] Use ALS to map EM to requests in the background"
## Information

To utilize implicit transactions using the whole power of UoW, `@tsed/mikro-orm` provides the ability to register an interceptor using the `@Transactional` decorator. The interceptor is in charge of forking an entity manager within the async context mapping it to the particular call.

There are a few issues with this approach:

* Missed `@Transactional` might lead to race condition

[2022-06-23 09:32] yohannlog opened #1954 "[BUG] Agenda tasks not executed"
## Information

- **Version:** 6.114.17
- **Packages**: @tsed/agenda, agenda(4.3.0)
- **Tested versions**: 18.3.0 and 16.15.0

I tried to add agenda support to my project and I can't execute tasks. All tasks are registered in mongodb database but are not executed. I see the agenda use UTC Time but if I used date object, he didn't work as well. (UTC or not). Is it a bug or a code problem?

## Examp

[2022-06-23 10:47] Romakita commented on #1954
Don’t use @Define on server please. The document show you the right way to declare agenda task. Please follow the document before opening an incorrect issue ;)

see you

[2022-06-23 10:47] #1954 closed, assigned to Romakita

[2022-06-24 10:33] tomapp commented on #1946
Hello,

Before using the import from "@tsed/schema" I was importing most of my stuff from "@prisma/client" at first and it did not cause any problem during the build.

Now I meet the exact same issue. I'm trying to build a small example to help you to reproduce, but it works. I can't figure out what trigger this behaviour.

Maybe it can give you a clue : I think this could come from some conflict

[2022-06-24 11:57] Romakita commented on #1946
If you are not able to reproduce with a small repo, I can't help you. The problem is located on your repo and how you implement your code.

Your supposition is wrong ^^. @tsed/schema is a base of all others tsed module. It doesn't depend or import any other module expected `@tsed/core`.

The typescript error you have, shows a symbol problem exported twice or because typescript is incorrectly confi

[2022-06-24 12:48] wimpheling commented on #860
Here is an update version of @Romakita 's answer for tsed v6 :

[code]

[2022-06-24 13:19] Romakita commented on #1943
:tada: This issue has been resolved in version 6.114.18 :tada:

The release is available on:
- `v6.114.18`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.114.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-26 18:35] tomapp commented on #1946
Hello !

I found a way to reproduce the bug with a simple example right [here](https://github.com/tomapp/enum-issue)!
Definitly something related to the enum type.

[2022-06-26 20:56] Romakita commented on #1946
Thanks. I’ll a look ^^

[2022-06-26 23:32] github-actions[bot] opened #1959 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1734  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 275   |

## Errors per input
### Errors in docs/tutorials/stripe.md
* [https://www.npmjs.com/package/stripe](https://www.npmjs.com/package/stripe): Failed: Network error

[2022-06-27 07:03] #1914 closed, assigned to nobody

[2022-06-27 07:03] #1933 closed, assigned to nobody

[2022-06-27 07:03] #1938 closed, assigned to nobody

[2022-06-27 07:03] #1948 closed, assigned to nobody

[2022-06-27 07:11] Romakita commented on #1946
Ok the bug is related to the build command. Prisma/client generate enums and tsed also with same names.

I'm surprised it hasn't been brought up sooner.

[2022-06-27 07:33] Romakita commented on #1946
PR is ready: https://github.com/tsedio/tsed/pull/1960

[2022-06-27 10:08] #1946 closed, assigned to Romakita

[2022-06-27 11:27] tomapp opened #1961 "[BUG] Body parser configuration cause a build error"
## Information

- **Version:** 6.114.17
- Packages:

Hello,

Since I've updated my packages, I can't get my json payload in my `@Req() req.body` `@BodyParams()`.
I've migrate the bodyParser to be compliant with the new approach, but it does not solve the problem, and even generate a build error sinces the options are not recognizes.

[I've provided you a example so you can reproduce the issue](htt

[2022-06-27 14:06] Romakita commented on #1961
@tomapp I don't see any change on your repo :)

[2022-06-27 15:22] tomapp commented on #1961
Sorry, here you go !

[2022-06-27 17:28] Romakita commented on #1961
Where did you find the new approach in the documentation exactly. Because the CLI generate the correct configuration :)

[2022-06-28 06:58] tomapp commented on #1961
So I've built the project a couple month ago, since I've updated my dependencies, I could not get my json body again.
Then I remember it was a typical body parser issue.

After research, I saw that's you change the way you deal with body-parser described here : https://tsed.io/docs/configuration.html#platform-options implemented in this [PR](https://github.com/tsedio/tsed/pull/1851)

And at the en

[2022-06-28 08:50] Romakita commented on #1961
Ok. As I see, the problem is about the typings. I'll fix that.

[2022-06-28 08:55] tomapp commented on #1961
Thanks for that !

I also get troubles with the empty body. But I guess it is related to the typing issue.

[2022-06-28 09:00] Romakita commented on #1961
It’s strange, but I’ll investigate to sure. The integration test cover theses scenarios ^^

[2022-06-28 21:29] tomapp commented on #1961
Alright I guess I'm getting tired. I check again, and the first approach you've done `bodyParser.json()` in the middleware key works perfectly. I think the documentation is a bit to early compare to the current version ? Other than that no problem other there ! :)

[2022-06-28 21:29] #1961 closed, assigned to Romakita

[2022-06-29 08:17] Romakita commented on #1946
:tada: This issue has been resolved in version 6.115.1 :tada:

The release is available on:
- `v6.115.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.115.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-30 06:03] Romakita commented on #1946
@str11ngfello @tomapp It's released ;)

[2022-06-30 15:40] #1949 closed, assigned to Romakita, derevnjuk

[2022-06-30 16:34] Romakita commented on #1949
:tada: This issue has been resolved in version 6.116.0 :tada:

The release is available on:
- `v6.116.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.116.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-30 20:53] Romakita commented on #1961
:tada: This issue has been resolved in version 6.116.1 :tada:

The release is available on:
- `v6.116.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.116.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-01 14:54] Romakita opened #1968 "[BUG] Remove mongoose term in swagger example description"

[2022-07-03 23:32] github-actions[bot] opened #1971 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1699  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 310   |

## Errors per input
### Errors in packages/third-parties/socketio-testing/readme.md
* [https://tsed.io/api/socketio/decorators/Input.html](https://tsed.io/api/s

[2022-07-06 09:53] Romakita commented on #1949
@derevnjuk There is regression around the context created by the server. The runInContext(next), doesn't works.

Are sure it was the good way to create context with express.js ?

[code]

I'll rollback the change and call the runInContext in PlatformHandler until the problem with next() isn't resolved

[2022-07-10 07:25] derevnjuk commented on #1949
@Romakita if there is a way to preserve context in the chain of middleware, it would be nice.

Yeah, this is how it works in express.js:

[code]

and, finally, in Koa:

[code]

Until it has been fixed I propose to rework `MikroOrmModule` to apply a workaround as follows:

[code]

[2022-07-10 08:48] Romakita commented on #1949
Hello @derevnjuk
Rework isn't necessary. The hook to bind context is called by the PlatformHandler.
See the PR here: https://github.com/tsedio/tsed/pull/1973/files

[2022-07-10 08:51] Romakita commented on #1949
[code]
Maybe it don't use the same thing. But I'm sure, the binding with the next function doesn't work with the Ts.ED async hook context. I updated my project this week and the context was lost.

I think the best approach is to make a small express app with an async hook context and see if it works :)

[2022-07-10 09:27] Romakita commented on #1949
Hum it works. https://github.com/Romakita/express-app-context

So ... what is wrong in Ts.ED ???

[2022-07-10 23:33] github-actions[bot] opened #1977 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2010  |
| ✅ Successful | 1803  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 206   |

## Errors per input
### Errors in packages/orm/mongoose/readme.md
* [https://github.com/tsedio/ts-express-decorators/graphs/contributors](https://github.com/tse

[2022-07-13 20:47] fredlemieux opened #1978 "[BUG] npx prisma generate in github action fails"
## Information

- **Version:** 6.116.5
- Packages:
[code]

Git hub action:
[code]

Error:
[code]

I'm not sure if this is the place to log this issue, but it is `/@tsed/prisma/src/cli/prismaGenerator.ts:35:19` that the error is thrown.

Without setting an output folder, I can run this fine locally, and but in the github actions I get the error above.

HOWEVER, if I set the output folder in the sch

[2022-07-13 22:19] Romakita commented on #1978
Prisma 4 was just to be release and the cli support the v3 only. I haven’t checked the breaking about prisma.

Solution 1: downgrade prisma and prisma client
Solution 2: read the prisma breaking change and adapte the generated code. You can give me your feedback ;)

See you
Romain

[2022-07-14 05:58] derevnjuk opened #1979 "[FEAT] Provide the ability to set isolation level using the `@Transactional` decorator"
## Information

As a user, I would like to set the transaction isolation levels using `@Transactional` decorator,  defining the type of locks acquired on DB operations.

The new option can be introduced, extending the `TransactionOptions` as follows:

[code]

Where `IsolationLevel` is enum from the `@mikro-orm/core` package:

[code]

## Acceptance criteria

- [ ] The isolation level can be set via

[2022-07-14 11:14] virus2016 opened #1981 "[BUG] VirtualRef unable to be mapped"
## Information

- **Version:** 6.114.16
- Packages: @tsed/mongoose

Using VirtualRef, I am unable to respond with th model through the controller.

Response does not contain "galaxies" or "galaxyCount":

[code]

## Example

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/11227384/178969950-88c9a909-7894-4286-937b-1d06774251f1.png)

## Acceptance criteria

- [ ] The respo

[2022-07-14 12:06] #1979 closed, assigned to Romakita

[2022-07-14 12:38] Romakita commented on #1979
:tada: This issue has been resolved in version 6.117.0 :tada:

The release is available on:
- `v6.117.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.117.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-15 07:56] #1981 closed, assigned to Romakita

[2022-07-15 08:37] Romakita commented on #1981
:tada: This issue has been resolved in version 6.117.1 :tada:

The release is available on:
- `v6.117.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.117.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-16 09:12] Romakita commented on #1978
steps to reproduce:

[code]

Select ORM > Prisma, let other option to default value and generate the project.

Error occurs here:

[code]

File:
https://github.com/tsedio/tsed/blob/production/packages/orm/prisma/src/cli/prismaGenerator.ts#L35

I think the issue isn't related to prisma v4 after investigation. fs.cp is experimental and was introduced in node.js v16.

@nicomartin92 replacing `fs.prom

[2022-07-17 23:32] github-actions[bot] opened #1984 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2037  |
| ✅ Successful | 1767  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 269   |

## Errors per input
### Errors in packages/platform/platform-serverless/readme.md
* [https://tsed.io/CONTRIBUTING.html](https://tsed.io/CONTRIBUTING.html): Cach

[2022-07-21 15:19] Romakita opened #1994 "[FEAT] Add PlatformRequest.route to log the matched route path"
## Information

As developer I want to add the matched route to each log when the information is available!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]

## Acceptance criteria

- [ ] route is added to the request logs

[2022-07-21 15:36] Romakita opened #1995 "[FEAT] Filter properties using groups"
## Information

**Is your feature request related to a problem? Please describe.**

Ts.ED provide a way to filter some properties of a Model based on a groups strategy. But this solution is statics and use the `@Groups` annotation to define the  mapped models.

The feature should accept a query params to get the group key and use it to map the model to the expected output.

For a security reason,

[2022-07-21 16:30] derevnjuk opened #1996 "[FEAT] Provide the ability to avoid an explicit transaction within the context"
## Information

As a user, I would like to have the ability to use the implicit transaction or refuse them in general within the context:

[code]

We can provide the ability to disable the usage of explicit transactions making sure that users can control this behavior via the decorator's options.

The new options can be introduced, extending the `TransactionOptions` as follows:

[code]

[2022-07-21 19:27] #1996 closed, assigned to derevnjuk

[2022-07-21 20:01] Romakita commented on #1996
:tada: This issue has been resolved in version 6.118.0 :tada:

The release is available on:
- `v6.118.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.118.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-21 20:42] #1994 closed, assigned to Romakita

[2022-07-21 22:00] Romakita commented on #1994
:tada: This issue has been resolved in version 6.119.0 :tada:

The release is available on:
- `v6.119.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.119.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-24 12:54] virus2016 opened #2001 "ReplSet option using Mongo memory server"
Hi! 👋

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@tsed/testing-mongoose@6.116.5` for the project I'm working on.

We are using transactions and sessions. To do testing around this we need to use the ReplSet in mongo memory server. Is there a way we could choose if we wanted to use the ReplSet vs the standalone?

Here is the diff that solved my problem:

[code]

[2022-07-24 23:34] github-actions[bot] opened #2002 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2039  |
| ✅ Successful | 1779  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 259   |

## Errors per input
### Errors in packages/platform/platform-koa/readme.md
* [https://github.com/tsedio/ts-express-decorators/graphs/contributors](https://githu

[2022-07-25 09:58] Romakita commented on #2001
It shouldn't be a big issue too add an option to switch between RepliSet or Server:

[code]

[2022-07-25 10:08] Romakita commented on #2001
@virus2016 PR ready

I let you to review the PR to check if the code is ok for you :)

See you
Romain

[2022-07-25 12:58] #2001 closed, assigned to Romakita

[2022-07-25 12:58] virus2016 commented on #2001
Amazing! Thank you! 😀

[2022-07-25 13:18] Romakita commented on #2001
:tada: This issue has been resolved in version 6.121.0 :tada:

The release is available on:
- `v6.121.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.121.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:56] Romakita commented on #2001
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:56] Romakita commented on #1994
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:56] Romakita commented on #1996
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:56] Romakita commented on #1979
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:56] Romakita commented on #1981
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:56] Romakita commented on #1949
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1946
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1901
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1905
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1896
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1961
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1943
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1919
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-25 18:57] Romakita commented on #1909
:tada: This issue has been resolved in version 7.0.0-beta.13 :tada:

The release is available on:
- `v7.0.0-beta.13`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 16:34] #1218 closed

[2022-07-27 16:35] #1944 closed, assigned to nobody

[2022-07-27 16:35] #1959 closed, assigned to nobody

[2022-07-27 16:36] #1968 closed, assigned to Romakita

[2022-07-27 16:36] Romakita commented on #1968
Done

[2022-07-27 16:37] #1971 closed, assigned to nobody

[2022-07-27 16:37] #1977 closed, assigned to nobody

[2022-07-27 16:39] #1984 closed, assigned to nobody

[2022-07-31 23:33] github-actions[bot] opened #2010 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2041  |
| ✅ Successful | 1813  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 227   |

## Errors per input
### Errors in packages/platform/platform-params/readme.md
* [https://tsed.io/CONTRIBUTING.html](https://tsed.io/CONTRIBUTING.html): Failed:

[2022-08-04 10:29] denis-vogrincic opened #2019 "[BUG] Invalid swagger path is generated"
## Information

- **Version:** 6.123.1

Invalid swagger API path is generated when mounting controller with same path as defined in config.

## Example

index.ts
[code]

controller.ts
[code]

For above configuration, swagger path is generated as following:
[code]

API is still accessible as it should be on path '/tests/test'.

[2022-08-04 14:32] Romakita commented on #2019
Hello @denis-vogrincic
Your example seems to be wrong... The slash is missing in you provider configuration:

[code]

It should be:

[code]

Please fix it!

[2022-08-05 06:00] Romakita commented on #1978
Fixed :)

[2022-08-05 06:41] #1978 closed, assigned to Romakita, nicomartin92

[2022-08-05 07:08] denis-vogrincic commented on #2019
Issue was with slash, but your example is also wrong.

I found out that 'tests' and 'tests/' both work as expected.
But '/tests' and '/tests/' don't. I had the latter.

Thanks!

[2022-08-05 07:47] Romakita commented on #1978
:tada: This issue has been resolved in version 6.125.1 :tada:

The release is available on:
- `v6.125.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.125.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-05 09:40] Romakita commented on #2019
Isn't clear XD

For me this example is correct:

[code]

And will output:  '/tests/test'
I'm sure about that ^^ (integration test is here for that).

That I see is an issue when 'tests' is set for the mount options (but it's not correct to declare the path like that).

See you
Romain

[2022-08-06 07:57] Romakita opened #2024 "[TECH] Migrate the repository on YARN berry"
# Information

Migrate all workspaces on yarn berry. See the migration guide here:
https://yarnpkg.com/getting-started/migration

You can take as example the [@tsed/logger](https://github.com/tsedio/logger) repository.

### Acceptance criteria

- [ ] All test pass
- [ ] The repository build

[2022-08-07 08:51] Romakita opened #2025 "[TECH] use @swc/jest to transpile module in Jest"
## Information

To prepare the workspace to be full esm compliant we need to use @swc/jest to run jest with native esm module and commonjs module.

## Acceptance criteria

- [x] All test pass on the CI

[2022-08-07 21:26] #2019 closed, assigned to Romakita

[2022-08-07 21:48] Romakita commented on #2019
:tada: This issue has been resolved in version 6.125.3 :tada:

The release is available on:
- `v6.125.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.125.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-07 23:33] github-actions[bot] opened #2027 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2069  |
| ✅ Successful | 1848  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 220   |

## Errors per input
### Errors in packages/engines/readme.md
* [https://www.npmjs.com/package/react](https://www.npmjs.com/package/react): Failed: Network error

[2022-08-08 07:27] Romakita opened #2028 "[FEAT] Support AdditionalProperties with model"
## Information

### Is your feature request related to a problem? Please describe

Actually, Ts.ED doesn't support an additionalProperties with a custom json-schema described here:

https://json-schema.org/understanding-json-schema/reference/object.html#additional-properties

[code]

#### Supported scenarios
##### AdditionalPorperties: true

[code]

In this case, the validator accept extra propert

[2022-08-08 12:52] #1995 closed, assigned to Romakita

[2022-08-08 16:18] Romakita commented on #1995
:tada: This issue has been resolved in version 6.126.0 :tada:

The release is available on:
- `v6.126.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.126.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 09:03] Romakita opened #2031 "[BUG] getter only cause issue when json-mapper deserialize object"
## Information

- **Version:** 6.x
- Packages: @tsed/json-mapper

Using `@ReadOnly` on a getter doesn't prevent to the following error when the class has getter property only:

[code]

## Example

[code]

## Acceptance criteria

- [ ] ReadOnly decorator disable the value assignment on decorated property
- [ ] Mongoose should also ignore automatically the property decorated with `@ReadOnly`

[2022-08-09 11:57] #2031 closed, assigned to Romakita

[2022-08-09 12:20] Romakita commented on #2031
:tada: This issue has been resolved in version 6.126.1 :tada:

The release is available on:
- `v6.126.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.126.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-10 00:03] supercoffee opened #2033 "[BUG] registerProvider doesn't respect Request scope if provider token is a string"
## Problem description

I'm attempting to restructure an app to allow dynamic selection of DB connection based on request domain (for a multi-tenant SaaS project.  My initial thought was to use the "request" scope feature of the DI system.   While experimenting with registering dependencies, I found some odd behavior.  To demonstrate this, I created a controller  with two dependencies:  dummy and

[2022-08-10 23:39] supercoffee opened #2034 "[QUESTION] How to Inject current request into request scoped provider?"
## Goal
I'm building a multi-tenant SaaS app where each tenant's data is housed in a separate DB.  I'd like to be able to inject a DB connection on a per-request basis.  My thinking here is to consolidate the DB selection logic to avoid polluting the application logic with tenant DB selection logic.  The DB connection will be selected based on the hostname in the request.

## Current challenge
I h

[2022-08-11 06:48] Romakita commented on #2034
Hello @supercoffee

$ctx cannot be injected like that because it use the async_hook from nodejs. You have to use the `getContext()` function to retrieve it :)

[code]
See you
Romain

[2022-08-11 06:50] Romakita commented on #2033
hello @supercoffee
Thanks for the detailed example!

I'm not sure why String is not considered like a symbol. I'll investigate when I have a time.

Isn't a really priority until you have a solution with Symbol :)

See you
Romain

[2022-08-11 07:21] Romakita commented on #2034
Re @supercoffee,

I see you trying to build a multi tenant app using Scope request. Use Scope Request on every class will cause a performance issue.

The PlatformContext and async_hook can help you to design a multi tenant app. You don't need to declare each controllers and services with the scope Request annotation. You just need to use a class that will be responsible to use the correct database

[2022-08-11 07:26] Romakita commented on #2034
An alternative to $onRequest can be used if you don't want to create a tenant connection for all routes. You can use a middleware:

[code]
See you
Romain

[2022-08-11 15:38] supercoffee commented on #2034
@Romakita Thank you for the detailed suggestions.  I like the idea of using middleware or a connection manager instead of reconstructing controllers on each request.

[2022-08-11 15:38] #2034 closed, assigned to Romakita

[2022-08-12 13:02] borjapazr commented on #1693
Hello @Romakita ! First of all thank you for this great work! 🙏

Implementing this functionality would be a wonderful and useful thing. What is the status?

Thanks 😊

[2022-08-12 13:24] Romakita commented on #1693
Hello @borjapazr

thanks for your message.

I’m sorry but it’s not on my roadmap. But already given a solution to have similar things.

The DI design is based on one Token = one instance.

Changing that will be complicated and will probably have an effect one the performance (server bootstrap), for a limited usage.

Actually, I never had this need in my professional project. This is why, It’s a bi

[2022-08-14 23:33] github-actions[bot] opened #2038 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2074  |
| ✅ Successful | 1802  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 271   |

## Errors per input
### Errors in packages/platform/platform-serverless/readme.md
* [https://github.com/tsedio/ts-express-decorators/graphs/contributors](https:

[2022-08-15 06:48] thanhchuongbmd opened #2039 "[BUG] MultipartFile not show input file on swagger"
## Information

- **Version:** 6.126.1
- Packages:
    "@tsed/common": "6.126.1",
    "@tsed/core": "6.126.1",
    "@tsed/exceptions": "6.126.1",
    "@tsed/json-mapper": "6.126.1",
    "@tsed/platform-express": "6.126.1",
    "@tsed/swagger": "6.126.1",
    "@tsed/typeorm": "6.126.1",

## Example

[code]

## Acceptance criteria
See image, no input file
<img width="1026" alt="Screen Shot 2022-08-1

[2022-08-15 08:24] Romakita commented on #2039
Hello @thanhchuongbmd

For me it works in OS3 version:
<img width="1916" alt="Capture d’écran 2022-08-15 à 10 25 18" src="https://user-images.githubusercontent.com/1763311/184601923-914431a6-1e93-44aa-81c6-fb10f0ad8085.png">

For OS2, it's not supported probably.
Please switch your swagger on OS3.

See you
Romain

[2022-08-15 08:24] #2039 closed, assigned to Romakita

[2022-08-17 06:42] borjapazr commented on #1693
Hello @Romakita

I understand your position and it seems reasonable to me. As I was reviewing, the solution you proposed can be useful in many occasions where this functionality is required. Also, if it can be improved with a decorator it would be great!

Thanks again 🙏

[2022-08-18 20:20] supercoffee commented on #2034
@Romakita I followed your first example and I can't get the context.  When `$onRequest` is called, `this.$ctx` is always undefined.   I also tried calling `getContext` inside the `$onRequest()` method which also returns `undefined`.   Am I missing something here?

I worked around this by making the `get` method async and creating a new connection every time, but that approach implies that a new co

[2022-08-18 20:25] Romakita commented on #2034
Context is alvailable by this because async hook isn’t executed. The context is given as the first parameter:

$onRequest($ctx: Context) {

 }

[2022-08-19 03:12] Romakita opened #2044 "[Feat] Add @tsed/redis module"
## Information

As a developer I want to configure a redis connection with Ts.ED.

The connection can be reused by @tsed/adapter-redis and @tsed/platform-cache

The connection should support Cluster, sentinel and single redis connection.

**Describe the solution you'd like**

[code]

## Acceptance criteria

- [ ] Redis connectionis started at the bootstrap server
- [ ] The RedisAdapter reuse the C

[2022-08-19 03:15] Romakita opened #2045 "[doc] add documentation to initiate vite with Ts.ED"
## Information

The new @tsed/vite-ssr-plugin is stable but the documentation is missing on the website.

## Acceptance criteria

- [ ] A new section on tutorial is available on the website

[2022-08-19 03:23] Romakita opened #2046 "[doc] add documention on @tsed/adapters"
## Information

The @tsed/adapters is ready since a long time. But his documentation is missing.
His API allow to wrap any kind of databases and abtracts small actions for oidc-provider and other small plugin.

It could be interesting to open the api for any contributors.

## Acceptance criteria

- [ ] a new section is available on the website

[2022-08-19 08:52] ostridm opened #2047 "[BUG] `Example()` used in conjuction with `CollectionOf()` produce wrong OAS definition"
## Information

- **Version:** 6.118
- Packages: @tsed/schema

Unexpected `example` value placement when `Example()` decorator is applied to property in conjuction with `CollectionOf()`

## Example

[code]
produces

[code]

instead of the expected one
[code]

It seems the root cause is in the wrong schema node reference inside decorator implementation. `MaxLength` refers to [`store.itemSchema`](ht

[2022-08-19 10:36] Romakita commented on #2047
try this:
[code]

[2022-08-20 09:15] Romakita commented on #2047
Related files:
https://github.com/tsedio/tsed/blob/production/packages/specs/schema/src/decorators/common/example.ts

PR is welcome :)

[2022-08-20 09:16] #2002 closed, assigned to nobody

[2022-08-20 09:16] #2010 closed, assigned to nobody

[2022-08-20 09:16] #2027 closed, assigned to nobody

[2022-08-20 09:16] #2038 closed, assigned to nobody

[2022-08-21 13:25] Romakita commented on #2031
:tada: This issue has been resolved in version 7.0.0-beta.18 :tada:

The release is available on:
- `v7.0.0-beta.18`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 13:25] Romakita commented on #1995
:tada: This issue has been resolved in version 7.0.0-beta.18 :tada:

The release is available on:
- `v7.0.0-beta.18`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 13:25] Romakita commented on #1978
:tada: This issue has been resolved in version 7.0.0-beta.18 :tada:

The release is available on:
- `v7.0.0-beta.18`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 13:25] Romakita commented on #2019
:tada: This issue has been resolved in version 7.0.0-beta.18 :tada:

The release is available on:
- `v7.0.0-beta.18`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 17:34] Romakita commented on #1793
:tada: This issue has been resolved in version 7.0.0-beta.19 :tada:

The release is available on:
- `v7.0.0-beta.19`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-beta.19)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 18:19] Romakita opened #2052 "[Feat] develop an intellij plugin to generate project and files"
## Information

As developer I would like to have shortcut in my IDE to generate a new Ts.ED project or to generate files like a Controller or a Service.

The plugin could be reuse the Ts.ED CLI (already installed in the project or in global) to generate the files at the right place.

The CLI must provide options to select the correct expected template and the path where the file must be generated

[2022-08-21 18:19] Romakita commented on #1793
:tada: This issue has been resolved in version 7.0.0-rc.1 :tada:

The release is available on:
- `v7.0.0-rc.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 23:33] github-actions[bot] opened #2053 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2076  |
| ✅ Successful | 1838  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 237   |

## Errors per input
### Errors in docs/docs/controllers.md
* [http://example.com/blog/admin](http://example.com/blog/admin): Failed: Network error
* [http://exa

[2022-08-22 23:04] sawa-ko opened #2054 "[BUG] ERR_UNSUPPORTED_ESM_URL_SCHEME"
## Information

- **Version:** 6.128.3
- Packages:

		"@tsed/common": "^6.128.3",
		"@tsed/core": "^6.128.3",
		"@tsed/di": "^6.128.3",
		"@tsed/exceptions": "^6.128.3",
		"@tsed/platform-express": "^6.128.3",
		"@tsed/schema": "^6.128.3",

I am trying to use tsed with ESM but I get the following error. I am compiling with SWC. This is my SWC configuration.

[code]

## Example

[code]

## Error:
[

[2022-08-23 02:04] duongoo opened #2056 "can't run app after build : Cannot use import statement outside a module"
I deployed the application to the IIS server.
However, on a windows 10 environment with nodejs installed: v16.15.0
after using the command
```"yarn run build"```
I continue to test the nodejs application with the command:
```"node dist/index.js"```
then get the error message: "Cannot use import statement outside a module"

[2022-08-23 10:28] Romakita commented on #2056
Check your typescript configuration.

create a reproducible repository example by using the Ts.ED Cli.

see you

[2022-08-23 10:30] Romakita commented on #2056
Note: a project generated by the cli works on all Os.
The problem is specific to your project configuration.

Any free support will be provided for that!!!

[2022-08-23 12:42] Romakita commented on #2054
Create a reproducible repository example. If I haven't that, I'll close this issue tomorrow !

[2022-08-23 12:51] Romakita commented on #2054
My advice also

Don't use globPatterns it's always a pain point with ESM. Import manually the modules. The Ts.ED CLI use barrelsby to general barrels files "index.ts".  (unfortunately barrelsby doesn't support esm module but it will a PR and issue are open).

v7 won't support glob patterns to import module. So don't use it  and your problem will be solved

See you

[2022-08-23 12:51] Romakita commented on #2054
It's incorrect to do that:

'/': [fileURLToPath(new URL('./controllers/**/*.js', import.meta.url))]

[2022-08-24 01:39] duongoo commented on #2056
thanks for the help.
I have created an example on the repository to reproduce the error

https://github.com/nguyenphuocduong/wifi-services
or
https://stackblitz.com/edit/typescript-l81aea?file=package.json

Project runs smoothly when using "yarn start"

However, after build and running with nodejs, I get an error

Sorry my english is not good !
[code]

[2022-08-24 01:47] duongoo commented on #2056
Still the problem occurs when I try to integrate typeorm into the project

theo hướng dẫn này : https://tsed.io/tutorials/typeorm.html#typeorm-v0-3-x

[2022-08-24 02:11] sawa-ko commented on #2054
Oh, ok.
To fix it I had to import the classes manually.

[2022-08-24 02:11] #2054 closed, assigned to Romakita

[2022-08-24 05:04] Romakita commented on #2054
It's one of the solution yes :)

[2022-08-24 05:12] Romakita commented on #2056
You have changed the initial tsconfiguration configuration by setting allowJs: true... it's probably one of the problem!

[2022-08-24 05:18] Romakita commented on #2056
You have changed the initial tsconfiguration configuration by setting allowJs: true... it's probably one of the problem!

try:

[code]

[2022-08-24 05:21] Romakita commented on #2056
But you example doesn't reproduce the error. PLEASE TAKE A TIME TO CREATE A REPRODUCIBLE EXAMPLE!

[2022-08-26 09:00] Romakita commented on #1942
Ok I'll introduce a new configuration option to disable this behavior in v6:

[code]

v7 will set this option to true by default.

[2022-08-26 11:58] Romakita commented on #1942
PR created: https://github.com/tsedio/tsed/pull/2059

[2022-08-26 16:27] #1942 closed, assigned to Romakita

[2022-08-26 17:00] Romakita commented on #1942
:tada: This issue has been resolved in version 6.128.9 :tada:

The release is available on:
- `v6.128.9`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.128.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-27 09:02] #2056 closed, assigned to Romakita

[2022-08-27 16:06] #1015 closed

[2022-08-27 16:36] Romakita commented on #1942
:tada: This issue has been resolved in version 7.0.0-rc.4 :tada:

The release is available on:
- `v7.0.0-rc.4`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-27 17:05] Romakita opened #2060 "[Feat] Add @tsed/ioredis package"
## Information

**Is your feature request related to a problem? Please describe.**

As developer I want a module to create a redis connection and share this connection with `@tsed/platorm-cache` and `@tsed/adapter-redis` packages.

The module provide also a way to create unit test with with ioredis-mock module.

**Describe the solution you'd like**

[code]

## Acceptance criteria

- [ ] The connec

[2022-08-27 17:05] #2044 closed, assigned to Romakita

[2022-08-28 11:32] jojoxd opened #2061 "[Feat] Allow the use of Socket.IO Dynamic Namespaces"
## Information

**Is your feature request related to a problem? Please describe.**
For an application I'm writing, I require the use of dynamic namespaces in Socket.IO (e.g. `/application-<uuid>`) to mount certain methods to. (e.g. `/application-<uuid>::loadApplication`)

As it stands now, I don't see an option to template `@Nsp()` for this purpose.

**Describe the solution you'd like**
A clear an

[2022-08-28 12:40] jojoxd commented on #2061
I've found the issue, `@tsed/core` deepClone is incorrectly cloning RegExp objects. I'll create a PR shortly to fix that. I'll also create a second PR for typing and documentation for this issue.

[2022-08-28 16:55] Romakita commented on #1693
Updated example for implementation:

This feature lets to simplify the dependency management while working on multiple implementations of the same interface with type code.

If users use the same token when registering providers, the IoC container should exchange a token for a list of instances. Let's consider the following real example:

[code]

Now as a user, I would like to create a [registry](

[2022-08-28 16:55] Romakita commented on #1693
Work in progress ;)

[2022-08-28 23:35] github-actions[bot] opened #2064 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2076  |
| ✅ Successful | 1827  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 248   |

## Errors per input
### Errors in packages/engines/readme.md
* [https://www.npmjs.com/package/velocity-animate](https://www.npmjs.com/package/velocity-animate):

[2022-08-29 02:11] Romakita opened #2065 "[Feat] JsonSchema - add dependendRequired support"
## Information

**Is your feature request related**

https://json-schema.org/understanding-json-schema/reference/conditionals.html

**Describe the solution you'd like**

[code]

## Acceptance criteria

- [ ] Criteria 1

[2022-08-29 10:28] #1693 closed, assigned to Romakita

[2022-08-29 10:28] #2060 closed, assigned to Romakita

[2022-08-29 10:55] Romakita commented on #2060
:tada: This issue has been resolved in version 6.129.0 :tada:

The release is available on:
- `v6.129.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.129.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-29 10:55] Romakita commented on #1693
:tada: This issue has been resolved in version 6.129.0 :tada:

The release is available on:
- `v6.129.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.129.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-29 12:06] jojoxd commented on #2061
I've created a draft PR #2066, but I want to spur on some discussion first in that, when everything is resolved, I'll update the docs.

[2022-08-29 16:12] Romakita commented on #2060
:tada: This issue has been resolved in version 7.0.0-rc.5 :tada:

The release is available on:
- `v7.0.0-rc.5`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-29 16:12] Romakita commented on #1693
:tada: This issue has been resolved in version 7.0.0-rc.5 :tada:

The release is available on:
- `v7.0.0-rc.5`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-29 16:24] Romakita commented on #1693
@derevnjuk @borjapazr  the feature is released. You can the documentation [here](https://tsed.io/docs/providers.html#inject-many-provider)

[2022-08-29 17:52] xferqr opened #2067 "[BUG] v7: npm install -g @tsed/cli@4"
Hi! I try create new project on v7

**npm install -g @tsed/cli@4**

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @tsed/cli@4.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

_Windows 10.
Node.js v16.17.0._

[2022-08-29 18:24] Romakita commented on #2067
Haaaaa sorry

here is the correct command:

npm i -g @tsed/cli@4.0.0-rc.1

[2022-08-29 18:59] xferqr commented on #2067
thnx ;)

[2022-08-29 18:59] #2067 closed, assigned to nobody

[2022-08-29 20:45] xferqr opened #2068 "[BUG] creating a project with cli@4.0.0-rc.1"
Hi!
Questions disappeared when creating a project

![image](https://user-images.githubusercontent.com/45597852/187292094-6204bec7-089c-4b72-808f-2afb10f26a1f.png)

[2022-08-29 21:18] Romakita commented on #2068
Hello @xferqr

I think isn’t a bu. the v4 is exactly the same as v3 for that ^^.

Maybe it’s specific on windows. Inquirer and listr maybe have a small issue on this terminal ^^.

But when you run `tsed init .ˋ have you all prompted question and the project is correctly generated?

see you
Romain

[2022-08-30 13:47] xferqr commented on #2068
I try in ubuntu
![4427](https://user-images.githubusercontent.com/45597852/187453453-a884b948-af1f-418b-a758-19d721ef46c3.png)

[2022-08-30 14:49] xferqr commented on #2068
I am now getting this behavior on two different OS (win10/ubuntu) on different devices.
And now even after npm install -g @tsed/cli

[2022-08-30 16:06] Romakita commented on #2068
I’m not sure to understand correctly the problem…

the project is correctly generated or not?

[2022-08-30 16:55] xferqr commented on #2068
No, when creating a project, questions do not appear

[2022-08-30 17:23] Romakita commented on #2068
Humm ookk. I’ll fix that ;)

sorry for the misunderstood!

[2022-08-30 18:02] xferqr commented on #2068
Thanks for the help!

[2022-08-31 20:21] xferqr commented on #2068
@tsed/cli@4.0.0-rc.2 now it works correctly!
![1231935](https://user-images.githubusercontent.com/45597852/187774417-9f7ccefd-7aa2-451b-8b8e-24b9b73f93b0.png)

[2022-08-31 20:21] #2068 closed, assigned to nobody

[2022-09-02 20:05] xferqr opened #2076 "[BUG] V7 create project with "Choose the architecture for your project: feature""
Hi!
If "choose the architecture for your project: **feature**"
i get  "Error: ENOENT: no such file or directory, scandir '.../parttec_api_v7/src/controllers/rest'"

_@tsed/cli@4.0.0-rc.2_

[2022-09-03 15:45] xferqr opened #2077 "[BUG] V7 watching file changes not working"
Hi!

The message is shown only once, but no changes are shown:
[INFO] 18:42:24 Restarting: /home/xf/dev/parttec_api_v7/src/controllers/rest/UsersController.ts has been modified

{
  "name": "parttec-api-v7",
  "version": "1.0.0",
  "description": "",
  "scripts": {
    "build": "npm run barrels && tsc --project tsconfig.compile.json",
    "barrels": "barrelsby --config .barrelsby.json",
    "start

[2022-09-03 16:48] xferqr commented on #2077
upd: A clean project on v^6.129.0 has the same problem

[2022-09-03 18:59] Romakita commented on #2077
This part is related to `tsnd` aka ts-node-dev, and not to the framework itself.
developers are free to use another ts watcher ;)

I close the issue because, I'm not able to resolve that :)

[2022-09-03 18:59] #2077 closed, assigned to nobody

[2022-09-03 20:00] xferqr commented on #2077
hmm
but then you can’t start a project on a framework -.-
If anyone experiences this problem, then you can add a webpack when generating a project

[2022-09-04 23:35] github-actions[bot] opened #2079 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2112  |
| ✅ Successful | 1829  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 282   |

## Errors per input
### Errors in packages/security/oidc-provider/readme.md
* [https://tsed.io/tutorials/oidc-provider](https://tsed.io/tutorials/oidc-provider)

[2022-09-05 05:27] #2061 closed, assigned to Romakita

[2022-09-07 05:26] Romakita commented on #2061
:tada: This issue has been resolved in version 6.130.0 :tada:

The release is available on:
- `v6.130.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.130.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-07 19:02] Romakita commented on #2076
hum Ok the problem is related to barrels.

[2022-09-11 23:38] github-actions[bot] opened #2084 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2114  |
| ✅ Successful | 1873  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 240   |

## Errors per input
### Errors in packages/specs/ajv/readme.md
* [https://tsed.io/CONTRIBUTING.html](https://tsed.io/CONTRIBUTING.html): Cached: Error (cached)

[2022-09-13 07:32] muradmalik777 opened #2085 "[BUG] Socket IO not working with TSED"
## Information
I am not able to make SocketIO plugin work with TSED. Something strange is happening.
Here are my socket.io configurations

[code]

- **Version:** 6.x
- Packages:
"socket.io": "^4.5.2",
"tsed": 6.132.0

A few sentences describing the overall goals of the issue.

## Example
Here is the code for my SocketService implementation:
[code]

Here is my client:
[code]
NOTE: It seems to be co

[2022-09-13 11:18] Romakita commented on #2085
Hello @muradmalik777

Thanks for the given example. Unfortunately I’m not able to see where is the problem.

For me the Socket io works perfectly. There are some integration test to cover socket io scenario.

It will be great you can generate a small repository using tsed cli to reproduce the bug please ;)

See you
Romain

[2022-09-13 11:35] muradmalik777 commented on #2085
@Romakita  I have tested this sample project too and it doesn't work for me either
[https://github.com/tsedio/tsed-example-socketio](url)
anything I print inside the `$onConnection` event, It doesn't do anything.

[2022-09-13 12:32] muradmalik777 commented on #2085
Even I tried creating a new TSED project and added the exact same code in your examples and that doesn't work either. Am I missing some configs or do I need to inject that service somewhere? @Romakita

[2022-09-13 14:15] muradmalik777 commented on #2085
I tried running the tests with the sample code and they don't work either.

[2022-09-13 17:20] Romakita commented on #2085
The code sample is old. The integration test are hosted on tsed repo and works. Just take a time to create repo example please. I’m currently busy and your help will be appreciate.

see you

[2022-09-14 07:24] #2085 closed, assigned to Romakita

[2022-09-14 08:01] Romakita commented on #2085
@muradmalik777 Have you found your issue ?

[2022-09-14 12:00] ostridm opened #2086 "Teminus hook does not get executed as in documentation example"
## Information

- **Version:** 6.128.10
- Packages: @tsed/terminus

Teminus hook does not get executed due to an extra prepending `$` sign when event is emitted.

https://github.com/tsedio/tsed/blob/70a88fe7e6ca50bc987ca3c67c4323e6d3ce751e/packages/third-parties/terminus/src/TerminusModule.ts#L41

https://github.com/tsedio/tsed/blob/70a88fe7e6ca50bc987ca3c67c4323e6d3ce751e/packages/third-parties/t

[2022-09-14 13:32] borjapazr opened #2087 "Is componentsScan deprecated or not?"
As I see in the documentation `componentsScan` [seems to be deprecated](https://tsed.io/docs/configuration.html#componentsscan-deprecated). However, reviewing other parts of the documentation it appears exposed as a functionality that can be used, even in the examples on GitHub there are references to this functionality. Is `componentsScan` deprecated or not? In case its use is not recommended, wh

[2022-09-14 13:54] Romakita commented on #2087
Hello @borjapazr

Here is the complete answers :)
https://v7.tsed.io/getting-started/migration-from-v6.html#components-scan

Ts.ED don't need Components Scan to works. Components Scan is just a feature that simplify the development process.
 It can be replaced by barrelsby (tooling) or manual ES6 import.

Using ES6 import:
[code]

See you
Romain

[2022-09-14 18:28] borjapazr commented on #2087
Great! Very good answer @Romakita 😊

So from v7 `componentsScan` will no longer be available inside `@Configuration` and `mount` can no longer be used with globs, right?

I think it's perfect to use `barrelsby`. I'm already using barrel files, so the upgrade won't be too dramatic.

Thank you! 🙏

[2022-09-14 18:37] Romakita commented on #2087
Mount option will only accept Symbols and not a globpattern. componentsScan will be removed ;)

[2022-09-14 22:06] xferqr opened #2089 "[BUG] Unexpected token on "prisma generate" with "@TsED.Ignore()" in schema"
![tsed_20220915010116](https://user-images.githubusercontent.com/45597852/190271856-fc5ac086-5aec-47c7-8c64-d031375f5175.png)

[2022-09-15 08:43] #2086 closed, assigned to Romakita

[2022-09-15 09:05] Romakita commented on #2086
:tada: This issue has been resolved in version 6.132.1 :tada:

The release is available on:
- `v6.132.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.132.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-15 14:32] Romakita opened #2090 "[FEAT] Add discriminator support for describing schema and mapping object"
## Information

Swagger provide a way to use OneOf feature with a discriminator property. See: https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/

**Is your feature request related to a problem? Please describe.**

The problem around the OneOf decorator usage is when the decorator is used with BodyParams/QueryParams, the json-mapper is not really able to retrieve the e

[2022-09-16 16:58] Romakita commented on #2061
:tada: This issue has been resolved in version 7.0.0-rc.6 :tada:

The release is available on:
- `v7.0.0-rc.6`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-16 16:58] Romakita commented on #2060
:tada: This issue has been resolved in version 7.0.0-rc.6 :tada:

The release is available on:
- `v7.0.0-rc.6`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-16 16:58] Romakita commented on #1942
:tada: This issue has been resolved in version 7.0.0-rc.6 :tada:

The release is available on:
- `v7.0.0-rc.6`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-16 16:58] Romakita commented on #1693
:tada: This issue has been resolved in version 7.0.0-rc.6 :tada:

The release is available on:
- `v7.0.0-rc.6`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-18 23:38] github-actions[bot] opened #2094 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2114  |
| ✅ Successful | 1864  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 249   |

## Errors per input
### Errors in packages/platform/platform-serverless/test/integration/aws-basic/README.md
* [https://xxxxxxx.execute-api.us-east-1.amazonaws.

[2022-09-20 19:59] dirkey opened #2096 "[BUG] Page Keycloak - /tutorials/keycloak"
If I try this example, but I get an error when starting the server:

TypeError: Cannot read properties of undefined (reading 'getMemoryStore')

I debug this a little bit and find out, the "store" configuration property is evaluated before the KeycloakService is injected. So, the this.keycloakService.getMemoryStore() fails.

[2022-09-21 05:22] Romakita commented on #2096
Hello @xCryzed
Can you clarify this part of the doc please ;)

see you

[2022-09-21 11:27] dirkey commented on #2096
This solves the problem: Remove the session from the middleware and initialize the session in the $beforeRouteInit() method
[code]

[2022-09-21 14:37] Romakita commented on #2096
Oops. I think the wrong example come from me when I refactored all code example. My Bad!!

Thanks for the PR ;)

[2022-09-22 02:44] sh-winter opened #2098 "[BUG] @Default does not take effect"
## Information

- **Version:** 6.x
- Packages: @tsed/json-mapper

During deserialization, the default value set by @ Default is not applied

## Example

[code]

## Acceptance criteria

- `{ prop: 0 }`

[2022-09-22 05:56] Romakita commented on #2098
This decorator is just for swagger documentation and has no effect on property value.
It’s totally intented.

Correct code:

[code]

[2022-09-22 05:56] #2098 closed, assigned to Romakita

[2022-09-22 08:26] root0x commented on #847
@mwebler did you finish integrating bullmq into tsed.io? I'm working on doing the same and would really appreciate a code example if you had

[2022-09-24 10:28] borjapazr opened #2099 "[BUG] json-mapper BigInt deserialization fails when using Prisma"
If a `Prisma schema` is defined and a `BigInt` type is used for, for example, the identifier of the primary key of a model, when retrieving and deserializing those elements through the repository that auto-generates Ts.ED, it fails due to the following error:

[code]

It looks like `json-mapper` is trying to create a BigInt using the following syntax:

[code]

This is the `Prisma schema` I am usin

[2022-09-25 23:40] github-actions[bot] opened #2101 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2114  |
| ✅ Successful | 1868  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 245   |

## Errors per input
### Errors in packages/specs/openspec/readme.md
* [https://github.com/tsedio/ts-express-decorators/graphs/contributors](https://github.com/t

[2022-09-27 08:20] Romakita commented on #2099
Hello @borjapazr

Thanks for the detailed issue. The fix is almost ready :)

See you
Romain

[2022-09-27 13:53] #2099 closed, assigned to Romakita

[2022-09-27 15:18] Romakita commented on #2099
:tada: This issue has been resolved in version 6.133.1 :tada:

The release is available on:
- `v6.133.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.133.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-28 13:09] #2076 closed, assigned to nobody

[2022-09-28 13:10] #2047 closed, assigned to Romakita

[2022-10-02 23:43] github-actions[bot] opened #2106 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2114  |
| ✅ Successful | 1864  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 249   |

## Errors per input
### Errors in docs/tutorials/swagger.md
* [http://localhost:8000/v2/doc](http://localhost:8000/v2/doc): Failed: Network error
* [http://loca

[2022-10-04 12:22] Romakita opened #2107 "[TECH] Update Jest to v29"

[2022-10-04 15:26] Romakita commented on #2099
:tada: This issue has been resolved in version 7.0.0-rc.7 :tada:

The release is available on:
- `v7.0.0-rc.7`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 15:26] Romakita commented on #2086
:tada: This issue has been resolved in version 7.0.0-rc.7 :tada:

The release is available on:
- `v7.0.0-rc.7`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-rc.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 22:28] borjapazr opened #2108 "💚 This is my experience and my contribution! Thank you 🙏"
# 🧪 This is my experience and my contribution!

About a year ago, I started developing a production-ready template with `Node.js`, `Express.js`, `TypeScript`, etc. using [routing-controllers](https://github.com/typestack/routing-controllers) as framework/base library. Although this stack was good, `routing-controllers` was not being maintained by the community, which made me suspicious as I had di

[2022-10-05 09:05] Romakita commented on #2108
Thanks a lot @borjapazr for your message :)

Your template is awesome and should be added on our website. You can add your repository on this page:
https://v6.tsed.io/getting-started/#project-examples

(or create a new section to present your project template)

See you and thanks again :)

[2022-10-05 12:05] borjapazr commented on #2108
Thankk you, @Romakita.

I just created [a PR](https://github.com/tsedio/tsed/pull/2109) to add the template to the Ts.ED project examples.

Thank you again 🙏

[2022-10-05 20:59] #2087 closed, assigned to Romakita

[2022-10-08 08:09] #1793 closed, assigned to Romakita, B8-RX

[2022-10-08 08:43] Romakita commented on #2060
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- `v7.0.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 08:43] Romakita commented on #1693
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- `v7.0.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 08:43] Romakita commented on #1942
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- `v7.0.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 08:43] Romakita commented on #1793
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- `v7.0.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-09 15:05] thanhchuongbmd opened #2112 "[BUG] Enum in query param work is incorrect"
## Information

- **Version:** 6.133.0
- Packages:
 "@tsed/ajv": "6.133.0",
    "@tsed/common": "6.133.0",
    "@tsed/core": "6.133.0",
    "@tsed/di": "6.133.0",
    "@tsed/exceptions": "6.133.0",
    "@tsed/json-mapper": "6.133.0",
    "@tsed/platform-express": "6.133.0",
    "@tsed/schema": "6.133.0",
    "@tsed/swagger": "6.133.0",
    "@tsed/typeorm": "6.133.0",

In case I import enum from a

[2022-10-09 23:44] github-actions[bot] opened #2113 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2094  |
| ✅ Successful | 1942  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 152   |

## Errors per input
### Errors in docs/docs/controllers.md
* [http://example.com/admin](http://example.com/admin): Failed: Network error
* [http://example.com/a

[2022-10-10 01:39] Romakita commented on #2112
hello @thanhchuongbmd
Please take a time to read the doc before opening issue ^^

https://tsed.io/docs/model.html#enumerated-values

[code]

See you
Romain

[2022-10-10 01:39] #2112 closed, assigned to Romakita

[2022-10-10 01:40] Romakita commented on #1503
Released :D

[2022-10-10 01:40] #1503 closed, assigned to nobody

[2022-10-10 01:41] thanhchuongbmd commented on #2112
Thanks for your help!

[2022-10-10 01:42] #2101 closed, assigned to nobody

[2022-10-11 07:32] fredlemieux commented on #1978
Hi there,

I've just been generating figma in a folder and it seems to work fine, so
I'm sticking with that for the moment, but I could test out upgrading Node
to check it's working, but that won't be until I'm back from my holiday :-)

Fred

On Sat, 16 Jul 2022 at 10:12, Romain Lenzotti ***@***.***>
wrote:

[2022-10-11 12:03] Romakita commented on #2089
Problem is here: https://github.com/tsedio/tsed/blob/production/packages/orm/prisma/src/generator/utils/parseDocumentationAttributes.ts

Unit can be updated here: https://github.com/tsedio/tsed/blob/production/packages/orm/prisma/src/generator/utils/parseDocumentationAttributes.spec.ts

[2022-10-14 08:35] icode247 opened #2119 "Incomplete documentation on how to connect TsEd with ObjectionJS"
## Information

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2022-10-15 06:06] #2089 closed, assigned to matthiasferraina

[2022-10-15 06:17] Romakita commented on #2119
Hello @icode247
Please take a time to fill the issue correctly and follow the guideline.

The documentation is complete and describe how you can create connection configuration for knex. See this page:

https://tsed.io/tutorials/objection.html#installation

Until, you haven't clarify your issue, I won't be able to give you a correct answer :)

See you
Romain

[2022-10-15 06:19] #2053 closed, assigned to nobody

[2022-10-15 06:19] #2064 closed, assigned to nobody

[2022-10-15 06:19] #2079 closed, assigned to nobody

[2022-10-15 06:19] #2084 closed, assigned to nobody

[2022-10-15 06:19] #2094 closed, assigned to nobody

[2022-10-15 06:19] #2106 closed, assigned to nobody

[2022-10-15 06:37] #2028 closed, assigned to Romakita

[2022-10-15 08:18] Romakita commented on #2028
:tada: This issue has been resolved in version 7.1.0 :tada:

The release is available on:
- `v7.1.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-15 18:15] #2107 closed, assigned to matthiasferraina

[2022-10-16 23:46] github-actions[bot] opened #2124 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2096  |
| ✅ Successful | 1949  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 147   |

## Errors per input
### Errors in packages/core/readme.md
* [https://badge.fury.io/js/%40tsed%2Fcommon](https://badge.fury.io/js/%40tsed%2Fcommon): Failed: Netw

[2022-10-17 06:31] thanhchuongbmd opened #2125 "[BUG] Can not inject socket service and connection event not trigger"
## Information

- **Version:** 6.121.0
- Packages:
"@tsed/common": "6.121.0",
    "@tsed/core": "6.121.0",
    "@tsed/di": "6.121.0",
    "@tsed/engines": "6.121.0",
    "@tsed/exceptions": "6.121.0",
    "@tsed/json-mapper": "6.121.0",
    "@tsed/platform-express": "6.121.0",
    "@tsed/schema": "6.121.0",
    "@tsed/socketio": "^7.1.1",
    "@tsed/swagger": "6.121.0",
    "@tsed/typeorm": "6.121

[2022-10-17 06:56] Romakita commented on #2125
Hello @thanhchuongbmd
I've mix tsed version. This is the first guideline displayed when you update or install a Ts.ED module:

<img width="933" alt="Capture d’écran 2022-10-17 à 08 55 02" src="https://user-images.githubusercontent.com/1763311/196109005-0e2d2319-c0da-4db1-a958-8e62d7c36d67.png">

Please follows the rules before opening issue ;)

See you
Romain

[2022-10-17 06:56] #2125 closed, assigned to Romakita

[2022-10-17 14:56] borjapazr opened #2127 "Usage of servers in the Open Api specification with mount prefix"
Currently, when all controllers of an API are loaded using the `mount` parameter of the global configuration, they are assigned the same prefix in the `Open API` specification as shown in the following image.

![CleanShot 2022-10-17 at 16 46 16@2x](https://user-images.githubusercontent.com/9295713/196208469-5487cf60-145a-4767-b7e9-71c79afb9d80.png)
![CleanShot 2022-10-17 at 16 47 07@2x](https://us

[2022-10-17 15:59] #2108 closed, assigned to Romakita

[2022-10-17 18:49] Romakita commented on #2127
It’s not possible and I haven’t time to support this comestic usage unfortunatly. Just remove /api from config because isn’t supposed to change when you build your application ;)

see you

[2022-10-17 18:50] Romakita commented on #2127
You can set "/" instead "/api" on servers

[2022-10-17 18:52] Romakita commented on #2127
Also, tsed support various configuration. Mount option can many root paths, not onlu /api or /rest. In this case your needs isn’t possible.

[2022-10-18 06:46] borjapazr commented on #2127
Thank you very much, @Romakita . It was just to confirm. It's nothing blocking or extremely necessary, so I close the issue.

Thank you again 🙏

[2022-10-18 06:46] #2127 closed, assigned to Romakita

[2022-10-19 20:04] gullerya opened #2130 "Required validation on parameters is not enforced unless UseValidation used"
## Information

- **Version:** 6.114.18
- Packages:

I'm using `@Required()` in front of couple of parameters in my controller, but that is not effective until added `@UseValidation` decorator as well.
Is it supposed to be so? If yes - then all of the documentation should be updated.
I'd actually expect `@Required()` alone to be sufficient.

## Example

[code]

## Acceptance criteria

- [ ] Throw

[2022-10-20 07:19] Romakita commented on #2130
Hello @gullerya

Yes, by default the headerParams doesn't run validator. It can be changed by using that:

[code]

I agree this point isn't documented on the website. I'll fix that.

[2022-10-20 07:50] Romakita commented on #2130
This PR add more details HeaderParams decorator:
https://github.com/tsedio/tsed/pull/2131

[2022-10-21 10:32] #2130 closed, assigned to Romakita

[2022-10-21 10:55] Romakita commented on #2130
:tada: This issue has been resolved in version 7.2.3 :tada:

The release is available on:
- `v7.2.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-23 23:45] github-actions[bot] opened #2134 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2097  |
| ✅ Successful | 1952  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 145   |

## Errors per input
### Errors in docs/tutorials/objection.md
* [https://www.npmjs.com/package/knex](https://www.npmjs.com/package/knex): Failed: Network error

[2022-10-24 16:04] aksharp12 opened #2135 "[FEAT] @tsed/prisma should create classes for prisma type definitions"
## Information

- **Version:** 7.2.3
- Packages:
- @prisma/client: 4.5.0

prisma schema.prisma files allow the definition of type which can provide type safety for su-objects in a model. When using the @tsed/prisma generator, there is an exception that is thrown stating that there was an exception trying to access a property of name which is undefined.

The exception occurs [here](https://github.c

[2022-10-25 18:21] Romakita commented on #2135
Hello @aksharp12

Thank you for the PR ;)

I think the Type should be an interface and not a class. right ?

See you
Romain

[2022-10-25 18:22] #2119 closed, assigned to Romakita

[2022-10-25 18:23] #2113 closed, assigned to nobody

[2022-10-25 18:23] #2124 closed, assigned to nobody

[2022-10-25 20:04] aksharp12 commented on #2135
Not a problem at all, @Romakita!

Yes, I would think that an interface would be enough. There is no need for a repository to be generated either since types are referenced in models for prisma

[2022-10-30 23:39] github-actions[bot] opened #2140 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2097  |
| ✅ Successful | 1950  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 147   |

## Errors per input
### Errors in docs/tutorials/stripe.md
* [https://www.npmjs.com/package/@tsed/stripe](https://www.npmjs.com/package/@tsed/stripe): Failed: N

[2022-11-02 15:39] petermenkeepsilon opened #2145 "Update cache-manager to latest to support refreshThreshold"
## Information

**Is your feature request related to a problem? Please describe.**
When using the "memory" cache and the `@UseCache` decorator, the `refreshThreshold` option does not work because [cache-manager@^4](https://github.com/node-cache-manager/node-cache-manager/blob/4.1.0/lib/stores/memory.js) does not have a `ttl` method. [cache-manager@^5](https://github.com/node-cache-manager/node-cac

[2022-11-03 13:41] Romakita commented on #2145
Hello @petermenkeepsilon
Thanks for your Issue :)

PR is welcome. I think the change will be on the package.json here :

https://github.com/tsedio/tsed/blob/production/packages/platform/platform-cache/package.json#L25

The change isn't a breaking change so it could be integrated on the v7 release :)

See you
Romain

[2022-11-03 15:40] Paul75 opened #2146 "[BUG] mysql datasource create tell status 201 but not created"
## Information

- **Version:** 7.2.3
- Packages:

A few sentences describing the overall goals of the issue.

When Create line on BDD with TypeOrm, it response 201 but not created on database...

## Example

[code]

Thanks for help

[2022-11-03 15:45] Paul75 commented on #2146
Hello,

When I do this (use save and not create) :

[code]

it works .....

[2022-11-03 17:39] Romakita commented on #2146
Hello @Paul75,

it seems to be an issue with typeorm itself or a bad understanding from you about the typeorm API.

I won’t be able to help, because this question must be answered and clarifyed by the typeorm team ;)

I propose to close this issue!

See you

[2022-11-03 17:45] Romakita commented on #2146
Also to  clarify the decorator Status behavior.

Status will always return the given status (here 201) independently of the executed code in inside controller method (lib or framework). The status change only if an exception occurs from your code. So, Starus is agnotics from the typeorm or other library. If you want a dynamic status depending on your usecase you have to call the `ctx.response.stat

[2022-11-03 17:45] #2146 closed, assigned to Romakita

[2022-11-06 14:07] StefanPuia opened #2149 "[BUG] Deployment to npm registry does not fail the release action job"
## Information

- **Version:** 7.2.4

The release to npm has failed in this pipeline, but the action itself completed succesfully
https://github.com/tsedio/tsed/actions/runs/3356587797/jobs/5561840132#step:5:7125

[code]

Not sure if this was just a one-off thing, but it would be worth for the exit code to be propagated up to the action, so that the failure can be registered.

[2022-11-06 18:11] Romakita commented on #2149
Aïe :(
Thanks for the issue I’ll take a time to investigate!

[2022-11-06 23:37] github-actions[bot] opened #2150 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2097  |
| ✅ Successful | 1940  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 157   |

## Errors per input
### Errors in packages/orm/adapters/readme.md
* [https://tsed.io/tutorials/adapters](https://tsed.io/tutorials/adapters): Failed: Network er

[2022-11-07 12:50] Romakita commented on #2145
PR ready

[2022-11-08 10:13] #2145 closed, assigned to Romakita

[2022-11-08 10:46] Romakita commented on #2145
:tada: This issue has been resolved in version 7.3.0 :tada:

The release is available on:
- `v7.3.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-08 15:43] petermenkeepsilon commented on #2145
Thanks you @Romakita!

[2022-11-10 16:02] michael-pxr opened #2153 "[BUG] Can't specify requestBody is array of integers in OpenAPI Specification"
## Information

- **Version:** 7.3.0
- Packages: `@tsed/schema`

I have an endpoint that expects an array of integers in the request body. None of the decorators I've tried give the expected OpenAPI Specification.

## Example
I've tried the following approaches:

**A)** Using `@BodyParams() @Integer()`
[code]
results in:
[code]

**B)** Using `@BodyParams() @CollectionOf(Number) @Integer()`
[code]

[2022-11-13 23:37] github-actions[bot] opened #2155 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2097  |
| ✅ Successful | 1951  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 146   |

## Errors per input
### Errors in docs/docs/serve-files.md
* [http://localhost:3000/js/app.js](http://localhost:3000/js/app.js): Failed: Network error
* [http:/

[2022-11-15 20:46] mockorp opened #2161 "[BUG] Using OIDCRedisAdapter results in invalid_grant from the token endpoint for authorization_code grants"
## Information

- **Version:** 7.2.3
- Packages: @tsed/adapters-redis

When attempting to use the OIDCRedisAdapter, all attempts at performing an exchange from a code to a refresh/access token via the token endpoint will result in an invalid_grant error.

The full reproduction of this requires a complete OIDC implementation, but the underlying issue can be reproduced more easily.

The full behavio

[2022-11-15 20:54] mockorp commented on #2161
I created https://github.com/tsedio/tsed/pull/2162 which includes the test to reproduce this issue as well as the resolution.

[2022-11-16 06:40] Romakita commented on #2161
hello @mockorp

perfect issue. I’ll compare the redis adapter with the custom redis adapter implemented for one of my client. I think we already have fixed that, but isn’t repported on the opensource module ;)

see you

[2022-11-17 04:27] sh-winter opened #2165 "It is recommended to avoid using the default export of socketio io"
path: `tsed/packages/third-parties/socketio/src/services/SocketIOService.ts`

It is recommended to use '* as SocketIO' to replace the default export, because such writing method will throw an error when using 'rollup' packaging.

Poor English, machine translation is used, thanks for understanding.

[2022-11-17 04:30] sh-winter commented on #2165
![image](https://user-images.githubusercontent.com/48613217/202355504-8f233002-9ee3-4ce1-bf55-280e01f6e9de.png)
`socket.io` does not provide a default export.

[2022-11-17 05:09] Romakita commented on #2165
Hum… what the report between Ts.ED and rollup?

Rollup is a front-end bundler and tsed is a backend framework. I hope you don’t use it to build your code for a backend environment!!!
Because I won’t support it!
See you

[2022-11-17 05:39] sh-winter commented on #2165
The error report is as follows:
![image](https://user-images.githubusercontent.com/48613217/202365372-91e94332-a806-45e7-a452-a5a8ffe645d1.png)

[2022-11-17 05:44] sh-winter commented on #2165
Yes, I understand, but I need to build an extremely compact Docker image because the production environment is very sensitive to the image size

[2022-11-17 05:47] sh-winter commented on #2165
It is only necessary to make such modifications:
![image](https://user-images.githubusercontent.com/48613217/202366557-67405501-b5eb-4e84-b661-efd7d79d21a5.png)

[2022-11-17 06:06] Romakita commented on #2165
You are free to make a PR. If the test passed, I'll merge it.

Rollup support default export, and my tsconfig use esInteropModule so it should be correctly supported. I think they many library that use default export, or commonjs exports so asking all projects to change that will be complicated instead of fixing rollup / tsconfig on your side.

See you

[2022-11-17 06:06] Romakita commented on #2161
merged :)

[2022-11-17 06:06] #2161 closed, assigned to Romakita

[2022-11-17 06:20] sh-winter commented on #2165
Thank you Bye

[2022-11-17 06:44] Romakita commented on #2153
Implemented solution:

[code]

[2022-11-17 07:22] Romakita commented on #2165
@sh-winter  again your are free to make a PR ;)
It’ll take few minutes for you!
See you

[2022-11-17 07:53] Romakita commented on #2153
[code]

[2022-11-17 08:07] Romakita commented on #2153
@michael-digitalenterprises PR is ready: https://github.com/tsedio/tsed/pull/2166

[2022-11-18 16:03] #2153 closed, assigned to Romakita

[2022-11-18 16:23] Romakita commented on #2153
:tada: This issue has been resolved in version 7.5.1 :tada:

The release is available on:
- `v7.5.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-20 23:33] github-actions[bot] opened #2168 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 2096  |
| ✅ Successful | 1929  |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 167   |

## Errors per input
### Errors in docs/getting-started/migrate-from-express.md
* [file:///github/workspace/docs/getting-started/configuration.md](file:///github

[2022-11-21 05:50] sh-winter commented on #2165
After making changes, I don't know why the test failed, so I used `patch-package` locally to solve this problem.

[2022-11-21 07:02] Romakita commented on #2165
The ci can confirm if it’s just a timeout or a real problem. Try to push the change on the repo and create a PR.

see you ;)
Romain

[2022-11-21 08:24] sh-winter commented on #2165
@Romakita Sorry, I'm still uncertain. Do you want to run the `npm run build` command before submitting?

[2022-11-21 10:00] Romakita commented on #2165
No. Just push the code and we'll see if there is an issue with unit test :)

[2022-11-22 01:29] sh-winter commented on #2165
Thanks you @Romakita!

[2022-11-22 01:29] #2165 closed, assigned to Romakita

[2022-11-22 20:49] moskoweb opened #2173 "[BUG] Error: Cannot find module './Socket'"
## Information
After the last update, the application simply no longer boots.

## Example

[code]

## Package
[code]

[2022-11-22 23:21] Romakita commented on #2173
Install latest v7 please. Alpha is outdated and any support will be provided for alpha usage.

Please check the migration guide for v6 to v7.
Note: The componentScan is deprecated ;).

see you

[2022-11-22 23:21] #2173 closed, assigned to Romakita

[2022-11-22 23:22] Romakita commented on #2173
I let you reopen this ticket when your problem is confirmed on v7.4+

[2022-11-23 17:05] moskoweb commented on #2173
I tried to update, but it no longer recognizes my routes and controllers.

[2022-11-23 17:10] Romakita commented on #2173
@moskoweb the alpha-2 wasn’t a stable version so why did you use it!!
Again Please read migration guide from v6 to v7. https://tsed.io/getting-started/migration-from-v6.html

Also generate a new project using cli and compate your code with your project. Your issue is specific to your project.

if you want a specific support please contact me on slack and I’ll propose you a commercial support.
Open

[2022-11-23 17:12] Romakita commented on #2173
Note: v7 works fine and is used in many production app. This is why I’m sure that is not a problem from the framework.

[2022-11-23 17:21] moskoweb commented on #2173
I'm not asking for support, I wanted to understand why last week it worked, and now the same project stopped working, I changed computers, and was migrating the project, I installed the packages and stopped working, that's what I didn't understand, no change at all, just reinstall, and it didn't work anymore.

I'll see if I can migrate to v7.

[2022-11-23 17:38] Romakita commented on #2173
I don’t know… you have open this issue with an incorrect package.json configuration.

My answer is simple, no support or answer will be given for that.

my advice: rollback all change and restart the project. But if you have a problem because your app is on v7 alpha-2, I’m really sorry but I won’t be able to help you.

Alpha, beta aren’t here to nothing… it’s to tells developpers to not use this p

[2022-11-24 14:52] Crunchyman-ralph commented on #1235
Thinking of contributing for the first time with this issue,

Is this issue still valid ?

Some links are broken like these ones:
- https://github.com/tsedio/tsed/blob/production/packages/ajv/src/services/Ajv.ts#L48
- https://join.slack.com/t/tsed-framework/shared_invite/zt-ljtmbq2u-ln3FoEd4m4Oe8rIJ1~WjdQ

[2022-11-25 07:28] #2150 closed, assigned to nobody

[2022-11-25 07:28] #2155 closed, assigned to nobody

[2022-11-25 07:28] #2140 closed, assigned to nobody

[2022-11-25 07:28] #2134 closed, assigned to nobody

[2022-11-25 08:09] Romakita commented on #1235
Hello @Crunchyman-ralph
The issue is always available :)

I updated the ticket description.
The first solution introduce new decorator but it's not elegant rather than the second solution.

I tried to implement an util to wrap an existing decorator and add `.Error`. It seems to works:

[code]
Then his usage with an existing decorator:

[code]

With that you are able to wrap all schema decorator th

[2022-11-25 13:11] Romakita commented on #2149
It's fixed :)
Thanks for the issue!

[2022-11-25 13:11] #2149 closed, assigned to Romakita

[2022-11-25 14:50] Romakita commented on #2135
Finally, the generator will generate a class. It's better to have class for the json-mapper and there is no extra code to support it :)

[2022-11-25 14:51] Romakita commented on #2135
@aksharp12  PR Ready https://github.com/tsedio/tsed/pull/2175

[2022-11-25 15:17] #2135 closed, assigned to Romakita

[2022-11-25 15:43] Romakita commented on #2135
:tada: This issue has been resolved in version 7.7.0 :tada:

The release is available on:
- `v7.7.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: