[2021-01-22 13:26] gionkunz commented on #1204
Hi thanks for the quick reply. `account` does not seem to be a property of TsED.Request. Where is the type which declares this property?

[2021-01-22 13:34] konne opened #1205 "[QUESTION] or [BUG] model in separate library"
Hi,

I have a strange issue. I placed all the models into a separate library because this is defining all the exchanged classes
The separate lib is compiled with typescript and I find all decorators as well in the file.

Now the issue. The response is fully correct in the open API spec, but if I use Models.ParameterRequest instead of ModelsParameterRequest in the BodyParam the generated open API s

[2021-01-22 13:47] Romakita commented on #1204
It's passport :)

[2021-01-22 13:51] Romakita commented on #1205
The problem is probably related to the dependencies resolution. If your @easybsb/bsbjs/models add @tsed/schema as dependencies with a different version from your project, the metadata won't be collected as expected.

The fix: set @tsed/schema as peerDependencies (and devDependencies).

See you
Romain

[2021-01-22 14:29] konne commented on #1205
Hi Romain,

As a side note, this also brings me into trouble if both js libs always need the same @tsed/schema version.
Is there any possibility to get around this side problem? For example, in angular you can easily build components with decorators that add extra metadata and you don't need the exact same Version.

Thx for the hints, but it doesn't help (I updated both with the exact same version

[2021-01-22 14:32] Romakita commented on #1205
yes because Angular run his code in the same browser context, where the Nodejs create a context per modules.

Can you share me your package.json for the module and the project please :)

[2021-01-22 14:33] Romakita commented on #1205
Maybe a reproducible repo example could help to analyse the problem.

[2021-01-22 14:41] konne commented on #1205
I will create a simple testcase

[2021-01-22 16:10] konne commented on #1205
Hi,

https://github.com/konne/tsed-issue

please checkout and make an npm i and npm run start in the server
I just try to load it form the /lib
It is working if I don't define an oneOf(..) Post P2 but not with this.

[2021-01-22 16:59] olegs-hl opened #1207 "[QUESTION] Best practice or/and HOW-To do a HTTP Proxy"
How to implement an HTTP PROXY with tsed?
I want all requests, unless we have a controller for it, to be redirected to a different server, but could not find any info on how to do that. I am planning to use `http-proxy-middleware` library with tsed. Thank you.

[2021-01-22 17:06] Romakita commented on #1205
Hi,

This is exactly that I was expected :)

Just fix your package.json (`@easybsb/bsbjs`):

[code]

Then publish you package on Npm and reinstall the package `@easybsb/bsbjs` and additionally run `npm dedup` :)

it should solve your issue!
Romain

[2021-01-22 17:09] gionkunz commented on #1204
It's really weird... In passport, there seems to be a discrepancy between the authorize function:
https://github.com/jaredhanson/passport/blob/1fd591d5cdcf6516d9eb446216843223c0e020c4/lib/authenticator.js#L188-L193

Which stores the user object into `req.account` and then the `isAuthenticated` function from the Request patch:
https://github.com/jaredhanson/passport/blob/1fd591d5cdcf6516d9eb4462168

[2021-01-22 17:10] Romakita commented on #1207
Hello @olegs-hl,

Here a simple example:
[code]
Then follow the documentation :) https://github.com/chimurai/http-proxy-middleware

See you
Romain

[2021-01-22 17:34] Romakita commented on #1204
Very Interesting. I never understood the difference between authorize and authenticate but now it's clear. Thanks.
I'm so sorry for this waste of time :(

So the final solution is to change the decorator used in passport sandbox example:
[code]

But there something I have to do on `@tsed/passport`?
See you
Romain

[2021-01-22 17:57] Romakita commented on #1198
Hello,

For the problem with AJV:

If it's an `enum` why don't you use `type: MyEnum` directly?

But to fix your problem, you an try this: @BodyParams('type', String) type:  keyof typeof MyEnum

---

For the second point, to fix the issue #1189, I added the PlatformMulterMiddleware to default endpoint middlewares:

[code]
https://github.com/TypedProject/tsed/blob/production/packages/common/src/pla

[2021-01-22 18:17] #1196 closed

[2021-01-22 18:27] Romakita commented on #1198
@silveoj I created a PR which add unit test based on you example here: https://github.com/TypedProject/tsed/pull/1209/files

It works. So I don't understand the problem :)

See you
Romain

[2021-01-22 18:28] Romakita commented on #1199
Perfect I work on it!

[2021-01-22 18:28] Romakita commented on #1196
:tada: This issue has been resolved in version 6.22.3 :tada:

The release is available on:
- `v6.22.3`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.22.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-22 19:09] Romakita commented on #1199
@reed-lawrence The PR is ready. You can review it: https://github.com/TypedProject/tsed/pull/1210

See you
Romain

[2021-01-22 19:11] Romakita commented on #1202
I'll try to fix the decorator :)
See you
Romain

[2021-01-22 20:23] silveoj commented on #1198
I use `keyof typeof MyEnum` because frontend sends me not number, but string. This string is key from MyEnum.
So `keyof typeof MyEnum` validated only keys from MyEnum and didn't pass for example `TITLE1` (see below) but pass `TITLE`

[code]

Does it make sense for me to wrap MyFileUploadMiddleware and MulterOptions (PlatformMulterMiddleware )?
I suggest I can redefine PlatformMulterMiddleware? it

[2021-01-22 20:35] Romakita commented on #1198
Hoo ok. So I’ll fix the ajv to avoid your issue.
sure, I let the PR ;)

override middleware us possible but I don’t guarantee the breaking change on this middleware. But maybe I can add a hook event to allow any developper to handle the file. But the fileFilter doing the job in my opinion. His only problem, it’s not an injectable service, but it’s possible to get the req.$ctx.injector and get a se

[2021-01-22 21:00] gionkunz commented on #1204
Well, no need to say sorry :-) It's passport, which is indeed a bit a rabbit hole ;-) Yeah, I think it's just all the example which need to be updated. I think it's still valid if you offer the Authorize decorator, since there might be a use-case for oneone who needs a primary authentication and a secondary one. Although, I believe the way how passport handles this is pretty useless.

[2021-01-23 03:12] silveoj commented on #1198
Thanks. I thought about hook. I will try to moved my custom validation inside `MulterOptions`.

Maybe it's not issue with files.
But what about `@BodyParams`? They are always `undefined` for `multipart/form-data` (only for `multipart/form-data`, for `application/json` is fine). Even in 6.22.3. I can debug it if you know the best place in commit 6.19.2..6.20.0 say me)

[code]

```@BodyParams('myDes

[2021-01-23 03:19] silveoj commented on #1134
We use `express-http-context`

[code]

In service
[code]

But it would be better to use solution like @bchoii

[2021-01-23 09:00] #1199 closed

[2021-01-23 09:22] Romakita commented on #1198
It depend on the bodyParser configuration. BodyParams decorator doesn't nothing, it just pick the req.body:
https://github.com/TypedProject/tsed/blob/production/packages/common/src/platform/services/PlatformHandler.ts#L123

Then the pipe parse the expression given to the decorator:
https://github.com/TypedProject/tsed/blob/production/packages/common/src/mvc/pipes/ParseExpressionPipe.ts

The better

[2021-01-23 10:14] #1201 closed

[2021-01-23 10:25] Romakita commented on #1199
:tada: This issue has been resolved in version 6.22.4 :tada:

The release is available on:
- `v6.22.4`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.22.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-23 10:26] Romakita commented on #1201
:tada: This issue has been resolved in version 6.22.4 :tada:

The release is available on:
- `v6.22.4`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.22.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-23 14:43] NachtRitter commented on #1134
Hey @Romakita !
Have you looked into https://nodejs.org/api/async_hooks.html#async_hooks_class_asynclocalstorage
I guess it would be nice to have smth like ContextService, which we can call in any place of application to retrieve current request related data.
Especially, it will be useful for cases, when you want to isolate your request within DB-transaction in separate DB-connection.

The case lo

[2021-01-23 16:24] Romakita commented on #1134
Hello @NachtRitter
The node.js AsyncHook API is interesting but I can't implement this without create a breaking change. Actually, Ts.ED works on Node.js v10 to v15 and this api is available since v12.

Currently, `PlatformContext / Context` is here for that, his only disadvantage is you have to forward the context by parameters. For me is not a disadvantage but I understand the point that is a pa

[2021-01-23 16:53] Romakita commented on #1134
Hum after a quick reading, it seems to be relatively easily to implement this API without change the current code.

Example:

[code]

Usage:

[code]
Can you try this code pls :)
Tell me if it's works, I'm interested by the result!

See you
Romain

[2021-01-23 17:14] NachtRitter commented on #1134
@Romakita
Couple years ago I solved such case via domain API: https://nodejs.org/api/domain.html
However it worked totally fine only for callback-based codebase. With using of promises and async/await I faced sometimes with issue of missing domain during incoming request handling.

And now on another project I haven't implemented this yet. However, I made small investigation and found this new `as

[2021-01-23 20:12] silveoj commented on #1198
I don't know but `@MulterOptions` is never called starting from 6.20.0.
In 6.19.2 it works fine except `endpoint.get` which will fixed in later release https://github.com/TypedProject/tsed/issues/1196.

[code]

I have 3 similar second projects. 2 have this issue with files. I didn't update third.

[2021-01-24 23:11] pirouet opened #1213 "[QUESTION] addControllers"
I noticed there is a method called [addControllers] taking an endpoint and then list of controllers to add in. I have tried to use this in past and the routes do not show up for consumption simply throwing a HTTP 500.

Is there something I am missing such as runLifecycle, or any other method configuration I need to use to allow it to be picked up and registered?

[2021-01-25 06:26] Romakita commented on #1213
Hello @pirouet

This is a legacy ihnerited from v5. To be honest, I never really tried to use it since a long time, because the mount option doing the job. Can you share me your code pls?
there is a need /usecase to use this method?

see you
Romain

[2021-01-25 07:51] Romakita commented on #1198
Hello @silveoj
Ok if you have this issue on two projects, it only means, you have a similar configuration issue that I don't have!

I added new commit on the PR to demonstrate that the fileFilter function is indeed called:
https://github.com/TypedProject/tsed/pull/1209/commits/e7b8f6ce6499e8e2e8fbf91f33c42dc6ad8dfa9a

We're wasting time, give me a repository with the reproducible case and we can f

[2021-01-25 10:38] daveruiz commented on #1198
Hi all,

I'm reproducing this same issue in the version 6.22.2 (also tried latest one, 6.23.0) and I'm able to consistently switch it on and off. I have a custom middleware that has some async tasks inside. If I bypass the async stuff making the middleware call `next()` directly, it works. If I call `next()` asynchronously then the file is missing in the controller.

This is my `Server.ts` file:
[

[2021-01-25 11:11] Romakita commented on #1198
For the `get of undefined` this problem is fixed: v6.22.3

[2021-01-25 11:14] Romakita commented on #1198
@daveruiz  Don't add PlatformMulterMiddleware manually please. This is not the normal usage.

[2021-01-25 11:57] Romakita commented on #1198
@daveruiz Sorry. Your feedback give me maybe an idea of the problem, so thank you ;). I'll continue my investigation.

[2021-01-25 12:03] daveruiz commented on #1198
@Romakita Ok! Anyway, I've got a basic project that reproduces the issue. https://github.com/daveruiz/tsed-multer-issue

Thanks for your work here!

[2021-01-25 12:08] Romakita commented on #1198
@daveruiz Thanks for the repository ;). Thanks to your analysis I found the problem. It's related to the support of rawBody added recently. I'll fix that immediatly! thanks again for your help!

[2021-01-25 12:38] #1198 closed

[2021-01-25 12:39] Romakita commented on #1198
Release is on going. I let you reopen the issue if the problem still occurs :)

[2021-01-25 12:49] Romakita commented on #1198
:tada: This issue has been resolved in version 6.23.1 :tada:

The release is available on:
- `v6.23.1`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-25 14:08] daveruiz commented on #1198
I confirm it's working for me now, the sample project from above and the other project i'm working on.
Thanks so much for the quick fix!

[2021-01-25 14:16] Romakita commented on #1198
Great ;)

[2021-01-25 19:05] pirouet commented on #1213
Thanks for the quick response!

No specific need for it, I saw the method and was seeing if I could leverage it for something I am working on for dynamic controllers

[2021-01-25 19:32] Romakita commented on #1213
Ok :) I’ll try test this method tomorrow. But the right way to add controller dynamicly is to inject Platform and use addRoute :)

https://github.com/TypedProject/tsed/blob/production/packages/common/src/platform/services/Platform.ts#L61

addController is to add controller in the bootstrap function but you can add controller with mount option at this step.

[2021-01-27 08:32] Romakita commented on #1202
https://github.com/TypedProject/tsed/pull/1217/files

[2021-01-27 09:50] Romakita opened #1218 "[TECH] Replace mocha/chai/proxyquire by Jest on Ts.ED repository"
## Information

Replace the mocha unit test file by Jest. To doing that, we can use [`jest-codemods`](https://github.com/skovhus/jest-codemods).

Changing all units tests in on PR is not possible. So, we will migrate unit test package by package. There is already some package migrated on Jest.

### Packages

Package | Status | Location
---|---|---
core | no | https://github.com/tsedio/tsed/tree/pr

[2021-01-27 11:58] #1202 closed

[2021-01-27 12:09] Romakita commented on #1202
:tada: This issue has been resolved in version 6.23.2 :tada:

The release is available on:
- `v6.23.2`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.23.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-28 08:44] EmilienLeroy opened #1220 "[BUG] Failed to load API definition for swagger default configuration on Windows"
## Information

- **Version:** 6.23.2
- Packages: Swagger

I just create a fresh project with the cli. I have only added Swagger as plugin and use Express. When I start the project and go into the swagger docs I get this error `Failed to execute 'fetch' on 'Window': Failed to parse URL from http://localhost:8083C:\v2\docs\swagger.json http://localhost:8083C:\v2\docs\swagger.json`

![image](https:/

[2021-01-28 09:35] #1220 closed

[2021-01-28 09:37] Romakita commented on #1220
Hello @EmilienLeroy

My bad, I totally forgot this point ^^'. The fix will be released in few minutes on NPM.
Thanks for the issue!

Romain ;)

[2021-01-28 09:48] Romakita commented on #1220
:tada: This issue has been resolved in version 6.23.3 :tada:

The release is available on:
- `v6.23.3`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.23.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-28 10:38] EmilienLeroy commented on #1220
Thanks @Romakita !
It works perfectly 😄

[2021-01-29 18:06] silveoj opened #1222 "[QUESTION] One ResponseFilter with content-type changes content-type for all responses"
[code]

If I use `@ResponseFilter('application/json')` then `content-type` is `application/json` (`ctx.response.raw.headers` inside `transform` method)
If I use `@ResponseFilter('text/plain')` then `content-type` is `text/plain` (`ctx.response.raw.headers`  inside `transform` method)

I need to return `image/png` so I use `@ResponseFilter('application/json')` to skip `get-png` endpoint. But Filter

[2021-01-30 17:58] Romakita commented on #1222
Hello @silveoj

Your problem isn't clear, but I tried to reproduce it here: https://github.com/TypedProject/tsed/pull/1224
Right now, all works fine.

Can you create codesandbox or reproducible repository example please. I won't take more time to investigate on it without that ;)

See you
Romain

[2021-01-30 20:59] flexwie commented on #851
I could give this a try.
Don't know if I can cover the more advanced stuff tho as I am just getting used to working with this framework...

[2021-01-31 14:03] silveoj commented on #1222
Hello @Romakita
I can't reproduxe it in sandbox. But I can reproduce it locally (export from sandbox).
[sandbox example](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/Server.ts)

 But I rephrase my issue:
I use `text/plain` filter
[code]
I send JSON:
[code]
But `text/plain` filter is called for JSON. Postman gets `{"filter":"text/plain"}` response.
It will not be cal

[2021-01-31 14:03] silveoj commented on #1222
Hello @Romakita
I can't reproduce it in sandbox. But I can reproduce it locally (export from sandbox).
[sandbox example](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/Server.ts)

So I rephrase my issue:
I use `text/plain` filter
[code]
I send JSON:
[code]
But `text/plain` filter is called for JSON. Postman gets `{"filter":"text/plain"}` response.
It will not be calle

[2021-01-31 14:07] silveoj commented on #1222
Hello @Romakita
I can't reproduce it in sandbox. But I can reproduce it locally (export from sandbox).
[sandbox example](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/Server.ts)

So I rephrase my issue:
I use `text/plain` filter
[code]
I send JSON:
[code]
But `text/plain` filter is called for JSON. Postman gets `{"filter":"text/plain"}` response.
It will not be calle

[2021-01-31 17:11] silveoj commented on #1222
Hello @Romakita
I can't reproduce it in sandbox. But I can reproduce it locally (export from sandbox).
[sandbox example](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/Server.ts)

So I rephrase my issue:
I use `text/plain` filter
[code]
I send JSON:
[code]
But `text/plain` filter is called for JSON. Postman gets `{"filter":"text/plain"}` response.
It will not be calle

[2021-02-01 00:56] silveoj commented on #1222
My task is set no cache headers for ALL responses.
My temporary solution in v6 is
[code]

Here is my middleware [codesandbox](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/middlewares/MyGlobalSendResponse.ts)
(`ctx.data = { ... }` in `UseAfter` also doesn't work like in https://github.com/TypedProject/tsed/issues/914 But I don't need it. I only add headers)
[code]

[2021-02-01 01:04] silveoj commented on #1222
My task is set no cache headers for ALL responses.
My temporary solution in v6 is
[code]

Here is my middleware [codesandbox](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/middlewares/MyGlobalSendResponse.ts)
(`ctx.data = { ... }` in `UseAfter` also doesn't work like in https://github.com/TypedProject/tsed/issues/914 But I don't need it. I only add headers)
[code]

[2021-02-01 01:07] silveoj commented on #1222
My task is set no cache headers for ALL responses.
My temporary solution in v6 is
[code]

Here is my middleware [codesandbox](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/middlewares/MyGlobalSendResponse.ts)
(O noticed `ctx.data = { ... }` in `UseAfter` doesn't work like in https://github.com/TypedProject/tsed/issues/914 But I don't need it. I only add headers)
[cod

[2021-02-01 01:07] silveoj commented on #1222
My task is set no cache headers for ALL responses.
My temporary solution in v6 is
[code]

Here is my middleware [codesandbox](https://codesandbox.io/s/tsed-filter-by-content-type-example-297yp?file=/src/middlewares/MyGlobalSendResponse.ts)
(I noticed `ctx.data = { ... }` in `UseAfter` doesn't work like in https://github.com/TypedProject/tsed/issues/914 But I don't need it. I only add headers)
[cod

[2021-02-01 07:33] avalladaresm opened #1228 "Cannot find module './DecoratorUtils'"
## Information

- **Version:** 6.23.4
- Packages:

I am deploying a ts.ed app to Azure App Service, everything goes smooth until I try to load my website, to which I get an error on the App Service Editor, that says:

[code]
Any idea what could cause the issue?

My `package.json` looks like this:
[code]

Any help would be very much appreciated!

[2021-02-01 08:37] Romakita commented on #1222
Hello @silveoj

The better choice to set no-cache is to use a middleware registered on $beforeRoutesInit hooks. This the main principle with Express.js. Middlewares added after the handler which send the response, won't probably be called (in pure Express.js app).

Can you send me also a curl example. The content-type/accept headers sent by the browser especially :)

See you
Romain

[2021-02-01 08:50] Romakita commented on #1228
Hello @avalladaresm
Can you fix the package please, then run npm install & npm dedup (or yarn):

[code]

See you
Romain

[2021-02-01 10:00] Romakita commented on #1222
Hello @silveoj
I created a repository based on your sandbox. https://github.com/Romakita/tsed-issue-1222

All unit test works! Can you checkout the repository and

[2021-02-02 02:52] avalladaresm commented on #1228
Hey @Romakita,
So, I did the following: First, I was deploying the web app service in a Windows Server machine, and that's where I had the issue I mentioned above. Then I decided to deploy it again, but this time, in a Linux machine and I was no longer getting that error, even without applying the changes that you mentioned, so I got it working at the end, it was my first time deploying something

[2021-02-03 09:36] Romakita commented on #1228
Hello @avalladaresm
You have the @tsed/passport for that or @tsed/oidc-provider (OAuth/ OpenID).
Passport: https://tsed.io/tutorials/passport.htm
OIDC:  https://tsed.io/tutorials/oidc.html

Read the documentation and tell if you have any question ;)

Note: for your issue on windows server, sometimes, Windows doesn't download correctly all files :( Isn't just related to Ts.ED.

See you
Romain

[2021-02-03 10:21] bkniffler opened #1229 "[QUESTION] Use sentry (or any other library to catch errors)"
I'll use sentry as an example, but I guess this question is applicable to any error catching utility. I'm aware tsed allows for error middleware (per endpoint/controller) and error filters (to handle specific exceptions and compose a proper response).

But if I'd like to add a global error middleware for all endpoints that should only catch errors for logging purposes, without changing the respons

[2021-02-03 10:44] Romakita commented on #1229
Hello :)

I think the best way is to use the hook `$afterRoutesInit()`

[code]

See you
Romain

[2021-02-03 10:46] bkniffler commented on #1229
Ah cool, works great, thanks!

[2021-02-03 10:46] #1229 closed

[2021-02-04 14:35] silveoj opened #1231 "[QUESTION] AJV - input params - null as string"
## Information

- **Version:** 6.24.2
- Packages:
[code]
[sandbox](https://codesandbox.io/s/querystring-ajv-error-z2ucv?file=/src/controllers/rest/MyCtrlQuery.ts)
1.
[code]
If you send `{"myId":null}` we get null converted to string: `'null'`.
If request doesn't have this field I get `undefined`.
Workaround is  `@Any()` + `string | null` sometimes doesn't work:
`postMe1_null(@Any() @BodyParams("my

[2021-02-05 18:07] silveoj commented on #1231
4. (Yes/No)
[code]

If we have `@QueryParams` or `@BodyParams` without type it will throw AJV error:
`"Bad request on parameter \"request.query.myId\".\nValue should be object.`
We need to add type:
[code]

The same with enum
`@QueryParams("direction") direction: Direction = Direction.Up` // works
`@QueryParams("direction") direction = Direction.Up` // doesn't work

I suggest it's by design https:

[2021-02-05 18:37] #1228 closed

[2021-02-05 18:46] #1222 closed

[2021-02-05 18:48] Romakita commented on #1222
Fixed.

Please consider [supporting](https://tsed.io/support.html) the framework if it provides value to you or your company and this support was of help to you. Supporting the framework means, amongst other things, that such support will be available in the future.

[2021-02-05 19:51] classical-bit opened #1232 "Cannot find module 'tsconfig-paths/register'"
## Information

- **Version:** 6.24.2 (using ts-node ver. 9.1.1, typescript ver. 4.1.3)

A few sentences describing the overall goals of the issue.
Running the development server using yarn start ("tsnd --inspect --ignore-watch node_modules --respawn --transpile-only -r tsconfig-paths/register src/index.ts") throws error.

## Example

[code]

Missing tsconfig-paths in dev-dep

Was able to get it r

[2021-02-05 21:20] Romakita commented on #1231
1. Will be fixed
2. If you use strange decorators combination, the result will be strange also. I'll add the `@Nullable` decorator, to solve your issue:

[code]
3. WIll be fixed
4. Yes I recently discovered the side effect with the v6, since  inline validation is supported on BodyParams. TypeScript doesn't give the expected type for default value assignment. In this case, typescript set `Object` a

[2021-02-05 21:35] Romakita commented on #1232
Hello @classical-bit
This issue is for the cli right?

[2021-02-05 21:47] Romakita commented on #833
I added the CustomKey decorator for that. I started a branch to use this avj module, but I haven’t finish my work on it (not prioritary among all others features/projects/fix).

contributors are always welcome!

See you
Romain

[2021-02-06 00:15] silveoj commented on #1231
Thanks @Romakita

`return "" + data;` I read this code but didn't pay attention it can be issue for `null`)

It's outsource project (client uses it for internal purposes, inside the company).
I don't think it's a big project. We have a lot of similar endpoints: upload/download documents, huge requests/responses, 3 databases, different date format from DB, old IE browser. Also we didn't use AJV val

[2021-02-06 07:51] classical-bit commented on #1232
Yes @Romakita. Should I close this one & re-open this issue in tsed-cli?

[2021-02-06 08:14] Romakita commented on #1231
Agreed, your feedback is interesting about ajv validation :)

[2021-02-06 08:19] Romakita commented on #1232
No worries, It’s to be sure ^^.

if you are interested to fix this issue and make a PR, you just have to edit the InitCommand.ts and add the missing devDependencies, then run test « yarn install & yarn test » and update the expected result. (10minutes ;) )

interested?

[2021-02-06 08:38] classical-bit commented on #1232
Super interested! Thank you! @Romakita

[2021-02-06 08:56] Romakita commented on #1232
@classical-bit  Here is the file ;): https://github.com/TypedProject/tsed-cli/blob/master/packages/cli/src/commands/init/InitCmd.ts#L288

[2021-02-06 09:16] Romakita commented on #1231
:tada: This issue has been resolved in version 6.25.0 :tada:

The release is available on:
- `v6.25.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.25.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-06 09:31] classical-bit commented on #1232
Added it into dev-dep. PR: https://github.com/TypedProject/tsed-cli/pull/75
But the test didn't break, I checked but didn't find any assertions for dev dependencies. Might require some changes in tsed/cli-testing.

And thanks so much for helping me out.

[2021-02-06 09:42] Romakita opened #1235 "[FEAT] Add ajv-errors support"
## Information

Add ajv-errors message customization support.

Ref: https://www.npmjs.com/package/ajv-errors
Related: #833

## Example

Configuration:
[code]

Output:

[code]

## Solution

### Example 1:
Expected json-schema:

[code]

Solution using decorator:

[code]

## Example 2

For keywords "required" and "dependencies" it is possible to specify different messages for different properties.

E

[2021-02-06 09:45] Romakita commented on #1235
@silveoj Can you review this issue. You have more experience with the ajv-errors module :). Maybe I miss something!

See you
Romain

[2021-02-06 13:25] Romakita commented on #1232
I already merged the fix.

You've probably right, the Cli-testing isn't correct but the fix isn't simple.

So we can mock the projectPackageJson.write method to solve you problem :)

If you add this mock, you should have the expected result (https://github.com/TypedProject/tsed-cli/blob/master/packages/cli/test/integrations/init/init.integration.spec.ts#L30):

[code]

Can you add this on your bran

[2021-02-06 15:22] silveoj commented on #1231
Thanks @Romakita
I found one small issue with Date converting.
`null` -> 0 -> 1 Jan 1970

It will work if in `DateMapper` `deserialize` method add code to check for null (as in StringMapper):
`return data === null ? null : new Date(data);`

Or I suggest to see my way (helper for dates):
[code]
I suggest maybe return:
if date is not correct -> input value
if date is correct -> successful converted

[2021-02-06 19:44] #1231 closed

[2021-02-06 20:27] Romakita commented on #1231
:tada: This issue has been resolved in version 6.25.1 :tada:

The release is available on:
- `v6.25.1`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.25.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-07 06:59] classical-bit commented on #1232
Aye captain, I'll share the new PR asap.

[2021-02-07 14:57] silveoj commented on #1235
@Romakita
it looks good.

What about multiple messages in Example 2:
[code]
Now `@CustomKey` supports one property: `@CustomKey('customErrorMessage', 'not correct input property: ...')`
Maybe extends it for object. It will be handly for Example 2.
[code]

[2021-02-07 16:06] Romakita commented on #1235
1. Yes multiple message will be supported.
2. Placeholder is totally support by ajv-errors, this is why I haven't added example.

[code]

Ts.ED:
[code]
Adding arrow function to build message seems to be not possible if ajv-errors doesn't provide a way to do that.

Thanks for your feedback @silveoj

Romain

[2021-02-07 16:12] Romakita commented on #1232
Thanks a lot @classical-bit  ;)
If you have also any idea to improve the CLI (feature, concept... etc..), tell me!

[2021-02-07 20:59] #847 closed

[2021-02-08 08:45] Romakita commented on #1235
@silveoj PR to add `@CustomKeys` decorator https://github.com/TypedProject/tsed/pull/1238

[2021-02-08 11:20] classical-bit commented on #1232
@Romakita I was thinking of a minor feature of providing an option in CLI to setup pre-commit hooks for the test, lint, etc.

[2021-02-08 11:56] Romakita commented on #1232
Hello @classical-bit
this options is already implemented when you select the linter option:
<img width="565" alt="Capture d’écran 2021-02-08 à 12 56 34" src="https://user-images.githubusercontent.com/1763311/107216472-1ab32800-6a0d-11eb-9eb4-446621ecf138.png">

^^

[2021-02-09 18:02] vembry commented on #29
sorry for commenting on an old post, but i just want to make sure, that there are no code fix/improvement for this _un-orderly_ path declaration?

e.g if i have something like below
[code]

i'd have to switch and declare `/q`  before `/:documentId` like below?
[code]

 to prevent  request went to `/:documentId` instead of `/q`, is it like that?

[2021-02-09 22:53] Romakita commented on #29
@vembry yes you have to switch methode order (like with a pure express app).

[2021-02-10 07:42] EmilienLeroy opened #1239 "[QUESTION] componentsScan types"
In the [documentation](https://tsed.io/docs/providers.html#services), you can directly import a service into the `componentsScan`. But into the Configuration interface the `componentsScan` must be a `string | RegExp` array. This cause a type error and I must had an `as any` to the `componentsScan` field to avoid this error. You can find an example [here](https://github.com/EmilienLeroy/labs/blob/4

[2021-02-10 08:52] Romakita commented on #1239
@EmilienLeroy It's totally normal, adding service/provider to componentsScan fields has no sense.
Ts.ED discover automatically services/providers as soon as it is imported into your application via an import ES6.
In most case, if your service is used by a controller or another service which is used by a controller, it's not necessary to import it explicitly (as it will be the case with angular for

[2021-02-10 09:11] EmilienLeroy commented on #1239
@Romakita
Thanks you for this very clear answer !

[2021-02-10 09:11] #1239 closed

[2021-02-13 03:39] vembry commented on #29
i apologize, apparently it's already covered in the documentation [here](https://tsed.io/docs/controllers.html#routes-order)

[2021-02-13 09:01] Romakita commented on #29
No worries ;)

[2021-02-15 17:43] Madrity opened #1242 "[QUESTION] Swagger file path"
Hello,

my API is hosted on https://mydomain.io/my-api/

here is my swagger config :

`swagger: ([{ path: "/swagger-ui", fileName: "index.html" }])`

when i check my swagger ui on https://mydomain.io/my-api/swagger-ui/
I have this error `Not Found https://mydomain.io/swagger-ui/index.html`

my API path is ignored.

when i request https://mydomain.io/my-api/swagger-ui/index.html it's ok.

Am i miss

[2021-02-16 06:12] paschaldev commented on #1134
@Romakita I have this same challenge / need and was lucky to find out this is already an open issue. I'm trying to implement it the way you mention but I'm confused where to put the first file or how to load it. I mean the file with `AsyncHookContext`

[2021-02-16 06:51] paschaldev opened #1244 "[BUG] shouldValidate method is deprecated"
## Information

- **Version:** 6.x

The `shouldValidate` method of `ClassValidationPipe` is deprecated but still in the class validation docs snippet

## Example

[code]

[2021-02-16 07:33] Romakita commented on #1134
Just import the file in the server. Ts.ED will load the service automatically. I’ll try to provide a new package with this code ASAP.

[2021-02-16 07:39] paschaldev commented on #1134
@Romakita some minimal issue with typings and iherited methods

<img width="650" alt="Screen Shot 2021-02-16 at 8 38 11 AM" src="https://user-images.githubusercontent.com/13323281/108032264-83fcf180-7032-11eb-909c-dda7b1a52cf0.png">
<img width="788" alt="Screen Shot 2021-02-16 at 8 38 20 AM" src="https://user-images.githubusercontent.com/13323281/108032270-85c6b500-7032-11eb-93ef-a8726c48be13.png"

[2021-02-16 07:55] paschaldev commented on #1134
@Romakita I did this and it works. What I need is the Request headers and I can see it log in the console. Thank you.

##### AsyncContextProvider.ts
[code]

<img width="585" alt="Screen Shot 2021-02-16 at 8 54 21 AM" src="https://user-images.githubusercontent.com/13323281/108033637-97a95780-7034-11eb-9b35-a6a8268c67e1.png">

[2021-02-16 07:55] paschaldev commented on #1244
I sent in a PR

#1245

[2021-02-16 08:07] Romakita commented on #1134
Ok the only problem is about the OnRequest Interface definition :). Thanks for your feedback.

We can create a new package @tsed/async-hook-context with this code (+ fix). It'll be a plugin in v6 and if the package works fine, we can integrate it into the common package!

[2021-02-16 08:17] #1244 closed

[2021-02-16 08:22] paschaldev commented on #1134
@Romakita I still have a hard time figuring out when / how the `$onRequest` method of the `AsyncHookContext` class is fired.

### AsyncContextProvider

[code]

I imported in `Server.ts` like this:

[code]

However nothing seems to be happening, where I injected it, $ctx is undefined

[2021-02-16 08:46] paschaldev commented on #1134
I finally got it to work,

[code]

Log output of `$ctx` in the console after injecting in a custom service. Thank you guys

<img width="664" alt="Screen Shot 2021-02-16 at 9 45 25 AM" src="https://user-images.githubusercontent.com/13323281/108038931-b8c17680-703b-11eb-985c-870bae2c0aaa.png">

[2021-02-16 08:57] Romakita commented on #1134
Ok I understand now why it doesn't works XD.

[2021-02-16 09:53] paschaldev commented on #1134
@Romakita Another weird discovery, only works if `Content-Type` is set to `application/json`

[2021-02-16 10:32] Romakita commented on #1134
@paschaldev You can review the PR here: https://github.com/TypedProject/tsed/pull/1246

It add a new package `@tsed/async-hook-context` :)

See you
Romain

[2021-02-16 10:35] paschaldev commented on #1134
Thanks @Romakita

[2021-02-16 12:59] #1134 closed

[2021-02-16 13:16] Romakita commented on #1134
:tada: This issue has been resolved in version 6.26.0 :tada:

The release is available on:
- `v6.26.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.26.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-16 13:41] Romakita commented on #1134
@paschaldev you can test the new package ;)

[2021-02-16 17:20] paschaldev commented on #1134
@Romakita Just tested it, works fine and much better than the manual setup I did earlier. We're good to go

[2021-02-16 17:50] Romakita commented on #1134
Great :D

[2021-02-16 18:27] paschaldev opened #1248 "[QUESTION] Inject a Provider in an Interceptor"
I have an `AuthenticationProvider` that handles all the authentication logic of the app I am working on. It has a method `getAuthUser()` that I use to get the current authenticated user (Under the hood, this uses the `@tsed/async-hook-context` to pull JWT token from the request headers`

### AuthenticationProvider.ts

[code]

This setup works fine with `Controllers` and `Middlewares`

### AuthMidd

[2021-02-16 18:41] Romakita commented on #1248
Your error means you have a bad import with AuthenticationProvider. Add a console.log(AuthenticationProvider) just after all import to see if the import is ok. If not, you have a circular dependencies.

[2021-02-17 12:26] paschaldev commented on #1248
Yes it is `undefined`, however importing another provider from the same directory wasn't `undefined`. I;ll check for Circular Depencies

<img width="884" alt="Screen Shot 2021-02-17 at 1 18 48 PM" src="https://user-images.githubusercontent.com/13323281/108204116-aae72080-7123-11eb-8787-b42a7dd764f5.png">

[2021-02-17 12:41] paschaldev commented on #1248
I fixed the Circluar Dependency issues (none was reported for the `AuthenticationProvider` by the way but still its undefined

<img width="786" alt="Screen Shot 2021-02-17 at 1 40 22 PM" src="https://user-images.githubusercontent.com/13323281/108205775-cbb07580-7125-11eb-885b-e1aab0282450.png">

[2021-02-17 13:11] paschaldev commented on #1248
I can confirm it's actually a circular dependency. Copied the content of `AuthenticationProvider` to another file (Gave it another name). Imported this files and it worked. I'll have to figure out this one

[2021-02-17 13:11] #1248 closed

[2021-02-23 01:21] #1154 closed

[2021-02-24 23:56] CoryBall opened #1255 "[QUESTION] GraphQL + Passport"
While there are separate guides for these, how do they work together using Ts.ED conventions? I've tried using [graphql-passport](https://github.com/jkettmann/graphql-passport) and modifying the code from the Ts.ED documentation, but I cannot figure out how to get anything to work correctly. While an answer or guidance would be greatly appreciated, I think it is a common problem developers face wh

[2021-02-25 23:52] CoryBall commented on #1255
And also related: Middleware with GraphQL. Middleware made from the documentation works with Controllers, but not with Graphql (e.i. getting a bearer token from headers and putting it in req.user for the GraphQL Resolver context parameter)

[2021-02-26 00:10] Romakita commented on #1255
Hello @CoryBall
Sorry for my lating answer. I don’t use graphql , So my knowledge is very basic.
To start investigation on middleware issue and solve it quickly, a repo example with the minimal code and your expectation (comments in code it’s fine) will help me a lot.

For graph-passport... I don’t know how to do that. I need a repo with a grapql example to understand the mechanism and provide you

[2021-02-26 00:14] Romakita commented on #1255
Ok the example of passport graphql is understable, I try to give you an example tomorrow.

[2021-02-26 09:40] #1232 closed

[2021-02-26 09:49] Romakita commented on #1255
Ok the PR is ready :)
You can take a look on the PR to see a working example with graphql-passport: https://github.com/TypedProject/tsed/pull/1256

See you
Romain

[2021-02-26 11:33] Romakita commented on #1242
Hello @Madrity
fileName option isn't used by Ts.ED framework. The link display in the terminal is the reference. There is no issue for me :)

See you
Romain

[2021-02-26 19:58] CoryBall commented on #1255
Awesome! That looks great, I'll play with it. Do you still want a repo with a graphql + middleware example? I wasn't able to get that yesterday but I believe I can get that to you today. (CST)

[2021-02-26 20:24] Romakita commented on #1255
I think the issue is fixed with the latest release. Passport is also a middleware which must be executed before graphql.

[2021-02-26 20:28] Romakita commented on #1255
I just need your feedback before closing the issue ;)

[2021-02-26 20:58] CoryBall commented on #1255
Everything works great! I appreciate the quick replies and fix. Both passport and middleware is working as expected with 6.24.4

[2021-03-01 14:55] EmilienLeroy opened #1259 "Terminus plugin"
## Informations
**Is your feature request related to a problem? Please describe.**
Adding an implementation of [terminus](https://github.com/godaddy/terminus) library. This can be used to create a route which determine if our app is health or unhealth.

**Describe the solution you'd like**
Add a ``@Health`` decorator based on the terminus library. Nest have his own implementation of the terminus l

[2021-03-02 01:41] #1255 closed

[2021-03-02 07:01] Romakita commented on #1255
Great :)

Please consider [supporting](https://tsed.io/support.html) the framework if it provides value to you or your company and this support was of help to you. Supporting the framework means, amongst other things, that such support will be available in the future.

[2021-03-02 07:04] Romakita commented on #1259
Hello @EmilienLeroy,

How I can help you? I think, you want to create a new Ts.ED package on this repository, right?
I can help you to do that, if you are motivated to create the PR around this feature.

Tell me :)
See you
Romain

[2021-03-02 07:05] Romakita commented on #1205
@konne Can I close this issue?

[2021-03-02 07:48] EmilienLeroy commented on #1259
Hello @Romakita

I think a new package can be a good solution for implement this library. I can try to do it myself with some help. Do you have a discord server or something else ?

[2021-03-02 07:53] Romakita commented on #1259
Here is the slack team ;) https://join.slack.com/t/tsed-framework/shared_invite/zt-ljtmbq2u-ln3FoEd4m4Oe8rIJ1~WjdQ

[2021-03-02 07:58] EmilienLeroy commented on #1259
Thanks !
I don't have lot of free time now but when I can, I will take a look to this feature !

[2021-03-02 12:51] ITninja04 opened #1260 "[QUESTION] Is it possible to use the IoC Container without listening for requests"
First of all awesome project, we really enjoy using the platform!

Previously we were using NestJS and enjoyed using their 'standalone application' feature: https://docs.nestjs.com/standalone-applications

This would allow us to utilize the benefits of DI without the overhead of listening for HTTP requests.

A good use case for us is when we leverage a background task system like BullMQ and want t

[2021-03-02 13:54] Romakita commented on #1260
Hello @ITninja04
Yes it's totally possible. @tsed/di is completely separated from the @tsed/common (server) package.

You can find a small example to create your own container here:
https://www.npmjs.com/package/@tsed/di

If you need more advanced usecase tell me :)
See you
romain

[2021-03-02 14:01] Romakita commented on #1260
This PR https://github.com/TypedProject/tsed/pull/1079 allow the creation of a small di container with mongoose database access.
The most import things is this code:
[code]

[2021-03-04 01:44] ITninja04 commented on #1260
@Romakita that works, thank you so much for sending this over!

[2021-03-05 03:39] ecalvert opened #1262 "[BUG] Incorrect JSON Schema Generated When Combining @Schema Decorator, oneOf, and @QueryParams"
## Information

- **Version:** 6.27.0

When using a model that has a property decorated with `@Schema({ oneOf: [ { type: 'string' }, { type: 'number' }  ] })` the items in the `oneOf` array will are duplicated for each controller in your app.

## Example
[code]

[code]

[code]

If you look at the generated `v3/docs/swagger.json` file, the `badSchema` parameter has 4 entries in the oneOf property:

[2021-03-05 07:29] Romakita commented on #1262
Hello @ecalvert
It's not a bug for me. This is because you trying to complicate the schema when there is no need for it with a QueryParameter.

QueryParameters can be always a string or string[]. Swagger doesn't known how to render this usecase and display only a textfield (for me it's not correct):

[code]
<img width="1382" alt="Capture d’écran 2021-03-05 à 08 25 55" src="https://user-images.gi

[2021-03-06 12:58] progressivetr opened #1266 "[QUESTION] Compile components with Webpack"
Due to tsed use glob pattern to scan components, i can not build project with webpack. Could i use also import statements to define components?

An example:

[code]

[2021-03-06 14:07] Romakita commented on #1266
Globpattern doesn’t works with webpack. you have to import manually controller or use require.context :)

[2021-03-06 20:24] progressivetr commented on #1266
I imported controller manually but i could not find any way to import services.

[2021-03-06 20:48] Romakita commented on #1266
If a controller your service, it’ll be imported automatically. Ts.ED usethe ES6 import to discover services :), so if one of your imported nodejs file use the service, Ts.ED will create the instance on server bootstrap.

[2021-03-06 21:49] progressivetr commented on #1266
Absolutely but Tsed use blob patterns to find and load services so i could not use tsed with webpack.

[2021-03-07 06:05] Romakita commented on #1266
Just import your services and middlewares with a a classic es6 import in your server.

import from “./path/to/myservices“

another solution is to use require.context.

Ts.ED works fine with webpack. Many project works with since a long time.

[2021-03-07 06:07] Romakita commented on #1266
https://github.com/TypedProject/tsed-example-webpack

[2021-03-07 10:07] progressivetr commented on #1266
Thanks for helping. I was already doing it with that project. Now, i have builded project with webpack but I get the following error :(

![image](https://user-images.githubusercontent.com/52868371/110236265-e405fa00-7f45-11eb-9532-8d165b3f1ea5.png)

[2021-03-07 10:46] progressivetr commented on #1266
The problem is related with Entity repositories. Entity repositories extends Repository object but its dont have "manager" object.

[2021-03-07 11:28] Romakita commented on #1266
Did you use typeorm? If yes, open an issue or ask question to typeorm teams. I’m not able to help you on this part ^^

[2021-03-07 11:32] progressivetr commented on #1266
I resolved problem. Thanks for helping. The problem is related with typeorm config (it was generated automatically with tsed cli). I added entities and migrations manually instead of reading json.

[2021-03-07 11:32] #1266 closed

[2021-03-08 15:36] panbhatt opened #1274 "[QUESTION] Authentication on swagger"
HI Team,
  is there a feature available in TSED.io through which we can protect our Swagger path only for specific users or can apply  any type of authentication on to it. like basic/digest/custom. we just wanted to stop anyone calling that API-DOCS unless can authenticate.

[2021-03-08 16:37] Romakita commented on #1274
Hello @panbhatt

There is no feature to do that. You'd just use a middleware (like passport, or basic auth) to protect the swagger path.
See you
Romain

[2021-03-08 17:25] panbhatt commented on #1274
THanks. Can you please throw me an example, that would be great. we are using 5.56 version.

[2021-03-08 17:33] panbhatt commented on #1274
i have tried different way to do it. via using this.express.get('/api-docs', () )  and even tried @beforeRoutesInit() as this.use(MIDDLEWARE).

[2021-03-08 17:35] Romakita commented on #1274
Prefer the usage of this.express.use(‘/api-docs’, myMiddleware) on $afterInit or $beforeRoutesInit.

I haven’t example in mind ^^

[2021-03-08 17:41] panbhatt commented on #1274
Thanks a lot. This seems to be working. I think i might be doing something wrong.

[2021-03-09 14:52] aldigjo opened #1277 "[QUESTION] Typeorm Entity Repository"
Can you use EntityRepository as the singular way to interact with the DB? Do you still need to provide a TypeormService or injected connection if I am already injecting an EntityRepository?

Also - I am getting my entityRepository as undefined when I try to run my source files with nodemon, but it seems to work fine when I build the TS files and run the js files.

Am asking for clarification if th

[2021-03-09 17:01] aldigjo commented on #1277
@Romakita Thanks for the response!

for Jest unit tests, is there a different way to configure the entities?

[2021-03-10 06:44] alexdonh commented on #1200
+1 for this

[2021-03-10 18:38] Elyspio opened #1279 "[BUG] @Tsed/Seq options seems to do nothing"
## Information

- **Version:** 6.32.2
- Packages: @Tsed/Seq

I would like to change the url of Seq server from `localhost:5431` to `192.168.0.60:1234`

But I'm still getting the error `Error: connect ECONNREFUSED 127.0.0.1:5341`

## Example

[code]

## Acceptance criteria

- [ ] The seq client must connect to the url passed in options

[2021-03-11 09:17] #1279 closed

[2021-03-11 09:34] Romakita commented on #1279
:tada: This issue has been resolved in version 6.33.0 :tada:

The release is available on:
- `v6.33.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.33.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-12 09:55] #1205 closed

[2021-03-12 16:15] csnate opened #1282 "X-Request-ID in response should not overwrite an existing X-Request-ID request header"
## Informations
**Is your feature request related to a problem? Please describe.**
See below.

**Describe the solution you'd like**
With the addition of the X-Request-ID header in 6.21.0, I would also like to propose that you use an existing X-Request-ID header from the request (if it exists) instead of always creating a new ID in the response header. It makes it easier to track requests through a

[2021-03-13 09:49] Romakita commented on #1282
Hello @csnate
It's already possible by providing your own requestIdBuilder but we can do that in standard.

Here:
https://github.com/TypedProject/tsed/blob/production/packages/common/src/platform/utils/createContext.ts#L7

You can propose a small PR if you have a time :)

Romain

[2021-03-15 00:53] securityMB opened #1284 "[QUESTION] Conditional validation in Model"
Hello!

Does Ts.ED provide a way to perform a conditional validation of a model based on another field in the model? Consider the following example

[code]

For the record, it doesn't really matter for me if this requirement is reflected in JSON Schema (both fields can be optional), I'm only caring about validation of request.

[2021-03-15 11:12] royibernthal opened #1285 "[QUESTION] v5 to v6 Migration Issues"
I'm migrating from v5 to v6.
For the sake of a clean migration - I completely recreated the project using the tsed cli. I'll copy my existing code from v5 into it.

1) I'm getting the following error when executing `npm start` (as created by tsed cli with no changes), and I'm getting the following error:
`Missing baseUrl in compilerOptions. tsconfig-paths will be skipped`

2) I'm trying to use dot

[2021-03-15 11:49] Romakita commented on #1285
Hello @royibernthal

the first point isn’t an error. Just a warning. I think if you add the baseUrl in your tsconfig, it should solve the warning.

You don’t need to specify something for dotenv. Dotenv explain how the files are loaded.
I don’t know why the server doesn’t start and I can’t help you (I’m not the author of tsnd/dotenv).
But I’m pretty sure this not related to v6.

See you
Romain

[2021-03-15 12:11] royibernthal commented on #1285
Hey @Romakita

Thanks for the quick response.

baseUrl - You're right.

DotEnv - Fair enough. I managed to get it to work with a different approach.

More migration questions coming soon :) (probably)

Regards,
Royi

[2021-03-15 12:11] #1285 closed

[2021-03-15 12:16] Romakita commented on #1285
Sure ;) your feedback is welcome :)

[2021-03-15 13:29] csnate commented on #1282
@Romakita I couldn't find any documentation on that, but would it look something like this:

[code]

Re: PR - sure thing! I'll try and get to it today.

[2021-03-15 15:34] csnate commented on #1282
#1287

[2021-03-15 17:11] #1178 closed

[2021-03-16 06:27] Romakita commented on #1282
Merged :)

[2021-03-16 06:28] #1282 closed

[2021-03-16 06:48] Romakita commented on #1284
Hello @securityMB

There is no decorator  to do  that, but I found this on Ajv documentation: https://ajv.js.org/json-schema.html#compound-keywords

[code]
So, by using the Schema decorator you can try the following example:
[code]
There is no solution right now to run custom validator based on Arrow function. Ajv doesn't provide this feature or you have to use custom Keyword: https://tsed.io/tuto

[2021-03-16 06:50] Romakita commented on #1200
The solution 1 will be implemented soon.

[code]

[2021-03-16 10:09] securityMB commented on #1284
@Romakita, thank you, it works like a charm!

The only minor problem is that `JsonSchema` doesn't have properties `if`, `then` and `else` so TypeScript is complaining about types.

[2021-03-16 10:18] Romakita commented on #1284
Yes you have to wrap object with any type to works :)

[2021-03-16 10:20] securityMB commented on #1284
I decided to just extend `JsonSchemaObject` like this:

[code]

No more complains :)

[2021-03-16 10:31] securityMB commented on #1284
Closing as the issue is solved.

[2021-03-16 13:29] csnate opened #1289 "[BUG] AsyncLocalStorage loses context between middleware"
## Information

- **Version:** 6.x
- Packages: all

In v5 this worked correctly and works correctly with vanilla Express.

If you use AsyncLocalStorage (or async_hooks or [cls-hooked](https://www.npmjs.com/package/cls-hooked)) in a middleware and then attempt to access the store inside of another middleware or controller down the line, the execution context of the `run` method is lost between the

[2021-03-16 13:51] NachtRitter commented on #1284
Hello @Romakita
I had the similar case in my project.
What do you think about adding new validation decorator, smth like `@RequiredIf()` which will cover this case?

[2021-03-16 14:17] Romakita commented on #1289
Hello @csnate
Have you used the search github function  and look on the Ts.ED documentation before open an issue :)

Ts.ED provide the `@tsed/async-hook-context` package to manage natively the async_hook.

See https://tsed.io/docs/request-context.html#asynchook-context

See you
Romain

[2021-03-16 14:17] #1289 closed

[2021-03-16 14:22] csnate commented on #1289
Yea I did. There's a separate branch https://github.com/csnate/tsed-scope/tree/with-async-hook-package. Doesn't work either.

The problem is that I need to be able to access that store outside of a service/controller/middleware ultimately. I need to get that correlation-id inside of a custom Logging Layout so I can add that correlation-id to my logs.

[2021-03-16 14:25] Romakita commented on #1289
For me it works correctly with the `@tsed/async-hook-context` I had a project which works with!

[2021-03-16 14:29] csnate commented on #1289
So, how I would access that id inside of a custom Logging Layout? Would something like this work?

[code]

[2021-03-16 14:29] Romakita commented on #1289
But the documentation doesn't mention to extends the Server with PlatformAsyncHookContext !!! The issue isn't the official documentation to use the package ;)

[2021-03-16 14:32] Romakita commented on #1289
No it won't works because, Layout is not an injectable provider. Logger is an independent project from the Ts.ED framework.
Let me find a way to do that.

[2021-03-16 14:38] Romakita commented on #1289
Here is the right with the Layout:

[code]
@Layout({ name: 'custom-layout' })
export class CustomLayout extends BaseLayout {
    public transform(loggingEvent: LogEvent, timezoneOffset?: number | undefined): string {
        const log: any = {
            categoryName: loggingEvent.categoryName,
            level: loggingEvent.level.toString(),
            message: loggingEvent.data.join(' '),

[2021-03-16 15:07] csnate commented on #1289
Solid, I'll give it a shot.

FYI - we don't use the TsED logs as the output wasn't playing nice with our log processors. So we have to use a custom layout, unfortunately.

[2021-03-16 15:25] csnate commented on #1289
Awesome it looks like this is going to work. Thanks for your help @Romakita !

[2021-03-16 17:39] #1200 closed

[2021-03-16 19:39] Romakita commented on #1200
:tada: This issue has been resolved in version 6.34.0 :tada:

The release is available on:
- `v6.34.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.34.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-16 22:06] royibernthal opened #1290 "[QUESTION] v6 Migration - Mongoose array keys are string instead of number"
Since migrating to v6, the mongoose array returns array keys as string instead of number.

For instance, I have the following field in my model:

[code]

Let's say it contains the following values (which will be valid object ids in reality): `['a', 'b', 'c']`

When logging it via $log, it appears to be a normal array: `['a', 'b', 'c']`

However, when sending it in a response, I'm getting the follo

[2021-03-17 02:54] Romakita commented on #1290
Try:
[code]

[2021-03-17 03:33] royibernthal commented on #1290
@Romakita Just did, same result.

[2021-03-17 06:39] Romakita commented on #1290
I need a repo with a reproducible example. This case is covered by unit test on the framework and it works.

see you
Romain

[2021-03-17 10:12] Romakita commented on #1284
@NachtRitter Because Ajv doesn't provide a way to have to have an arrow function to validate something.

[code]

This annotation is not possible with Ajv. So If I implement this decorator, I'll also need to throw an exception that looks like the required one from.

If prefer to implement a decorator to perform custom validation/or static method instead:

[code]
it's more flexible and isn't specifi

[2021-03-17 21:47] marcosiglesias89 opened #1291 "[QUESTION] @Indexed: Unable to resolve signature of property decorator when called as an expression."
With this model im having some issues with the decorator `@Indexed `

![image](https://user-images.githubusercontent.com/79475972/111542995-32d73f00-8751-11eb-966a-78bf10985673.png)

this is the error

![image](https://user-images.githubusercontent.com/79475972/111542948-218e3280-8751-11eb-8396-20093fdddcd5.png)

I would appreciate any help or if I need to pass another argument to the Decorator

[2021-03-18 05:09] royibernthal commented on #1290
Hey Romain,

Sure, here you go:
https://github.com/royibernthal/tsedrepro

**POST http://localhost:8083/rest/create**

[code]

[2021-03-18 06:20] Romakita commented on #1290
PR  https://github.com/royibernthal/tsedrepro/pull/1

[2021-03-18 06:22] Romakita commented on #1290
The issue is about mongoose and the new json-mapper. You have to use `@Returns` decorator to instrument correctly the json-mapper. Mongoose doesn't return the expected class (it's a wrapper of the original Class), and unfortunately, it's doesn't works correctly with json-mapper without the decorator.

See you
Romain

[2021-03-18 06:23] #1291 closed

[2021-03-18 06:39] Romakita commented on #1291
:tada: This issue has been resolved in version 6.34.1 :tada:

The release is available on:
- `v6.34.1`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.34.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-18 06:39] Romakita commented on #1290
After investigation. The `@returns` decorator isn't mandatory if your return the user mongoose instance. But You map the user to a raw object, the problem occurs:

Doesn't works:
[code]

[2021-03-18 07:00] Romakita commented on #1290
PR https://github.com/TypedProject/tsed/pull/1293

But, I encourage you to use the `@Returns` decorator and limit the usage of raw object to map data. Ts.ED has Groups strategy now to Map properties depending on the endpoint.

See you

[2021-03-18 07:26] #1290 closed

[2021-03-18 07:40] royibernthal commented on #1290
Thanks for uploading a fix.
Will it take it some time to become available? The latest tsed version available at the moment as far as I can see (which I have installed) is 6.34.1.

In my actual project I'm never returning the actual mongoose model, as I need to play a little with the data, so I'll always be mapping it.

To make sure we're on the same page - the repro version with mapping doesn't wo

[2021-03-18 07:42] Romakita commented on #1290
:tada: This issue has been resolved in version 6.34.2 :tada:

The release is available on:
- `v6.34.2`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.34.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-18 08:03] royibernthal commented on #1290
I just updated to 6.34.2. Indeed solved, much appreciated :)

Could you please shed some more light on the `@Return` decorator and how it's relevant to mapping?

From your documentation it appears to be solely related to creating documentation:
https://tsed.io/api/schema/decorators/operations/Returns.html#decorator-returns

Would using an empty `@Returns` deocrator allow me to leverage tsed's grou

[2021-03-18 08:23] Romakita commented on #1290
Returns is used by json-mapper to know exactly which class you want to use to serialize the response. In most case, the type is inferred by the return object itself.

It's just a good practice to use it ;)

Usage with groups:

[code]

[2021-03-18 08:47] Kehao33 opened #1294 "[QUESTION] cannot run itercept function"
https://tsed.io/docs/interceptors.html#decorators
as same as the demo,  cannot run itercept function.

[2021-03-18 09:46] royibernthal commented on #1290
1) So just to make sure I understand you correctly - simply stating an empty `@Returns()` will help json-mapper as well since the type will be inferred anyway by the return object itself in most cases. Is that correct?
If so, why not apply a default `@Returns()` to all endpoints under the hood in case no custom `@Returns` was specified?

2) Does `@Returns` only help json-mapper avoid mapping mista

[2021-03-18 18:58] royibernthal opened #1295 "[QUESTION] V6 Build project with npm instead of yarn"
In the tsed cli I chose to build my project using npm.

In package.json my build script is `yarn tsc`, is that a bug or is it intentional?

Is there any way to use npm in the build script instead? `npm tsc` seems to be an invalid command.

I'm deploying my server to a heroku app which uses npm, so it's important to only use npm and not mix yarn (`yarn: not found`).

[2021-03-18 19:16] Romakita commented on #1295
Replace yarn tsc by npm run tsc ;)

is not intentional, I forgot to use variable on scripts generation.

[2021-03-18 20:05] royibernthal commented on #1295
Makes sense, thanks :) More issue coming your way, trying to take this v6 to production.

[2021-03-18 20:42] royibernthal opened #1296 "[QUESTION] v6 with Mongoose fails on Heroku"
I tried to push to heroku a close-to-clean project with mongoose and got runtime errors right off the bat.

It's the same repo I shared with you before, with minor changes that shouldn't have made a difference as far as this issue is concerned:
https://github.com/royibernthal/tsedrepro

`node dist/index.js` doesn't throw any errors when testing locally (after building of course).

Here's the error

[2021-03-19 06:21] #1262 closed

[2021-03-19 06:21] #1260 closed

[2021-03-19 06:21] #1274 closed

[2021-03-19 06:22] Romakita commented on #1277
Just import the entity in your test. In think is enough :)

[2021-03-19 06:22] #1277 closed

[2021-03-19 06:23] Romakita commented on #1294
For me it works...
See you
Romain

[2021-03-19 06:26] Romakita commented on #1295
## Story

Fix the scripts generated by the CLI. Replace yarn by npm when the choosen packageManager is NPM.

See https://github.com/TypedProject/tsed-cli/blob/master/packages/cli/src/commands/init/InitCmd.ts#L236

[2021-03-19 06:32] Romakita commented on #1296
Hello @royibernthal
You're not the first to ask me about this issue. I don't know why it occurs because `change-case` is `dependencies` of `@tsed/schema` and this package is a dependencies of your project. Npm should install this dependencies as expected but for  an obscure reason the package isn't installed on heroku.

The caveat is to install the `change-case` as your `dependencies` on your proj

[2021-03-19 16:01] funkydev commented on #892
@panbhatt I did a PR https://github.com/typeorm/typeorm/pull/7477

[2021-03-19 18:22] royibernthal commented on #1296
Hey Romain,

I agree it sounds like a weird issue, though it seems you quickly resolved it. Thanks yet again :)

Royi

[2021-03-19 21:40] DavidSmith777 opened #1298 "Can't set TTL to null"
I'm in the process of implementing cache, and have been following your documentation - https://tsed.io/docs/cache.html.  Unfortunately I've run into a couple of problems.

First, `@UseCache('myKey')` does cache the data, but it is not pulled out the same way it goes in.  We are building a `Map<string, MyObj>`, and later want to use the Map methods.  Unfortunately when we pull the data get the data

[2021-03-20 09:01] Romakita commented on #1298
Hello @DavidSmith777

I added extra documentation on the website to retrieve the expected type from a cached instance.

---

### Extract

node-cache-manager serialize all data as JSON object. It means, if you want to cache a complex data like an instance of class, you have to give extra parameters to the UseCache decorator. Ts.ED will use @@deserialize@@ function based on the given type (and colle

[2021-03-20 09:06] Romakita commented on #1296
It's interesting. In the package-lock.json, npm consider the package as devDep:

[code]

To reproduce the bug locally run `npm ci`.

[2021-03-20 09:10] Romakita commented on #1295
I released a new version of the CLI which fix this issue :)

[2021-03-20 09:24] Romakita commented on #1290
1) No, empty Returns does nothing. But give a type as follow `@Returns(200, MyClass)` helps the json-mapper to use the correct class for each field. But by default is not mandatory, I think with your latest feedback, json-mapper are able to infer correctly the type for the return value (and his props).

2) Yes, the Returns decorator help `json-mapper` to avoid mapping mistakes by using the exact t

[2021-03-20 09:25] Romakita commented on #1296
Solved with 6.34.3

[2021-03-20 09:25] #1296 closed

[2021-03-20 09:26] Romakita commented on #1295
Solved with CLI v2.12.0

[2021-03-20 09:26] #1295 closed

[2021-03-20 09:26] #1242 closed

[2021-03-20 09:27] #1207 closed

[2021-03-20 09:27] #1184 closed

[2021-03-20 09:27] #1179 closed

[2021-03-20 09:29] Romakita commented on #1157
Released: https://tsed.io/tutorials/oidc.html#features

[2021-03-20 09:29] #1157 closed

[2021-03-20 09:30] Romakita commented on #1015
Groups and RequiredGroups allow now this usage. We need a Partial decorator to finish this story.

[2021-03-20 16:25] LFSousa opened #1299 "[BUG] VirtualRef not setting justOne"
## Information

- **Version:** 6.34.3
- Packages: mongoose

The schema not reflects the justOne argument setted on VirtualRef when using VirtualRefs, so I can't show more than one reference like a list

## Example
### Not works:
[code]

### Works:
[code]
## Acceptance criteria

- [ ] justOne needs to be reflected at schema when use VirtualRefs

[2021-03-20 17:03] Romakita commented on #1299
Hello @LFSousa
The justOne option seems to be mapped:
https://github.com/TypedProject/tsed/blob/production/packages/mongoose/src/decorators/virtualRef.ts

but I think the problem is here:
https://github.com/TypedProject/tsed/blob/production/packages/mongoose/src/utils/createSchema.ts#L116

I don’t know why is written as it ^^. Can you just edit the js in node_module and remove this line. Tell me i

[2021-03-20 17:10] royibernthal commented on #1290
Thanks for the detailed answers :)

[2021-03-20 17:12] Romakita commented on #1290
Your welcome ;)

[2021-03-20 18:52] beatyt opened #1300 "[QUESTION] Required socketIO parameters & CORS?"
Hi,

I was trying to follow the socket.io example. I was having CORS errors.

While trying to configure I had to create in full:
[code]

All of these look required. Should some of them be optional?

Versions:
[code]

[2021-03-20 19:29] Romakita commented on #1300
I think I won’t be hepfull. I haven’t worked on socket module since a long time. So your question is totally out of my skills because it’s very specific to socket.io.

Maybe a repo with a reproducible process could help me ^^

see you
Romain

[2021-03-21 10:00] #1181 closed

[2021-03-22 07:55] CarstenHouweling opened #1301 "[BUG] Page Socket.io - /tutorials/socket-io"
socket.io configuration ( https://tsed.io/tutorials/socket-io.html#configuration ) suggests settings "origins". This field is now called "cors".

[2021-03-22 07:57] CarstenHouweling commented on #1300
I was also having issues, i noticed i do not have to include the suggested imports

`import "@tsed/platform-express";
import "@tsed/socketio"; // import socket.io Ts.ED module`

If I include those imports, I also see that everything is required. Just leave them out.

[2021-03-22 07:58] #1301 closed

[2021-03-22 07:58] Romakita commented on #1301
The documention will be updated :)

[2021-03-22 08:52] Romakita commented on #1300
Your help is welcome to improve documentation.
Documentation website can be edited directly from the website:
<img width="213" alt="Capture d’écran 2021-03-22 à 09 51 30" src="https://user-images.githubusercontent.com/1763311/111963798-36254e80-8af4-11eb-9b24-d1d8287ee5c0.png">

See you
Romain

[2021-03-22 17:38] DavidSmith777 commented on #1298
Thanks for the feed back.  I mentioned TTL because that is what is in your documentation, but I will look at node-cache-manager.

[2021-03-22 17:38] #1298 closed

[2021-03-22 17:49] Romakita commented on #1298
Yes sure :)

[2021-03-23 06:55] Markkos89 commented on #851
yes I can lift a hand on this too. Im starting with the framework because of my work and im loving it. let me know if I can help @flexwie regards

[2021-03-23 11:22] LFSousa commented on #1299
It works perfectly! Just remove the line.

[2021-03-23 11:39] Romakita commented on #1299
Ok great I’ll fix that ASAP

[2021-03-23 14:37] #1299 closed

[2021-03-23 14:53] Romakita commented on #1299
:tada: This issue has been resolved in version 6.35.0 :tada:

The release is available on:
- `v6.35.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.35.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-23 14:53] Romakita commented on #1301
:tada: This issue has been resolved in version 6.35.0 :tada:

The release is available on:
- `v6.35.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.35.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-24 11:09] freez10 commented on #1105
@Romakita I think this bug came back again in 6.34.3

[2021-03-24 11:44] Romakita commented on #1105
Arf... probably related to the latest refactoring about the RequiredGroups decorator. I'm surprised to haven't integration test on this use case :(

[2021-03-24 12:31] flexwie commented on #851
@Markkos89 I just shot you a mail regarding this!
@Romakita Can you send an invite to our Slack?

[2021-03-24 12:47] Romakita commented on #851
Yes sure: https://join.slack.com/t/tsed-framework/shared_invite/zt-o60j36v7-IuRWDBsfTU_jiXT4HbNHWA

[2021-03-24 13:18] ITninja04 opened #1305 "[QUESTION] How to get provider properties within provider instance"
I've gone through all of the source for Ts.ED and am stuck trying to get properties from a provider.

Here's some sample code:

[code]

In my abstract class, I need to get the queue that was passed in my decorator.
[code]

An example of how I create a worker is here:

[code]

At first, I thought I could query the store (hence the queue = Store.from(this)) but that was a bust.

Any ideas on how to

[2021-03-24 18:19] Romakita commented on #1305
Hello @ITninja04

I see your problem :). Store is a class to attach and retrieve any metadata stored explicitly by a decorator using @StoreSet or @StoreMerge or manually with Store.from itself.

So the decorator implementation should be something like that:
[code]

[code]
Now our decorator is ready, we can consume retrieve all provider with `WORKER_PROVIDER` type in a factory/module/service.
I sug

[2021-03-24 18:57] Elyspio opened #1306 "[BUG] Server crashes with @tsed/seq"
Information
Version: 6.35.1
Packages: @Tsed/Seq

Hello, I would like to use the tsed/seq package but once I'm importing it, the server crashs

Code

[code]

Error log
[code]

Acceptance criteria
 The app must not crash :)

Sincerly

[2021-03-24 19:16] Romakita commented on #1306
Hello @Elyspio
Have you upgraded all Ts.ED packages and have the same version for all Ts.ED package :) ?

[2021-03-24 19:21] Elyspio commented on #1306
Yes, as you can see bellow they are all on the 6.35.1 version
[code]

[2021-03-25 16:24] xCryzed commented on #1284
I have a similar use case and I think that would be a good solution.

[2021-03-26 07:12] xCryzed opened #1307 "[BUG] Readme content build setup wrong if npm was selected as package manager"
## Information

- **Version:** 6.35.1

If during the installation process npm was selected as package manager the content of the readme file for the section 'Build setup' is for yarn.

![Screenshot 2021-03-26 075939](https://user-images.githubusercontent.com/39458340/112595517-d3d99000-8e0a-11eb-8177-cdaf77b18de0.png)

## Example

![image](https://user-images.githubusercontent.com/39458340/1125955

[2021-03-26 07:34] xCryzed opened #1308 "[BUG] Cannot read config file @typescript-eslint.js"
## Information

- **Version:** 6.35.1

IntelliJ throws an error that the config file for @typescript-eslint.js cannot be read. It seems that the content has been merged into prettier in version 8.0.0 (information from @typescript-eslint.js file).

## Example

Current .eslintrc:

[code]

should be changed to:

[code]

After this change IntelliJ can find the config.

## Acceptance criteria

- [ ] Af

[2021-03-26 07:41] xCryzed opened #1309 "[BUG] Module '"./controllers/pages/index.controller"' has no exported member 'IndexController'"
## Information

- **Version:** 6.35.1

After a new initialization of a tsed project there is an import statement (line 15) in server.ts file which tries to import a member called `IndexController` and points to `./controllers/pages/index.controller`. But the exported member in `index.controller` file is `IndexCtrl`.

## Example

Current import in server.ts:

[code]

Should be changed to:

[code]

[2021-03-26 07:54] xCryzed opened #1310 "[BUG] "./Server" has no exported member named 'Server'"
## Information

- **Version:** 6.35.1

The filename `Server.ts`  has been updated to `server.ts` (don't know the exact version when that happened) and the exported member also changed and is now `server`  (lowercase) instead of `Server` (uppercase).  But the index.ts file still tries to import `Server.ts` and cannot find it.

## Example

Current server.ts:

[code]

should be changed to:

[code]

#

[2021-03-26 08:04] xCryzed opened #1311 "[BUG] Incorrectly generated class name HelloWorldCtrl"
## Information

- **Version:** 6.35.1

The class name of the HelloWorldCtrl is generated incorrectly after a new tsed project initialization.

## Example

hello-world.controller.ts:

![image](https://user-images.githubusercontent.com/39458340/112600635-bf4cc600-8e11-11eb-8619-57ca8fd374c0.png)

hello-world.controller.spec.ts:

![image](https://user-images.githubusercontent.com/39458340/112600739-d

[2021-03-26 08:22] Romakita commented on #1307
Hello @xCryzed

Can you make a PR on the cli project please?

see you

[2021-03-26 08:23] Romakita commented on #1309
Ok I see the issue. Have selected Angular convention ?

[2021-03-26 08:24] Romakita commented on #1310
Ok it's related to the Convention style introduced with the latest CLI version. I'll fix that.

[2021-03-26 08:40] xCryzed commented on #1309
@Romakita yes, its the Angular convention

[2021-03-26 13:44] ITninja04 commented on #1305
@Romakita thank you for your response, before I had seen it I was able to address my issue like so:

[code]

[code]

My question on using the Metadata method is this, is there a drawback to using the Metadata?

[2021-03-26 13:55] Romakita commented on #1305
I don't know. I don't use Metadata like you ^^ and I prefer to use Store which is more intuitive and provide an high level API to manage metadata on Class/Method/Prop/Parameter.

[2021-03-27 01:57] pabloat81 opened #1314 "[QUESTION] Page Passport.js - /tutorials/passport"
Hi. I like tsed a lot.

I have 2 questions.

First, i cant realize for role auth where i must set the roles so then i can use:
 const roles = endpoint.get(AcceptRolesMiddleware);
In the login endpoint i have to set roles array somewhere?

Second question, is there an example of refresh token implementation with jwt strategy?

Regards.

[2021-03-27 13:27] Romakita commented on #1306
Ok probably the issue. I'll publish a release now!

[2021-03-27 13:28] Romakita commented on #1306
Release is in progress

[2021-03-27 13:33] Romakita commented on #1105
@freez10 Are you sure? I checked the integration test here:
https://github.com/TypedProject/tsed/tree/production/packages/schema/test/nullable.integration.spec.ts

The output is correct and the integration test works as expected. I'm not able to reproduce the bug. So I'll close this issue.

See you
Romain

[2021-03-27 13:33] #1105 closed

[2021-03-27 13:50] Romakita commented on #1314
I don't understand your question about roles exactly :).

Here is an example to set roles:
[code]

And to get roles:

[code]
Why do you need to check roles on login????? Roles are always checked on a routes not for the login...

For the refresh token, if you have the original passport example, you will be able to implement the same things with Ts.ED.

See you
Romain

[2021-03-27 14:37] pabloat81 commented on #1314
Hi. Sorry for my english.

I ubderstand most of the examplei think, but my question is, where in that example i am setting roles from the database for this user?

I don t know if i am getting my self clear.

Thanks

[2021-03-27 15:07] Romakita commented on #1314
I don't know. Roles management depending entirely of your architecture/solutions choices. Passport.js doesn't provide solution about role base access control. It's your responsibility to implement that :)
The given example is just a basic usage to check roles. But you have to get roles when you login a user in the Protocol class from a service.

[code]

[2021-03-27 15:30] #1306 closed

[2021-03-27 15:39] pabloat81 commented on #1314
OK now i inderstand. Thanks.

[2021-03-27 15:45] Romakita commented on #1306
:tada: This issue has been resolved in version 6.37.0 :tada:

The release is available on:
- `v6.37.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.37.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-27 16:52] Romakita commented on #1314
Ok we can close this issue ;) ?

[2021-03-27 16:54] pabloat81 commented on #1314
Yes thanks.

[2021-03-27 17:00] Romakita commented on #1314
Please consider [supporting](https://tsed.io/support.html) the framework if it provides value to you or your company and this support was of help to you. Supporting the framework means, amongst other things, that such support will be available in the future.

[2021-03-27 17:00] #1314 closed

[2021-03-30 16:12] Romakita commented on #1307
Fixed

[2021-03-30 16:13] #1307 closed

[2021-03-30 16:13] #1311 closed

[2021-03-30 16:13] #1308 closed

[2021-03-30 16:13] #1309 closed

[2021-03-31 04:26] #1204 closed

[2021-04-01 00:33] LFSousa opened #1318 "[BUG/QUESTION] Passport.js returning jwt payload on void endpoint"
## Information

- **Version:** 6.3.11
- Packages: passport

When I make a request to an authenticated endpoint over jwt, the response is always my decoded jwt payload.
How can I fix this without need to return something on my endpoint?

## Example

[code]
[code]

[2021-04-01 05:03] Romakita commented on #1318
The verify method shouldn’t be called if you are authenticated… so it mean you call your endpoint without token.

[2021-04-01 05:04] Romakita commented on #1318
And by convention empty response should send a 204 ;)

[2021-04-01 10:20] xCryzed opened #1324 "[BUG] Cannot find name 'expect' in src/server.integration.spec.ts:18:6"
## Information

- **Version:** 6.38.1

After a new creation the import statement for the module chai is missing in the file src/server.integration.spec.ts.

## Example

[code]

needs default chai import:

[code]

## Acceptance criteria

- [x] chai is imported per default after a new tsed initialization.

[2021-04-01 13:12] EkiGui opened #1325 "[BUG] Using a falsy value when registering a provider with useValue causes a DI bug"
## Information

- **Version:** 6.38.1

## Example

All those providers will cause an obscure bug at app initialization:

[code]

## My Solution

This is because the `if` statement in `InjectorService` is a bit loose so it passes in the `else` condition:

https://github.com/TypedProject/tsed/blob/1115f768ef78874a2093abe3e2eca9dd59eff4e2/packages/di/src/services/InjectorService.ts#L640-L651

Maybe w

[2021-04-02 12:04] adamprzy opened #1328 "Support for node-oidc-provider v7"
Hi,
installing oidc-provider before @tsed/oidc-provider produces error:

So the installation guide from https://tsed.io/tutorials/oidc.html#installation is no longer directly applicable.
Installing @tsed/oidc-provider before oidc-provider works fine, but we end up with oidc-provider@6.31.1

Are there any plans for supporting oidc-provider version 7?

[2021-04-02 13:07] Romakita commented on #1328
Hello @adamprzy

Yes I know that the v7 isn't compatible. I'm waiting this PR before starting migration: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52145 .

and because v6/v7 are incompatible (typescript removing), I won't support v6 anymore after the migration :)

See you
Romain

[2021-04-02 14:23] ClickerMonkey opened #1329 "[BUG] Examples decorator for Swagger docs has no affect"
## Information

- **Version:** 6.\*.\*
- Packages:

Using the .Examples() chained function has no effect on the examples found in swagger docs.

## Example

[code]

## Acceptance criteria

- [ ] Examples overriding the default example

[2021-04-02 14:37] ClickerMonkey opened #1330 "[FEAT] Add @ForwardGroups() annotation to forward groups to inner objects"
## Informations
**Is your feature request related to a problem? Please describe.**
I have `@Groups()` defined on sub models which is ignored when I do something like `@Response(200, ResponseModel).Groups('group.name')`

**Describe the solution you'd like**
Be able to specify `@ForwardGroups()` on the property of the sub model. Whether the sub model is an object, collection, etc it should pass the

[2021-04-02 14:42] ClickerMonkey commented on #1330
Related code:

https://github.com/TypedProject/tsed/blob/production/packages/schema/src/utils/serializeJsonSchema.ts#L149

[2021-04-04 03:25] #1213 closed

[2021-04-05 02:38] virus2016 opened #1331 "Create a Nx dev Plug-in"
Hi @Romakita!

We have moved over to a monorepo approach much like this project however we settled on [NX Dev](https://nx.dev)

I was wondering if you would consider building a plug-in for it. I think it will attract others to use your amazing framework.

All the best,
Cal

[2021-04-05 13:24] yuki-takei opened #1332 "[BUG] TypeORM repositories are not initialized in some situations"
## Information

- **Version:** 6.38.2
- Packages:
    - @tsed/typeorm

## Example

1. Build environment for testing
[code]
2. Modify `src/index.ts` and switch server modules
    - You can switch 3 kinds of servers. Activate one of them.
[code]
3. Launch server
[code]
4. Go to `http://localhost:8080/hello`

## What happens?

- `src/server-works-well.ts`
    - This works fine. `UserRepository` insta

[2021-04-05 13:28] Romakita commented on #1332
Hello @yuki-takei
The major init issue is related to typeorm itself and not from Ts.ED. If the difference is over given options, I can’t help you. I’m not an expert of Typeorm :)

see you
Romain

[2021-04-05 13:31] Romakita commented on #1332
The encoutered error mean the connection is not initialized correctly by typeorm.

[2021-04-05 13:36] yuki-takei commented on #1332
Hmmm...

The official docs of TypeORM says:

in https://typeorm.io/#/connection-options/common-connection-options.

However, the following code with Ts.ED generates a connection named `"0"` when I didn't specify `name` property.
Is this an expected behavior of `@tsed/typeorm`?

[code]

[2021-04-05 13:50] yuki-takei commented on #1332
Furthermore, I think it is strange that UserRepository couldn't be retrieved without [these code](https://github.com/yuki-takei/tsed-typeorm-undefined-repository/blob/master/src/server-works-well.ts#L57-L59).

[code]

Please see the defference between files [src/server-works-well.ts](https://github.com/yuki-takei/tsed-typeorm-undefined-repository/blob/master/src/server-works-well.ts) and [src/serv

[2021-04-05 13:52] Romakita commented on #1332
Hoo ok.
I see. The problem are here:
https://github.com/TypedProject/tsed/blob/production/packages/typeorm/src/TypeORMModule.ts#L13

And here: https://github.com/TypedProject/tsed/blob/production/packages/typeorm/src/services/TypeORMService.ts#L22
Because, originally the typeorm in v5 accept a Record<string, TypeormConfig> Or an array.
Now it’s always an array of configuration:
https://github.com/

[2021-04-05 13:59] Romakita commented on #1332
Yes the second point it a strange behavior. I’ll investigate ASAP.

[2021-04-05 14:13] yuki-takei commented on #1332
OK, I'll try. Thanks.

[2021-04-05 21:50] VLRTroll opened #1333 "[BUG] Error on creating Socket namespace"
Hi, guys!

I'm trying to just connect the `@tsed/socketio` into my project, but when I try follow the [documentation](https://tsed.io/tutorials/socket-io.html#socket-service) to use socket my namespace, as a service, inside a controller it's throwing the following error.

[code]

<b> Does Somebody know how can I fix this? </b>

## Information

- **Version:** 6.36.0

<details>
  <summary>package.js

[2021-04-06 06:25] Romakita commented on #1325
Hello @Romakita
Yes you can make a quick PR to fix that please :) ?

[2021-04-06 06:27] Romakita commented on #1324
@xCryzed You can fix the concerned template here please ? https://github.com/TypedProject/tsed-cli/blob/master/packages/cli-plugin-mocha/templates/generate/server.integration.hbs

[2021-04-06 12:25] yuki-takei commented on #1332
@Romakita
Hi. I made #1334. Please review it and feedback.
Thanks.

[2021-04-06 17:30] Manfredik opened #1335 "How can I independently implement request.body without using ExpressJS bodyParser"
The problem is that locally when I run the application everything is working, and on the product after building typescript in javascript my middleware refuses to work

[code]

[2021-04-06 17:36] Romakita commented on #1335
Why did do that with a custom middleware?!

[2021-04-06 17:38] Manfredik commented on #1335
BodyParser quietly falls when using cors in post queries

[2021-04-06 17:39] Romakita commented on #1335
Simplication proposition:

[code]

[2021-04-06 17:40] Manfredik commented on #1335
falls on the read function in read.js after the debug line ('read body')

[2021-04-06 17:41] Manfredik commented on #1335
The problem is that
RawBody locally is Buffer

On the production RawBody line

[2021-04-06 17:43] Romakita commented on #1335
… so to solve your issue you prefer to write more instead of fixing cors middleware?
maybe your issue can be solved by configuring correctly the cors/bodyparser?

for your original question, there is no reason to have a different behavior between dev/prod (based on your given example). So it depend on how you register the middleware.

[2021-04-06 17:43] Romakita commented on #1335
Rawbody type change in production?

[2021-04-06 17:45] Manfredik commented on #1335
`public $beforeRoutesInit(): void | Promise<any> {
    this.app
      .use(cookieParser())
      .use(compress({}))
      .use(methodOverride())
      .use(bodyParser.json())
      .use(bodyParser.urlencoded({ extended: true }))
      .use(
        cors({
          origin: true,
          credentials: true,
          methods: 'POST, GET, OPTIONS',
          allowedHeaders: 'X-Auth-Token, Authoriza

[2021-04-06 17:54] Romakita commented on #1335
Please, can you be more precise on the error. It’s an issue? A question? The problem can be reproduced?

[2021-04-06 18:07] Manfredik commented on #1335
Failed to localize problem in current example with my middleware
Locally, if you run the application via ts-node, the rawBody is passed as a buffer.

After the tsc project is assembled, an empty string is rawBody.
if you add manual processing request.on ('data') and request.on ('end') then the body post request is available in the variable

[2021-04-06 18:08] Manfredik commented on #1335
But locally request.on ('data') is not called if start app ts-node

[2021-04-06 18:14] Romakita commented on #1335
Ok I think, I need a repository example and a curl to understand your point.

[2021-04-07 06:30] Romakita opened #1336 "[Feat] BeforeDeserialize decorator"
## Informations

BeforeDeserialize will allow to implement custom handler which will be called before the JsonMapper. It will be possible to
change some values in the data and also implement custom validator.

## Example
[code]

## Solution

The new decorator will be added to the `@tsed/json-mapper` package and will be similar to the `@OnDeserialize` decorator. The `@Ignore` use the `hooks` API to

[2021-04-07 06:31] Romakita commented on #1336
#1284

[2021-04-07 06:32] Romakita commented on #1284
I close this issue. This feature will be implemented with #1336

[2021-04-07 06:34] #1284 closed

[2021-04-07 06:45] Romakita commented on #1328
Ok the types definition is available now: https://www.npmjs.com/package/@types/oidc-provider

[2021-04-07 06:45] Romakita commented on #1328
I'll add the v7 ASAP

[2021-04-08 06:35] Romakita commented on #1336
We can add also the AfterDeserialize decorator. Here is the contract service:

[code]

[2021-04-08 06:40] #1325 closed

[2021-04-08 06:55] Romakita commented on #1325
:tada: This issue has been resolved in version 6.38.3 :tada:

The release is available on:
- `v6.38.3`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.38.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 07:02] EkiGui commented on #1325
Sorry to arrive after the battle, I wanted to take care of it in the next few days.
Thanks a lot for your work on this framework!

[2021-04-09 08:45] xCryzed commented on #1324
@Romakita https://github.com/TypedProject/tsed-cli/pull/105 :)

[2021-04-09 08:45] #1324 closed

[2021-04-09 10:34] #1336 closed

[2021-04-09 10:50] Romakita commented on #1336
:tada: This issue has been resolved in version 6.39.0 :tada:

The release is available on:
- `v6.39.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.39.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-09 17:31] Romakita commented on #1333
:tada: This issue has been resolved in version 6.39.1 :tada:

The release is available on:
- `v6.39.1`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.39.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-09 18:00] ClickerMonkey opened #1347 "[FEAT] Allow Enums/JsonSchema to be passed to @GenericOf, @Returns.Of"
## Informations
**Is your feature request related to a problem? Please describe.**
I am using enums for generic types, currently only constructors are accepted as input.

**Describe the solution you'd like**
Accept Enums and possible JsonObjectSchema.

**Describe alternatives you've considered**
This is a workaround function to handle enums or arrays of possible values:

[code]

## Acceptance crit

[2021-04-09 19:23] #1328 closed

[2021-04-09 19:40] Romakita commented on #1328
:tada: This issue has been resolved in version 6.40.0 :tada:

The release is available on:
- `v6.40.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.40.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-10 10:31] Romakita commented on #1328
Hello @adamprzy
The v7 introduce some change on the consent interaction and interactions views (ejs).

see you

[2021-04-12 07:37] Romakita commented on #1329
Hello @ClickerMonkey
After reading the swagger documentation, you example isn't correct.
Examples expect a Record<string, OS3Example> with different examples: https://swagger.io/docs/specification/adding-examples/

Add added more types on the Returns.Example decorator.

[2021-04-13 05:16] #1329 closed

[2021-04-13 05:17] #1294 closed

[2021-04-13 05:18] #1300 closed

[2021-04-13 05:18] #1305 closed

[2021-04-13 05:19] #1318 closed

[2021-04-13 05:30] Romakita commented on #1329
:tada: This issue has been resolved in version 6.41.0 :tada:

The release is available on:
- `v6.41.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.41.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-13 15:31] ClickerMonkey commented on #1329
Thank you!!!!

[2021-04-14 09:39] nxvxl opened #1349 "[BUG] Error when building app"
## Information

- **Version:** 6.41.0
- Packages:
  - @tsed/schema

## Example

1. Create project using latest version
[code]
2. Build project
[code]

![image](https://user-images.githubusercontent.com/25476548/114689315-c8a9be00-9d3f-11eb-8c14-d225ef4a1468.png)

## Acceptance criteria

Run without error

I think it's pointing to the wrong path. should be `lib` instead of `src`

[2021-04-14 10:47] #1349 closed

[2021-04-14 11:04] Romakita commented on #1349
:tada: This issue has been resolved in version 6.41.1 :tada:

The release is available on:
- `v6.41.1`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.41.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-14 11:18] Romakita commented on #1349
Hello @nxvxl
Thanks for the issue. It's released :)

See you
Romain

[2021-04-14 13:08] VLRTroll commented on #1333
I really appreciate your effort with this bug. But, now it's returning the following error, @Romakita:
[code]
I guess it's something related with the display of socket namespaces table. (I'm on version 6.41.1)

[2021-04-14 13:52] Romakita commented on #1333
Have you updated all Ts.ED packages ?

[2021-04-14 13:56] Romakita commented on #1333
Here is the code about the display table.

[code]

For me, isn't possible to have an empty array, the reduce function return always an array...

[2021-04-15 06:31] #1330 closed

[2021-04-15 06:46] Romakita commented on #1330
:tada: This issue has been resolved in version 6.42.0 :tada:

The release is available on:
- `v6.42.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.42.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-15 07:08] Romakita commented on #1347
GenericOf will support Enum and JsonSchema given as parameter.

Example1:

[code]

Example2:
[code]

[2021-04-15 07:27] #1347 closed

[2021-04-15 07:43] Romakita commented on #1347
:tada: This issue has been resolved in version 6.43.0 :tada:

The release is available on:
- `v6.43.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.43.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-15 16:57] iamprathamesh opened #1355 "[BUG] @Required() decorator does not work for validation in controller"
## Information

- **Version:** 6.31.2
- Packages: @tsed/schema

I have added the @Required() decorator in my controller method but it does not tell that which fields are missing on the recieved object

## Example

My Interface:
[code]

My controller method:
[code]

In the above example if any of my fields are missing in the json object recieved (email, newPassword, otp) then the error should be th

[2021-04-15 17:16] Romakita commented on #1355
Hello @iamprathamesh
I think you missunderstood how the decorator works. The required decorator check only the value of the body params and not the props of the model. Use jsonschema or a class for that.

see you
Romain

[2021-04-15 17:16] #1355 closed

[2021-04-15 17:29] iamprathamesh commented on #1355
Hi @Romakita

yes the required parameter check the value of body params. If I do not pass a key in my json object, the value should be null or undefined. Hence, it should throw up an error that some value is null. am I right?

Regards,
Prathamesh

[2021-04-15 17:42] iamprathamesh commented on #1355
Hi Romakita,

I am not sure how to use JsonSchema to resolve this query of mine. Can you please give me some sample code to refer to. This will be of great help. Also, Great job with TSED project. I can see it becoming the biggest framework for building server side applications.

Regards,
Prathamesh

[2021-04-16 06:42] Romakita commented on #1355
Hello @iamprathamesh
In your case, the BodyParams is never undefined or null. Express return always an empty object and because you use `@BodyParams()` without expression (eg: `@BodyParams('user')`) the field will always truthy.

But with the recent version of Ts.ED you have two way to validate a parameters. One with the class:

[code]

And one with the JsonSchema and the functional API:

[code]

[2021-04-17 16:09] tlfbrito opened #1357 "[BUG] Title"
## Information

- **Version:** 3.0.0 (CLI)
- Packages:
[code]
After creating a new project with `tsed init` using the latest stable version, controllers don't seem to be registered anymore.

## Example
`Routes mounted:` empty list
![Screenshot 2021-04-17 at 17 08 15](https://user-images.githubusercontent.com/1071148/115119284-854d8a80-9f9f-11eb-80f2-06e2a7b7ef0b.png)

## Acceptance criteria

- [ ]

[2021-04-17 18:52] Romakita commented on #1357
Fixed :)
Thanks for your issue

[2021-04-17 18:52] #1357 closed

[2021-04-20 14:22] VLRTroll commented on #1333
Hi, @Romakita! Yes, I updated all the TsED modules to the latest version (6.43.3)

Inspecting the error stack, I found the specific instruction that is throwing the error. The `$log.drawTable` calls the following method:

[code]

So I guess some property is been setted incorretly by the `reduce`.

But trying other ways, I found something that works a bit better:

<details>
  <summary>NotificarionS

[2021-04-21 04:54] ClickerMonkey opened #1361 "[FEAT] Allow enums in Params"
## Informations
**Is your feature request related to a problem? Please describe.**
You can't pass enums or JsonSchemaObject to the following decorators:
- BodyParams
- PathParams
- QueryParams

**Describe the solution you'd like**
To be able to pass enums or JsonSchemaObject to the listed decorators above, and any similar decorator which accepts a type.

## Acceptance criteria

- [ ] The listed de

[2021-04-21 05:29] ClickerMonkey opened #1362 "[FEAT] Allow models with many groups to be aliased"
## Informations
**Is your feature request related to a problem? Please describe.**
In my swagger docs I have a generated model name of "BillReviewItemBillReviewItemResultProjectOptionEmployeeOptionRateScheduleOptionLaborCodeTypeOptionJobTitleOption" which is of course crazy long, and is generated by this code:

[code]

**Describe the solution you'd like**
It would be awesome if we could name this

[2021-04-21 09:22] Romakita commented on #1362
Hello @ClickerMonkey
Why you don't use an uniq group label instead of a list 'billReviewItem.result', 'project.option', 'employee.option', 'rateSchedule.option', 'laborCodeType.option', 'jobTitle.option' ?

[2021-04-21 09:23] Romakita commented on #1361
I think you've missed the Enum decorator usage on params:
[code]

See you
Romain

[2021-04-21 09:23] #1361 closed

[2021-04-23 13:55] #1333 closed

[2021-04-23 14:10] Romakita commented on #1333
:tada: This issue has been resolved in version 6.44.0 :tada:

The release is available on:
- `v6.44.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.44.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-26 19:39] keilla opened #1367 "[BUG] Page GraphQL - /tutorials/graphql"
Link not found in the section: https://tsed.io/tutorials/graphql.html#types

https://19majkel94.github.io/type-graphql/docs/types-and-fields.html

[2021-04-30 07:20] Romakita commented on #1367
Fixed

[2021-04-30 07:20] Romakita commented on #1367
Thanks Keilla :)

[2021-04-30 07:20] #1367 closed

[2021-04-30 16:59] derevnjuk commented on #1318
@Romakita don't you think that... looks quite strange. You mentioned a good example with 204 status response, but what about 201 which may be used with `Location` header? I think   `OnVerify` implementations should have different behavior from middleware. Otherwise, it might lead to unexpected behavior and security breaches as soon as someone sets wrong or omits `Response` decorator.

[2021-05-01 17:21] yuki-takei commented on #1332
Hi @Romakita .

Is there any progress about [this behavior](https://github.com/TypedProject/tsed/issues/1332#issuecomment-813403218)?
Should we close this issue?

[2021-05-01 19:19] Romakita commented on #1332
Honestly, I haven’t find a time to investigate one…

[2021-05-04 13:36] Paul75 opened #1377 "[BUG] API REST return 500 and not response of Axios"
Hello,

I do this :
[code]
And it return error 500 not the response of Axios ...

Thanks.

[2021-05-04 14:17] Romakita commented on #1377
Hello @Paul75

The doc describe how the axios can be used with Ts.ED as a proxy:
https://tsed.io/docs/controllers.html#axios-response

[code]
You've missed the responseType: `stream`. There is agreement from the doc to support the Json responseType: "json".

See you
Romain

[2021-05-04 14:33] Paul75 commented on #1377
Hello,

But I do like doc :
[code]

And got  :
`{"name":"Error","message":"Request failed with status code 403","status":500,"errors":[],"stack":"Error: Request failed with status code 403\n    at createError (/home/pkbp512/www/lucy/garone_menus/gm_server/node_modules/axios/lib/core/createError.js:16:15)\n    at settle (/home/pkbp512/www/lucy/garone_menus/gm_server/node_modules/axios/lib/core/sett

[2021-05-04 14:41] Romakita commented on #1377
Ok now your issue more clear guys :)
With more details I can investigate correctly!!!

[2021-05-04 14:47] Romakita commented on #1377
@Paul75  Prochaine fois, fais moi une vraie issue github avec des détails sur la réponse back que tu as, ce que tu attends et un cas reproductible serait encore mieux ;) (même si tu n'as pas le temps, car je ne suis pas payé non plus pour aider).

Je regarde ton soucis
Romain

[2021-05-04 15:25] Romakita commented on #1377
PR: https://github.com/TypedProject/tsed/pull/1378

[2021-05-04 15:26] Romakita commented on #1377
responseType: json is now supported correctly.

[2021-05-04 15:27] #1377 closed

[2021-05-04 15:35] Romakita commented on #1377
Release in progress :)

[2021-05-04 15:45] Romakita commented on #1377
:tada: This issue has been resolved in version 6.47.2 :tada:

The release is available on:
- `v6.47.2`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.47.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-05 10:53] Paul75 commented on #1377
Bonjour

Merci cela fonctionne

4 mai 2021 17:46:04 Romain Lenzotti ***@***.***>:

* > *v6.47.2*
* > GitHub release[https://github.com/TypedProject/tsed/releases/tag/v6.47.2]

[2021-05-07 07:16] kudorori opened #1383 "[BUG] @OneOf & @AnyOf Swagger Bug"
## Information

- **Version:** 6.47.4
- Packages:

A few sentences describing the overall goals of the issue.

OpenAPI3 Schema Bug

## Example
https://codesandbox.io/s/oneofbugexample-7mf60?file=/src/models/Model.ts

[code]

## expected outcome

[code]

## actual results

[code]

[2021-05-07 07:58] Romakita commented on #1383
Thanks for the issue @kudorori
I'll try to fix it and support the following version:

[code]

[2021-05-07 09:07] AlexDede opened #1384 "[BUG] Unexpected crash of app"
## Information

Hi!

In some cases, our application crashes with the following error on different controllers

[code]

I can not share the application code, but if needed I can assist if need more information.

I am able to emulate this error only if I set  `req.$ctx = undefined!;` and controller method should throw any error. But we don't have any manipulation with `$ctx` in our code.

[code]

-

[2021-05-08 08:37] Romakita commented on #1384
Hello @AlexDede
It's not enough to know why you have this issue, but the only reason that I see is you try to do something after the request is sent or the request is already done during the endpoint execution. Did you use combination with Next and Promise ?
The error always on the same method or it's random?

I'll try to secure the code to avoid the `$ctx.data = er`. I suspect there an error emit

[2021-05-08 08:49] Romakita commented on #1384
I tried your example, and the code throw the expected error. You probably have something else causing this error, but I don't think req.$ctx = undefined is the reason.

[2021-05-08 09:03] Romakita commented on #1384
The only way to have a request.$ctx undefined is here:
[code]
https://github.com/TypedProject/tsed/blob/production/packages/common/src/platform/utils/createContext.ts#L39

So it means, the response is already send.

[2021-05-08 19:55] Romakita commented on #1383
Fix ready. The decorators support also Array :)

[2021-05-08 20:10] #1383 closed

[2021-05-09 00:17] ClickerMonkey commented on #1362
We have hundreds of models and thousands of relations, so it would result in hundreds of groups, specified on each property potentially.

If this isn't even technically possible, it would be easier to handle a uniq group label if you didn't have to add it to every property (some models we have have over 100 properties) but perhaps it could be defined at the class level and the list of properties c

[2021-05-09 05:08] Romakita commented on #1383
:tada: This issue has been resolved in version 6.47.6 :tada:

The release is available on:
- `v6.47.6`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.47.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-09 05:58] Romakita commented on #1362
Hello @ClickerMonkey

The group name is dependent on the endpoint context and not on the class, so the second solution will be confusing. Suddenly, the refactoring work will be just as complicated for you.

[code]
Versus:
[code]

But If you want to do that on you project, let's go. Ts.ED offer a lot of utils to implement decorators by your own way ;)

Here is the code:

[code]
See you
Romain

[2021-05-09 06:03] Romakita commented on #1362
After some thought, it doesn't seem so uninteresting to me...

[2021-05-09 07:29] #1362 closed

[2021-05-09 07:29] #1335 closed

[2021-05-09 07:45] Romakita commented on #1362
:tada: This issue has been resolved in version 6.48.0 :tada:

The release is available on:
- `v6.48.0`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.48.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-10 07:08] AlexDede commented on #1384
@Romakita Thanks for your reply!

It is happening on the different controllers.

It seems that the root cause of my error was middleware that was added in `$afterRoutesInit`. And when I removed it my test example also start to work correctly

[2021-05-10 07:31] #1384 closed

[2021-05-10 10:41] gleant opened #1388 "[BUG] Multiple classes in anyOf decorator are not populated to swagger.json"
## Information

@AnyOf decorator is currently parsed correctly with multiple models as param but when generating swagger.json file, only the last model in @AnyOf decorator param is populated to swagger.json.

I researched this problem a little bit and find out that the issue is in the function schemesReducer in the file
schema/src/utils/mergeSpec.ts. It is comparing the value of the type of the it

[2021-05-11 05:21] #1332 closed

[2021-05-11 05:23] Romakita commented on #1332
I sent you a PR. You've missed the import of typeorm. It's really important to keep it.

[code]

I added a warning on the documentation:
https://tsed.io/tutorials/typeorm.html#installation

See you
Romain

[2021-05-11 05:23] Romakita commented on #1332
## Please consider supporting

Please consider [supporting](https://tsed.io/support.html) the framework if it provides value to you or your company and this support was of help to you. Supporting the framework means, amongst other things, that such support will be available in the future.

[2021-05-11 05:56] Romakita opened #1389 "[FEAT] Prisma support"
## Information

Add [Prisma](https://www.prisma.io/) framework support. Prisma has is own models to configure the table and relations. The idea is to provide a generator embed to the new package `@tsed/prisma` and generate classes and enums based on the `schema.prisma` configuration. The generated classes/enums could be used with the Controllers to generate the Swagger documentation.

Sponsor this

[2021-05-11 08:57] #1388 closed, assigned to Romakita

[2021-05-11 09:12] Romakita commented on #1388
:tada: This issue has been resolved in version 6.48.1 :tada:

The release is available on:
- `v6.48.1`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.48.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-11 17:43] icabbi-joegarlick opened #1391 "[BUG] BodyParams not working anymore"
## Information

- **Version:** 6.48.1

** How to reproduce **

First generate project using TSED CLI
[code]

Add a endpoint using bodyparams:

[code]

 Then run:

[code]

I added a non prod command and the error is:

[code]

  I uploaded the code here: https://github.com/icabbi-joegarlick/TSED-SampleProject

[2021-05-11 18:21] #1391 closed

[2021-05-11 19:17] Romakita commented on #1391
:tada: This issue has been resolved in version 6.48.2 :tada:

The release is available on:
- `v6.48.2`
- [GitHub release](https://github.com/TypedProject/tsed/releases/tag/v6.48.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-13 13:11] angusmunro opened #1397 "Websocket supertest support"
## Informations
**Is your feature request related to a problem? Please describe.**
TSED has extremely good support for supertests, given the decorators for websockets it would also make sense for it to support super tests for websockets. Someone has created a package adding the supertest support for this (https://www.npmjs.com/package/superwstest), and it would offer really good value to the ecosy

[2021-05-16 21:15] Romakita commented on #1397
Hello @angusmunro

thanks for the proposition but this tools is to test WebSocket and not a Socket.io server :(
I'll try to give you an equivalent of PlatformTest to testing SocketIO server soon.

See you
Romain

[2021-05-20 07:03] Romakita commented on #1389
Results:
<img width="1432" alt="Capture d’écran 2021-05-20 à 09 03 22" src="https://user-images.githubusercontent.com/1763311/118934093-40c06080-b94a-11eb-87cf-3c9e8b6f7075.png">

[2021-05-20 07:14] Romakita opened #1402 "[FEAT] Prisma - Generate PrismaService and Repository per models"
## Information

The  goals is to generate PrismaService and Repository per model based on the Prisma schema file.

The repository will integrate basic methods to perform basic operation on the model like:

- findUnique
- findFirst
- findMany
- create
- update
- updateMany
- delete
- deleteMany
- upsert
- aggregate
- groupBy

Each methods will return an instance of the Model instead of an Plain Obj

[2021-05-23 09:47] yaritaft opened #1405 "[BUG] @tsed/platform-expres"
## Information

TSED  version : 6.11.3

- **Version:** 6.11.3
- Packages: @tsed/platform-express

When using a version 6.7 (@tsed/platform-express ) and the others 6.11.3 is working fine. I know the documentation says that is recommended to use every library with the same version but in this case I had to apply this fix to make it work.

Error:
 Class 'PlatformExpressApplication' incorrectly imple

[2021-05-23 10:46] Romakita commented on #1405
Have you the same version for all @tsed package?

[2021-05-23 13:21] Romakita commented on #1402
PR ready

[2021-05-23 13:21] Romakita commented on #1389
Support of Repositories generation is ready:
<img width="730" alt="Capture d’écran 2021-05-23 à 15 08 43" src="https://user-images.githubusercontent.com/1763311/119262176-9317b080-bbda-11eb-8fa1-4dd618ea4a4f.png">

[2021-05-23 15:02] #1402 closed

[2021-05-23 15:02] Romakita commented on #1402
Released

[2021-05-23 15:07] Romakita commented on #1389
<img width="661" alt="Capture d’écran 2021-05-23 à 16 05 43" src="https://user-images.githubusercontent.com/1763311/119266029-68812400-bbe9-11eb-84a8-abdc5f75973d.png">

[2021-05-23 19:35] #1405 closed

[2021-05-23 19:36] yaritaft commented on #1405
The issue was a tsed dependency with the newest version that I didn't detected. My bad, thank you for the answer.

[2021-05-24 06:22] Romakita commented on #1405
No worries @yaritaft ^^

[2021-05-25 13:07] yuki-takei commented on #1259
Our implementation for graceful-shutdown with terminus.
It's not well-tested code, but I hope it helps you.

https://github.com/weseek/growi/commit/7246df4f761d5bd50f60f23fe1d48faf339e70b5

[2021-05-27 19:59] EmilienLeroy commented on #1259
Hi @yuki-takei
Thanks for this, it will help me to implement completely the terminus plugin !

[2021-05-28 14:12] IARKI commented on #847
@Romakita I think Agenda can cover this use case

[2021-05-28 14:59] Romakita commented on #847
Yes totally agree :)

[2021-05-30 11:02] thanhchuongbmd opened #1416 "[BUG] @PathParms,@BodyParams,@QueryParams work is incorrect"
## Information

- **Version:** 5.44.14
- Packages:
 "@tsed/common": "5.44.14",
 "@tsed/core": "5.44.14",
 "@tsed/multipartfiles": "5.44.14",
 "@tsed/swagger": "5.44.14",
 "@tsed/typeorm": "5.44.14",

When I declare type any, then it work ok. But when I declare type (interface or number or string) is it work  incorrect!

## Example

[code]

[2021-05-30 11:54] Romakita commented on #1416
Hello @thanhchuongbmd

You have a typo:   `@PathParams("roleId") roleId: nunber`.
[code]
But, pathParams is always considered as string in v5. In v6, the cast works as expected. Can you upgrade your app to v6 ?

This example is wrong, You cannot use Role as type for PathParams:
[code]

[2021-05-30 11:59] Romakita commented on #1416
Anybody can try to make PR to fix this issue. To begin add unit test here:

https://github.com/tsedio/tsed/blob/5.x/packages/platform-test-utils/src/tests/testPathParams.ts

[code]
The problem is probably here https://github.com/tsedio/tsed/blob/5.x/packages/common/src/mvc/pipes/ValidationPipe.ts
or here https://github.com/tsedio/tsed/blob/5.x/packages/common/src/mvc/pipes/DeserializerPipe.ts

You

[2021-05-30 12:03] thanhchuongbmd commented on #1416
Currently, I work ok after upgrade ver from 5.44.1414 to 5.65.0, Thank you!

[2021-05-30 12:03] #1416 closed

[2021-05-30 14:07] thanhchuongbmd opened #1417 "[BUG] Can not run npm run build"
## Information

- **Version:** 5.x
- Packages:
 "@tsed/common": "5.67.0",
    "@tsed/core": "5.67.0",
    "@tsed/multipartfiles": "5.67.0",
    "@tsed/swagger": "5.67.0",
    "@tsed/typeorm": "5.67.0",
    "@tsed/platform-express": "5.67.0",
    "@tsed/exceptions": "5.67.0",
    "@tsed/di": "5.67.0",

I run "npm run build", then it not work with error typescript. See image below

<img width="992"

[2021-05-30 14:26] Romakita commented on #1417
Try to upgrade your typescript please

[2021-05-30 15:34] thanhchuongbmd commented on #1417
Thank you, it work ok!

[2021-05-30 15:34] #1417 closed

[2021-06-03 14:54] JarekToro opened #1422 "Invalid null check for PlatformContext Request"
https://github.com/tsedio/tsed/blob/653299d9cb40a8e702b7e520a453066db82225e7/packages/common/src/platform/domain/PlatformContext.ts#L96

Maybe this is intended.

Checking for response to set the request seems incorrect.

[2021-06-03 15:45] Romakita commented on #1422
Exact ^^ you can create small PR to fix that ;)

[2021-06-03 19:18] #1422 closed

[2021-06-08 13:59] angusmunro commented on #1397
Hey Romakita,

Thanks again for all your hard work on this project. You are correct in understanding what I'm looking for!

I've been working to migrate all our APIS from tsed v4 and v5 to v6 and this is the last piece of the puzzle I need to make all our testing much faster, efficient and dev friendly!

[2021-06-10 08:33] Romakita commented on #1397
https://github.com/tsedio/tsed/pull/1427

[2021-06-10 09:29] #1397 closed

[2021-06-10 09:46] Romakita commented on #1397
:tada: This issue has been resolved in version 6.55.0 :tada:

The release is available on:
- `v6.55.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.55.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-11 04:58] #1331 closed

[2021-06-12 12:07] Romakita commented on #809
PR by @ochrstn #1430

[2021-06-12 13:55] #809 closed

[2021-06-12 14:13] Romakita commented on #809
:tada: This issue has been resolved in version 6.56.0 :tada:

The release is available on:
- `v6.56.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.56.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-13 21:16] JarekToro commented on #1422
@Romakita
I realized I merged into master. Should I have merged into production instead?

[2021-06-13 21:17] Romakita commented on #1422
Yes it’s on production you have to create pull request xD

[2021-06-15 13:35] royibernthal opened #1436 "Benchmarks"
Are there any benchmarks available for tsed 6?

For instance, it'd be great to see how it compares to plain Express, Fastify, Hapi, etc.
I imagine it'd be slower since it adds more logic and abstraction on top of these, but I'm curious to see to what extent.

[2021-06-16 11:27] Romakita commented on #1436
Hello @royibernthal
The benchmark is run for each job on the CI (look benchmark). But the result isn't stable / pertinent / consolidated, This is why I take a time to learn/investigate and create a correct benchmarks.
I know there is small performance issue on a simple helloworld (this is the tested scenario). It doesn't reflect the reality.

I have a task to improve perf  and understand where the

[2021-06-26 13:41] royibernthal commented on #1436
Hey @Romakita

Thanks for the detailed response.

I understand the situation, wish I had time to help with that.

I wanted to go with this framework for a big new project my company is working on because I personally really like it (hence my interest in benchmarks), but we ended up going the simplistic & unopinionated way.

Regards,
Royi

[2021-06-27 04:15] kryptus36 opened #1443 "Support schema based multi-tenancy for postgres with TypeORM"
**Is your feature request related to a problem? Please describe.**

I'm trying to design a multi-tenancy app that requires per-request schema switches.

**Describe the solution you'd like**
I'm ultimately trying to accomplish exactly what is described here:
https://tech.canyonlegal.com/multitenancy-with-nestjs-typeorm-postgres

I don't know exactly what the implementation would ultimately look lik

[2021-06-29 07:17] Romakita commented on #1443
Hello @kryptus36
I don't understand the needs. Create new decorator for multi tenant application has no sense. For example, the swagger documentation expose statics schema for all endpoint, so describe dynamic schema isn't possible. If an endpoint expose a different response structure per tenant, you won't be able to describe it excepted for common props.

The given nestjs example doesn't help me

[2021-06-29 16:51] kryptus36 commented on #1443
Thank you! I'll try this and re-open if I can't get it to work.

[2021-06-29 16:51] #1443 closed, assigned to Romakita

[2021-06-30 10:41] angusmunro opened #1446 "[BUG] cant have enums in responses"
## Information

- **Version:** 6.59.0
- Packages: @tsed/common, @tsed/schema

If I have a response model in a controller where the type is set to an enum it causes a maximum call stack size exceeded when endpoint is hit. Current workaround is to have properties as strings instead of enums.

## Example

[code]

## Acceptance criteria

- [ ] I should be able to set properties to have a typescript en

[2021-07-05 15:37] jappyjan commented on #1446
same for me

[2021-07-05 16:28] Romakita commented on #1446
The example is not correct for me:

[code]

[2021-07-10 06:54] Romakita commented on #1446
Hello @jappyjan,

I added unit test to cover you usecase. There is no error. See: https://github.com/tsedio/tsed/pull/1452

Can you produce a repository with reproducible example please?

See you,
Romain

[2021-07-11 21:18] klotztech opened #1455 "[BUG] Exception `stack` property schema doesn't match response"
## Information

- **Version:** 5.59.3
- Packages: common

Hi,
during development, when my app throws an Error (e.g. `NotFound`) I noticed the stack trace is serialized as a multi-line `string` but the ExceptionSchema for OpenAPI/Swagger defines the Error model as an `Array<string>`:

https://github.com/tsedio/tsed/blob/c207f93e3e59022b86b99a533a893afc1af6783b/packages/common/src/platform-exception

[2021-07-15 15:08] rustygreen opened #1457 "💡 Have "mounts" configurations take priority over "statics" configurations"
## Informations
**Is your feature request related to a problem? Please describe.**
I would like the `mounts` to take priority over the `statics` in terms of resolving a route. The main use case I have for this is the ability to serve a single-page application (Angular, React, etc.) at the root route (`/`) but then also have other routes available such as `/v1/docs` or `/rest`.

**Describe the solu

[2021-07-15 15:10] Romakita commented on #1457
Hello @rustygreen
The statics are loaded after /rest controllers so I don’t understand your point…

[2021-07-15 15:12] Romakita commented on #1457
https://github.com/tsedio/tsed/blob/production/packages/common/src/platform/builder/PlatformBuilder.ts#L338

[2021-07-15 20:18] rustygreen commented on #1457
Thanks, @Romakita. You're, right - I was just confused. The incorrect behavior I was seeing was a result of the application having a service worker which was caching the root ('/') request and then subsequently returning the application content for all other requests (`/rest/*`). I'll close this issue. Thanks, for the quick responses!

[2021-07-15 20:18] #1457 closed, assigned to Romakita

[2021-07-15 20:39] rustygreen opened #1459 "🚀 Ability to display API version in Swagger UI"
## Informations
**Is your feature request related to a problem? Please describe.**
I would like the ability to pass the API Docs version into the swagger configuration to display the API version in the swagger UI:

![image](https://user-images.githubusercontent.com/1774477/125853892-e37db756-ccaf-486d-9b17-7da087970190.png)

**NOTE:** I am not talking about the openApi version, I'm looking for a w

[2021-07-16 05:51] #1455 closed, assigned to Romakita

[2021-07-16 06:11] Romakita commented on #1455
:tada: This issue has been resolved in version 6.59.5 :tada:

The release is available on:
- `v6.59.5`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.59.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-16 06:47] Romakita commented on #1459
Hello @rustygreen
It's already possible by using the spec option:
[code]
See you
Romain

[2021-07-16 06:48] #1446 closed, assigned to Romakita

[2021-07-16 12:57] rustygreen commented on #1459
Thanks, @Romakita! You guys have built a really great framework! 👏👏👏

Unfortunately, setting the `spec.info.version` doesn't appear to affect the displayed version in the UI.
![image](https://user-images.githubusercontent.com/1774477/125951175-a5e28f7b-1907-41df-a9ce-6c3945073db2.png)

![image](https://user-images.githubusercontent.com/1774477/125951220-8290103e-71f1-47ef-a604-56a279ec1084.png)

[2021-07-16 13:01] Romakita commented on #1459
what? hum not normal it should change the version... let me see

[2021-07-16 13:03] Romakita commented on #1459
Hoooo my apologies. Ts.ED use the version from configuration. So you've right, I need to fix the code :)

[2021-07-16 13:21] Romakita commented on #1459
Hum in fact, the code works:

<img width="332" alt="Capture d’écran 2021-07-16 à 15 20 00" src="https://user-images.githubusercontent.com/1763311/125954513-2ee5e756-d9f3-4da3-9149-7e04fdd085f7.png">

[code]
See  https://github.com/tsedio/tsed-example-commands-typeorm

[2021-07-16 13:23] Romakita commented on #1459
@rustygreen The code works as expected.

<img width="332" alt="Capture d’écran 2021-07-16 à 15 20 00" src="https://user-images.githubusercontent.com/1763311/125954930-90736367-6932-48be-9291-629273414167.png">

See also: https://github.com/tsedio/tsed-example-commands-typeorm

[2021-07-16 13:24] #1459 closed, assigned to Romakita

[2021-07-16 13:43] rustygreen commented on #1459
@Romakita it looks like the docs are using the version from the `server configuration` rather than the version from the individual swagger `doc configuration`. Is that the desired behavior? That behavior doesn't allow the ability to maintain several versions of the API within the same code base (server instance). Having the version pulled off of the server configuration means that every doc config

[2021-07-16 16:04] Romakita commented on #1459
Just remove the version on top level ;)
The version on top level is only consumed by the swagger so remove it will have no other side effect ^^

[2021-07-17 07:34] Romakita commented on #1459
:tada: This issue has been resolved in version 6.59.8 :tada:

The release is available on:
- `v6.59.8`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.59.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-17 16:42] Romakita commented on #1459
@rustygreen  fixed ;)

[2021-07-19 17:11] rustygreen commented on #1459
Awesome! Looks good. Thanks, @Romakita!

[2021-07-20 12:01] TakeshiDaveau opened #1467 "[BUG] Probleme with OnDeserialize when multiple array"
## Information

- **Version:** 6.59.2
- Packages:

[code]

The object I want to deserialize contain 2 attributes which array `array` of typed `object`. But in the `OnDeserialize` I get the 2 array mixed.

## Example

[code]

When I do POST - http://localhost:3000/foo with this body :
[code]

Here is my console output:
[code]

## Acceptance criteria

- [ ] OnDeserialize should get only the data ass

[2021-07-20 17:01] Romakita commented on #1467
Hello @TakeshiDaveau
I’ll try to fix this issue tomorrow ;)

see you
Romain

[2021-07-21 08:20] TakeshiDaveau commented on #1467
Hello @Romakita

Thanks for your answer and reactivity 👍
We're not in a hurry as we can do a workaround with Pipe

See you

[2021-07-22 02:00] Romakita commented on #1467
Hello @TakeshiDaveau
I'm not able to reproduce the issue. I create a repository based on your example: https://github.com/Romakita/tsed-1467.git
The mapper works fine ^^

You can checkout the project and make a PR if you are able to reproduce the bug.

See you
Romain

[2021-07-22 08:00] TakeshiDaveau commented on #1467
Hello @Romakita

Thanks for your answer, I'll check this, maybe something specific we've added to our project create this bug.

I'll let you know when I have more information.

Bye
Takeshi

[2021-07-23 16:56] klotztech opened #1469 "[BUG] Swagger param type should be `cookie` instead of `cookies`"
## Information

- **Version:** 6.60.1
- Packages: common, schema

When the decorator `@CookiesParams()` is used on a function parameter of a controller, the generated OpenAPI schema will specify a parameter type of `in: cookies` for this parameter. I think this should instead be `in: cookie` as described on [swagger.io](https://swagger.io/docs/specification/describing-parameters/#cookie-parameters

[2021-07-24 09:25] #1469 closed, assigned to Romakita

[2021-07-24 09:42] Romakita commented on #1469
:tada: This issue has been resolved in version 6.60.2 :tada:

The release is available on:
- `v6.60.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.60.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-24 11:24] klotztech commented on #1469
Awesome, thank you! :rocket:

[2021-07-26 11:44] AlexDede opened #1471 "[BUG] Swagger documentation is broken after update to 6.59.6 or above"
## Information

- **Version:** 6.59.6 or above
- Packages:
@tsed/swagger

A few sentences describing the overall goals of the issue.

After upgrading of  all packages version to `6.59.6 or above` swagger documentation is broken. It's take around to 10 seconds to load swagger UI (it seems like all times  spends to load `swagger.json`) with only list of tags. But all tags are empty and no any inform

[2021-07-26 12:43] Romakita commented on #1471
@AlexDede Can you give me a reproducible example please (repo).

There is a lot of integration test over Swagger spec generation which cover many usecases (and it works) so I need more details!

See you
Romain

[2021-07-26 15:08] AlexDede commented on #1471
@Romakita Thank you for response. I found the reason of empty swagger in my project. It is related to the path of routes.

If `@Controller`, `@Get`, `@Post`, `@Put` or other related decorators contains `.` in the path it will break swagger. Also `mount` section in `@Configuration` decorator break swagger if path contains `.`

For example:
[code]
or
[code]

You can easy reproduce this with any proj

[2021-07-26 15:14] Romakita commented on #1471
Ok I see. Update your dependencies to 6.60.2. it should works.

[2021-07-26 16:11] AlexDede commented on #1471
The same issue with the latest version (6.60.2)

[2021-07-26 17:01] Romakita commented on #1471
Cannot reproduce:
<img width="1261" alt="Capture d’écran 2021-07-26 à 18 56 41" src="https://user-images.githubusercontent.com/1763311/127028804-8af67876-19d8-4247-868d-92341de0fee0.png">

:(  This is why I insist on creating an example repo so as not to waste time.

Here my repo example: https://github.com/Romakita/tsed-issue-1471

So give me an example with the broken swagger and the expected

[2021-07-26 18:24] AlexDede commented on #1471
@Romakita Sorry for missing example. I spend a lot of time to find the reason in my big project (I can not share it).

But here you can find small repo: https://github.com/AlexDede/tsed-issue-1471 with the bug example.

And current result is:

<img width="1916" alt="Screenshot 2021-07-26 at 21 10 51" src="https://user-images.githubusercontent.com/17781943/127037727-9f447337-4477-4df1-bb6b-47131609

[2021-07-26 18:30] Romakita commented on #1471
Ok I see now. The problem is occurs when there is twice controllers or more.

[2021-07-26 21:17] paulg-mscience opened #1473 "[BUG] Error: Cannot find module '../domain/JsonEntityStore'"
## Information

- **Version:** 6.61.0
- Packages:
     "@tsed/ajv": "6.61.0",
    "@tsed/common": "6.61.0",
    "@tsed/core": "6.61.0",
    "@tsed/di": "6.61.0",
    "@tsed/exceptions": "6.61.0",
    "@tsed/json-mapper": "6.61.0",
    "@tsed/platform-koa": "6.61.0",
    "@tsed/schema": "6.61.0",

Server fails to start with following call stack.

[2021-07-26T20:55:52.272] [ERROR] [TSED] - Error: Ca

[2021-07-26 22:58] #1473 closed, assigned to Romakita

[2021-07-26 23:12] paulg-mscience commented on #1473
@Romakita Thank you!

[2021-07-26 23:13] Romakita commented on #1473
@paulg-mscience The release is in progress ;)

[2021-07-26 23:17] paulg-mscience commented on #1473
Thanks. I will give the new release a try tomorrow. Cheers.

[2021-07-26 23:18] Romakita commented on #1473
:tada: This issue has been resolved in version 6.61.1 :tada:

The release is available on:
- `v6.61.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.61.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-27 08:06] TakeshiDaveau commented on #1467
Hello @Romakita

Indeed it's a problem on our side, I didn't already found why we have this behaviour but, we got the same result when we us a @Pipe to fully manage the deserialization.

I close the issue.
Thanks for you answer

[2021-07-27 08:06] #1467 closed, assigned to Romakita

[2021-07-27 15:24] paulg-mscience commented on #1473
All looks good with v6.61.1. Thanks again. Ts.ED is great :)

[2021-07-30 05:27] #1471 closed, assigned to Romakita

[2021-07-30 05:45] Romakita commented on #1471
:tada: This issue has been resolved in version 6.62.0 :tada:

The release is available on:
- `v6.62.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.62.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-02 08:16] AlexDede commented on #1471
@Romakita thank you!

[2021-08-04 08:25] gleant opened #1480 "[BUG] Object marked as Nullable in parent model does not follow schema when serialized"
## Information

- **Version:** 6.62.0
- Packages:
"@tsed/ajv": "^6.62.0",
"@tsed/cli-core": "^3.5.0",
"@tsed/common": "^6.62.0",
"@tsed/core": "^6.62.0",
"@tsed/di": "^6.62.0",
"@tsed/exceptions": "^6.62.0",
"@tsed/json-mapper": "^6.62.0",
"@tsed/platform-express": "^6.62.0",
"@tsed/schema": "^6.62.0",
"@tsed/swagger": "^6.62.0"

When using @Nullable decorator on the key which value is another mod

[2021-08-08 16:33] jappyjan opened #1485 "Dynamic Multer file field"
## Informations
so the problem is the following:

I receive a dynamic object from the client with n fields from which i know the names BUT only at runtime (inside the controller/service function) and not before so i cannot statically add the field names to the multer decorator.
Some of these fields may be files, some may not. again i know if they are at runtime, but not before.
How can i use Multe

[2021-08-09 11:51] jappyjan commented on #1485
okay i found a solution by creating a custom Multer.any() middleware and applying it using @UseBefore()

[code]

[2021-08-09 11:53] Romakita commented on #1485
Hello @jappyjan
Sorry for the late answer. Yes the quick solution is to create custom middleware!

[2021-08-10 14:34] gleant commented on #1480
@Romakita Any updates to this issue. This is a blocker for us at the moment. Or is there a way to work around this problem? Thanks.

[2021-08-11 17:02] dkini opened #1487 "Unable to manually register protocols and/or services"
We manually register controllers and entities in our Ts.ED project and are unable to use glob patterns to automatically scan and register them due to our project structure. What would be the best way to manually register protocol and/or services instead of using the componentScan with the glob pattern?

[2021-08-11 18:51] Romakita commented on #1487
Just import the services/protocols with a classic ES6 import on server.ts

[2021-08-11 19:16] dkini commented on #1487
After importing it in Server.ts, do we add it to the configuration like this? Or is there a better way?
![image](https://user-images.githubusercontent.com/10350685/129089521-fab51407-9681-400d-8bad-b33cdcab8af6.png)

[2021-08-11 19:35] Romakita commented on #1487
Also. But ´import “./path/to/protocols/Protocol“;’ works

[2021-08-12 15:10] #1480 closed, assigned to Romakita

[2021-08-12 15:28] Romakita commented on #1480
:tada: This issue has been resolved in version 6.62.3 :tada:

The release is available on:
- `v6.62.3`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.62.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-18 09:18] bkniffler opened #1493 "Breaking @QueryParams camelCase vs snake_case between 6.60.0 vs 6.62.3"
## Information

- **Version:** 6.62.3

Between 6.60.0 and 6.62.3 at some time, `@QueryParams` behavior must have changed. Using something like `@QueryParams("camelCase")` used to work fine, but after updating to the latest version, the argument will be empty even though set via query (`/somepath?camelCase=123`). `req.query` shows an object `{ camel_case: '123' }`, so it looks like query params are

[2021-08-22 12:51] Romakita commented on #1259
Released with v6.63.0

[2021-08-22 12:52] Romakita commented on #1259
:tada: This PR is included in version 6.63.0 :tada:

The release is available on:
- `v6.63.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.63.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-22 12:52] #1259 closed

[2021-08-24 17:38] chorsnell commented on #874
For anyone running into this (I was having the same issue on `5.60.2`), upgrading to `5.60.4` doesn't actually build correctly. It

I skipped ahead to `5.60.7` and it worked 👍

[2021-08-25 13:36] jpc-dnr opened #1496 "[BUG] $onRoutesInit takes a long time since 6.59.6"
## Information

- **Version:** 6.59.6

Since the upgrade to v6.59.6, the `$onRoutesInit` hook is taking a long time (like 4 seconds).
We are using in our project the `$onBeforeRoutesInit` and `$onAfterRoutesInit` hooks but not the `$onRoutesInit`.

It was working fine with v6.59.5 (`$onRoutesInit` takes some milliseconds only to execute).

Is there something we are missing? How can we diagnose thi

[2021-08-25 14:01] Romakita commented on #1496
And if you upgrade to another version ?

[2021-08-25 14:11] jpc-dnr commented on #1496
Yes, I pointed v6.59.6 because I wanted to be as accurate as possible on the version number.

I tried with v6.60.0, v6.61.1, v6.62.0 and v6.63.2, there is a waiting time in `$onRoutesInit`.

I should mention that with v6.62.0 and v6.63.2, the wait is not as long as with v6.60.0 or v6.61.1, it is 2 seconds (against 4 seconds for v6.60.0 and v6.61.1).

[2021-08-25 14:35] Romakita commented on #1496
Ok I'll investigate ^^.

[2021-08-26 14:18] Romakita commented on #1496
Hello @jpc-dnr

Can you install the latest version and run the server with the following options please:

[code]
you should have only the perf log displayed in the terminal. Can send me the result please :) ?

See you
Romain

[2021-08-26 15:06] jpc-dnr commented on #1496
Hi Romain,

Thank you for that, you can find the log result below.

[code]

[2021-08-27 18:51] derevnjuk commented on #1496
I also postponed upgrading to `6.6x` because of this issue :smile:

@Romakita it seems it somehow relates to Swagger UI. It takes too much time to build `paths`, also it blocks the event loop on each request to Swagger UI. Attached you will find the result of profiling: [tsed-cpu-profile.cpuprofile.zip](https://github.com/tsedio/tsed/files/7068922/tsed-cpu-profile.cpuprofile.zip)

[2021-08-27 19:05] Romakita commented on #1496
Hoo ok. Thanks for the report. It help me a lot.

I would really like to learn how to use profiling tools well. Today it's one of the things that I can't use at all... :(

[2021-08-27 19:12] derevnjuk opened #1498 "[BUG] Add missing exports for `Partial`"
## Information

- **Version:** `6.6x`
- **Packages**: `schema`

There is no export for `Partial` in the barrel file. To import that decorator, the user has to import it in such a way (`v5.59.x` is used):

[code]

After upgrade TSeD to `v6.6x` with the introduction of bundles, it raises the following error:

[code]

I suggest going through all files, it might be we can find other orphans)

[2021-08-27 19:51] derevnjuk opened #1500 "[BUG] `mount` is ignored when used in modules"
## Information

- **Version:** `>=5.5x`
- **Packages:** `di`

I use modules to avoid duplicating common components. It works well when we speak about middleware, filters, and pipes. However, controllers are just ignored. See example below:

[code]

I have tried to add controllers on the `$beforeInit` hook, it also has no effect.

[code]

It seems it somehow connected with [importProviders](https:/

[2021-08-27 20:54] #1498 closed, assigned to Romakita

[2021-08-27 21:14] Romakita commented on #1498
:tada: This issue has been resolved in version 6.64.1 :tada:

The release is available on:
- `v6.64.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.64.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-28 05:06] Romakita commented on #1496
The latest release should solve this issue. I let this issue open until you haven't confirmed the fix ^^

[2021-08-28 05:08] Romakita commented on #1500
Because it's $beforeInit ^^ (or $onInit).
But it's better to resolve the problem around the mount properties.

[2021-08-28 10:10] derevnjuk commented on #1496
@Romakita the issue is still there. Since you use the same method (i.e. `getOpenAPISpec`) at both `$onReady` and any requests to Swagger UI,

[code]

it blocks the event loop making the service unreachable for ~30s in total in my case.

So, notice the new `deepMerge` function:

![image](https://user-images.githubusercontent.com/38690835/131213727-4b3efecc-8034-4114-b3c8-49b4781089b5.png)

[CPU-202

[2021-08-28 10:16] Romakita commented on #1496
Yes I’m arrived on the same conclusion about the deepMerge function. I’ll take a time to find a way to lazyLoad the swagger and optimize the deepMerge function but there nothing magical when the swagger contains a lot of routes xD

[2021-08-28 14:16] derevnjuk opened #1502 "[FEAT] IoC container does not resolve nested async deps"
## Information

- **Version:** `6.x`
- **Packages**:  `di`

Currently, there is no way to register multiple providers, which depend on each other, using the async factory.

### Steps to reproduce

1. Register an async factory (`A`)
2. Register another async factory (`B`) so that it depends on the `A` provider
3. Build all providers from the container

### Example

[code]

## Actual result

The IoC

[2021-08-28 14:21] derevnjuk commented on #1496
Yeah, that's true. Anyway, we should try to avoid building a spec while request executing. Let's start from that, I suggest caching a spec in memory on the `$onReady` hook.

[2021-08-28 19:12] Romakita commented on #1496
Yes I’ll do that ^^

[2021-08-28 19:25] Romakita commented on #1502
Hello @derevnjuk
This is not a bug. Async factory cannot depend on another async factory because the invoke method is synchronous. Unfortunatly changing that will be a breaking change if the DI is used manually. I’ll try to take a time to propose an improvment on it and maybe introduce that for v7.

[2021-08-29 09:10] Romakita commented on #1500
For me it's works with the latest version (6.x): https://github.com/tsedio/tsed-example-modules

[2021-08-29 09:12] Romakita commented on #1493
@bkniffler Can you create a reproducible repository example. Because there is no code that change the query params to snake case in Ts.ED itself ^^. A quick search on the repository confirm that point (no snakeCase function). This is very unlikely to come from the framework.

See you
Romain

[2021-08-29 09:27] Romakita commented on #1493
Here is a repo example. https://github.com/Romakita/tsed-query-params
All works as expected!

Maybe you use a middleware / code that change the query object in express ^^.

[2021-08-29 09:27] #1493 closed, assigned to Romakita

[2021-08-30 06:26] Romakita commented on #1502
With v6 you can do that:

[code]

[2021-08-30 06:30] Romakita opened #1503 "[ROADMAP] V7"
## Stories

- [x] Use virtual router instead of native Express/Koa router (PR: #1987)
- [x] Remove possibility to register twice method with the same path + http verb (PR: #2006)
- [x] Remove componentsScan options and any globpattern to discover services
- [x] Support async_hook directly in @tsed/di. (PR: #1860)
- [x] OIDC: use /oidc basePath by default instead (Related: #1490, PR: https://github

[2021-08-30 06:33] derevnjuk commented on #1502
Yeah, that's what I use to bypass these limitations) Thanks 👍🏾

[2021-08-30 06:46] derevnjuk commented on #1500
@Romakita Hmm... It seems I missed something) I guess we can close this issue

[2021-08-30 07:18] Romakita commented on #1500
You've mentioned the v5 ^^. My example is on v6. So your issue is on v5?

[2021-08-30 11:27] dgrdl opened #1505 "[BUG] Adding a Header decorator creates a new */* content type in OpenApi Spec"
## Information

- **Version:** 6.64.1
- Packages: `@tsed/schema` (or `@tsed/openspec`?)

After adding a `@Header()` decorator with any options, the resulting swagger.json (and Swagger UI dropdown) includes a `*/*` content type in the response `content` part. This seems to be added in addition to the actual content type included by any `@Returns(200, SomeModel)` statement.

I have tried explicitly

[2021-08-30 12:07] Romakita commented on #1505
Header decorator will no longer supported. Instead, use `@Returns(200).Header()` instead. Try the correct version and tell me if it's works (it should, there are some units test on this part).

[2021-08-30 12:31] dgrdl commented on #1505
Thanks a lot for the quick response @Romakita! I can confirm that `@Returns(200).Header()` and `@Returns(200).Headers()` works as expected 👍

[2021-08-30 12:31] #1505 closed, assigned to Romakita

[2021-08-30 12:32] Romakita commented on #1505
héhé ^^

[2021-08-31 06:58] jpc-dnr commented on #1496
Hi!

Sorry I was unable to do some testing until today.

I can confirm that my original issue is resolved with the new 6.64.1 version. No more delay in the $onRoutesInit hook, thanks!

So for me this issue is resolved unless you want to leave it open for other reasons.

Thank you again

[2021-08-31 07:14] jpc-dnr commented on #1496
Unfortunately I have spoken prematurely because now, with 6.64.1, the swagger JSON file is not created as expected. So this seems like another issue or maybe it is related?

[2021-08-31 07:55] Romakita commented on #1496
The file should be created when the server is ready.

[2021-08-31 09:10] jpc-dnr commented on #1496
Ok, thanks for the tip. I was doing Swagger UI initialization in the $afterRoutesInit hook, but now I have to do it in the $onReady hook. It is fine for me. Thanks!

[2021-08-31 09:24] Romakita commented on #1496
@jpc-dnr Yes sorry, this is the only way to resolve the bootstrap perf issue ^^

@derevnjuk Can you confirm that the fix solve also your issue please ;)?

[2021-08-31 09:41] jpc-dnr commented on #1496
Now I just noticed that the swagger JSON file is not created anymore when bootstrapping for tests (`await PlatformTest.bootstrap(APIServer, settings)();`).

Is it some unwanted side effect or is there something to add?

[2021-08-31 09:42] Romakita commented on #1496
Is it necessary to have the generated file during the unit test?

[2021-08-31 09:43] Romakita commented on #1496
Because unit test should not generate files ^^

[2021-08-31 09:45] jpc-dnr commented on #1496
For me I would say "yes" because my tests are verifying that Swagger UI is properly initialized and working, so the JSON files are needed.

EDIT: maybe I will see if I can use some hard-coded JSON files for tests

[2021-08-31 10:25] Romakita commented on #1496
You can emit the $onReady event in this case to generate the swagger json :)

[code]

[2021-08-31 11:15] gleant opened #1508 "Generate swagger by mount path"
## Informations
I want to only include controllers in the same mount path to the same swagger file.

For example, if I have the following configuration:
[code]

I would like to define a swagger configuration so that controllers under path`'/api/public/'` are in one swagger file and controllers in path `'/api/internal/'` are in another swagger file.

[2021-08-31 15:18] jpc-dnr commented on #1496
I tried that but it does not generate the swagger json file unfortunately.

I also tried something like

[code]

but it does not work either.

[2021-09-01 07:11] Romakita commented on #1496
The next release will expose a generateSpecFiles() method on SwaggerModule. You'll be able to do this:

[code]

There is no reason to not works. The method implementation is the following:

[code]
So if it doesn't works, I'll need a reproducible example or you will have to debug this method in the SwaggerModule.js in your node_modules :)

See you
Romain

[2021-09-01 16:20] jpc-dnr commented on #1496
Thanks for that!

It does not work with my project unfortunately (tried with 6.64.2). Tomorrow I will try to reproduce that on a small project to see if this is related to Ts.ED or not.

[2021-09-02 03:35] #1436 closed, assigned to Romakita

[2021-09-02 09:50] martin-papy opened #1512 "[BUG] logger.debug() is not shown on stdout"
## Information

- **Version:** 6.64.1
- Packages:  logger

When I try to use the method $log.debug() I see no output in stdout even when forcing the configuration

## Example

[code]

## Configuration used
[code]
## Acceptance criteria

- [ ] Show the expected debug log

[2021-09-02 10:58] jpc-dnr commented on #1496
The problem is not related to Ts.ED, it was related to somehow a race condition between Ts.ED and swagger-stats, because we were reading the swagger.json file in the $onReady hook to give the Swagger spec to swagger-stats.

Now we use the directly the SwaggerService service to get the OpenSpec object without relying on the swagger.json file and it works.

If you need a reproducible example, you ca

[2021-09-02 12:10] Romakita commented on #1512
Isn't a bug. By default, the logger is configured to display only info level and higher. To enabled debug level you have to change the logger configuration:

[code]

See you
Romain

[2021-09-02 12:10] #1512 closed, assigned to Romakita

[2021-09-02 12:11] #1500 closed, assigned to Romakita

[2021-09-02 14:47] derevnjuk commented on #1496
@Romakita my issue is still there. See details in https://github.com/tsedio/tsed/issues/1496#issuecomment-907604853
Loading Swagger UI blocks other concurrent requests to the server.

[2021-09-02 14:48] derevnjuk commented on #1500
Thanks) Everything works on v6

[2021-09-02 17:12] Romakita commented on #1496
But it’s impossible, the spec is lazy loaded during the onReady hook and built only one time for the entire calls (cached).

[2021-09-02 17:21] Romakita commented on #1496
Hooo.. sorry, I forgot to release the fix ^^' My bad...

[2021-09-03 07:49] #1487 closed, assigned to nobody

[2021-09-03 07:49] #1508 closed, assigned to Romakita

[2021-09-03 08:06] Romakita commented on #1508
:tada: This issue has been resolved in version 6.66.0 :tada:

The release is available on:
- `v6.66.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.66.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-05 08:43] Romakita opened #1516 "[FEAT] Add mongo adapter based on redis adapter"
# Information

@tsed/adapter is used by @tsed/oidc-provider to support multiple database (or storage).

This story will add new @tsed/adapter-mongodb package.
See  https://github.com/tsedio/tsed/tree/production/packages/adapters-redis to implement the adapter.

[2021-09-06 18:52] AlexDede opened #1518 "Add support for Mongoose 6.x"
Please add support for Mongoose 6.x  for `@tsed/testing-mongoose` package

**Is your feature request related to a problem? Please describe.**

When I tried to run unit tests with Mongoose 6.x all my test that are related to database connection failed with next error

` MongoParseError: option usecreateindex is not supported`

It is because Mongoose 6.x removed support for some `connectionOptions`.

[2021-09-07 07:58] #1518 closed, assigned to Romakita

[2021-09-07 08:17] Romakita commented on #1518
:tada: This issue has been resolved in version 6.67.0 :tada:

The release is available on:
- `v6.67.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.67.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-12 21:05] angusmunro commented on #1446
I've tried to reproduce the issue on the latest version of tsed and it seems to work now... I'll reopen the issue with a full example repository if we encounter it again.

Thanks as always!

[2021-09-17 22:01] csnate opened #1529 "[BUG] Cannot read property 'isDone' of undefined"
## Information

- **Version:** 6.69.1
- Packages: @tsed/common

In the my applications logs I'm seeing the following errors when I access a route:

[code]

Looks like  [AnyToPromiseWithCtx.ts](https://github.com/tsedio/tsed/blob/production/packages/platform/common/src/domain/AnyToPromiseWithCtx.ts#L25), line 25 needs to add optional chaining?

[2021-09-19 08:58] #1529 closed, assigned to Romakita

[2021-09-19 09:23] Romakita commented on #1529
:tada: This issue has been resolved in version 6.69.2 :tada:

The release is available on:
- `v6.69.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.69.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-21 07:35] ljonathanl opened #1534 "[BUG] Enum on nested class causes stack loop error when serialized"
## Information

- **Version:** 6.64.1

I try to use an enum property on my nested model and I have a "RangeError: Maximum call stack size exceeded" when I serialize it. I don't have error when the enum property is just plain text not a type.

## Example

My model:

[code]

My controller:

[code]

If I call /enum/ok no problem, but /enum/bug throws this error when the model is serialized:

[code]

[2021-09-21 09:01] Romakita commented on #1534
Can you try this example please:
[code]

[2021-09-21 09:08] ljonathanl commented on #1534
Thx for the help but I have the same error.

@Romakita I'm connected on slack if you need more test

[2021-09-21 10:37] sidharthv96 opened #1535 "[BUG] Inheritance not working with @UseAuth"
## Information

- **Version:** 6.70.1
- Packages:
[code]

I tried to implement inheritance as mentioned in https://tsed.io/docs/controllers.html#inheritance, but it won't work when `@UseAuth` decorator is used.

Will have routes from BaseController
[code]

Will **not** have routes from BaseController
[code]

## Acceptance criteria

- [ ] Base routes should be available even when using `@UseAuth` D

[2021-09-21 15:39] sidharthv96 commented on #1535
[code]

This works as a temp fix.

[2021-09-21 17:38] sidharthv96 commented on #1535
Repro: https://github.com/sidharthv96/tsed1535

[2021-09-23 15:03] angusmunro opened #1536 "[BUG] Cannot inject mongoose connection on custom pipe"
## Information

- **Version:** 6.55.2

I want to have a pipe used by a custom decorator to lookup some data from a mongodb database for many endpoints.
This was working previously in at least version v6.34.3 as I do this already in older APIS that have been created with tsed on this version.

## Example

https://github.com/angusmunro/tsed-pipebug

## Example error

`INJECTION_ERROR: Injection fail

[2021-09-23 15:25] dgrdl opened #1537 "[BUG] Header decorator value overwrites PlatformResponse headers"
## Information

- **Version:** 6.70.1
- Packages: schema

Hi, I am running into an issue while trying to use the Headers decorator to document a response header that is created dynamically. Since the value property of the decorator only takes static values, I am trying to set the response header manually inside the controller method, but it seems to get overwritten at a later point and always retu

[2021-09-23 15:26] Romakita commented on #1536
Can you update your example with the latest Ts.ED please and test if the bug exists.

See you
Romain

[2021-09-23 15:30] Romakita commented on #1537
Thanks for the issue @dgrdl
The problem is here: https://github.com/tsedio/tsed/blob/production/packages/platform/common/src/utils/setResponseHeaders.ts#L5

But the fix isn't simple. We need to know if the header is already set dynamically from the endpoint...
If you have an idea,  tell me :)?

See you
Romain

[2021-09-23 19:38] angusmunro commented on #1536
I replaced

` implements IPipe<string, UserModel> {`

with

`implements PipeMethods<string, UserModel> {`

and upgraded to the latest version and it now works. Thanks for your suggestion. I had not tried this perviously due to a

I see that IPipe does not exist in the latest version, which prompted me to check your documentation.

[2021-09-23 19:38] #1536 closed, assigned to Romakita

[2021-09-23 19:47] Romakita commented on #1536
Ipipe is missing? Hum my bad…

[2021-09-23 20:21] angusmunro commented on #1536
I think it has been replaced with PipeMethods

[2021-09-24 06:21] Romakita commented on #1534
Works as expected. Checkout this example: https://github.com/Romakita/tsed-enum-issue-1534

See you
Romain

[2021-09-26 05:51] #1537 closed, assigned to Romakita

[2021-09-26 06:15] Romakita commented on #1537
:tada: This issue has been resolved in version 6.71.0 :tada:

The release is available on:
- `v6.71.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.71.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-26 20:09] Romakita commented on #1502
I found solution. Release is on going :D

[2021-09-26 20:47] #1502 closed, assigned to Romakita

[2021-09-27 12:44] Romakita commented on #1502
:tada: This issue has been resolved in version 6.72.0 :tada:

The release is available on:
- `v6.72.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.72.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 05:43] #1496 closed, assigned to Romakita

[2021-09-29 05:29] Romakita commented on #1535
Fixed by this pr https://github.com/tsedio/tsed/pull/1545

[2021-09-29 05:29] #1535 closed, assigned to Romakita

[2021-09-29 05:41] sidharthv96 commented on #1535
Thanks a ton @Romakita !!

[2021-09-29 12:04] ljonathanl commented on #1534
I have found where the error come from.
I have used tsed-cli to generate the package.json with babel option.

I have the error for build and start, if I use babel :

[code]

But I have no error when I use the default option:

[code]

Do you recommand to not use babel ?

[2021-09-29 12:20] Romakita commented on #1534
Haaaaaa. So can you send me the reproducible repository example. I’ll try to fix the issue ;)

[2021-09-29 12:20] Romakita commented on #1534
Babel transpile differently the code and decorators. But this is a bug that must be fixed by us ^^

[2021-09-29 12:38] ljonathanl commented on #1534
You can find the repository here : https://github.com/ljonathanl/tsed-enum-issue-1534

I have change package.json to use babel and add .babelrc

[2021-09-29 18:55] wguerram opened #1547 "Mikro-ORM support"
## Informations
**Is your feature request related to a problem? Please describe.**

Mikro-ORM support

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Is there a way to use Mikro-ORM instead of TypeORM?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

I'm just

[2021-09-30 16:18] jpc-dnr opened #1550 "TypeError 'isHeadersSent'"
**Version:** 6.72.2

We regularly encounter an exception like this:

[code]

For information, we just migrated from version 6.43.3 to 6.72.2.

Is this something someone has already seen? What can be the root cause of this error?

Thanks!

[2021-10-01 06:26] Romakita commented on #1547
Hello @wguerram
Basically, there is no needs to create a dedicated package to support an ORM with Ts.ED since the asyncFactory exists.

https://tsed.io/docs/custom-providers.html#use-factory

Here is an example with this ORM:

[code]

[code]

Then:
[code]
You can start with this example. Tell me if you have any question or issue ;)

If an official support is required, we can try to develop a premi

[2021-10-01 07:28] Romakita commented on #1550
Hello @jpc-dnr
this error occurs when an handler send headers after the response... If I look the code, you have an error caught by the onCtxRequest method, but the response is already sent to the client.

here is the code:

[code]
Are you able to reproduce the bug? Can you add a log in the compiled js (node_modules/@tsed/platform-express) here:
[code]
I'll try to secure the code and gives more in

[2021-10-01 08:30] jpc-dnr commented on #1550
Hi,

Thank you for the explanation.
We encountered this error many times yesterday but today it is impossible to reproduce :/
We added some console.log as advised so we should be able to investigate more if the error happens again.

Thanks!

[2021-10-01 08:39] Romakita commented on #1550
@jpc-dnr A release is on going. It add a detailed log.warn:
https://github.com/tsedio/tsed/pull/1554/files

You should be able to track this issue with a kibana/logentries or something else ;)

See you
Romain

[2021-10-01 09:39] jpc-dnr commented on #1550
Oh thank you for that! I will try with this new release

[2021-10-02 09:59] #1534 closed, assigned to Romakita

[2021-10-02 10:25] Romakita commented on #1534
:tada: This issue has been resolved in version 6.73.2 :tada:

The release is available on:
- `v6.73.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.73.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-04 17:53] IARKI commented on #1235
As an idea
[code]

[2021-10-04 17:56] Romakita commented on #1235
Ha yes it could be possible :). But they need to rework all existing decorator for that.

[2021-10-04 20:20] AlexandrosMelissas opened #1558 "Support for nestjs-like folder architecture"
## Informations
**Is your feature request related to a problem? Please describe.**
Due to scalability issues, i always use a folder architecture similar to NestJs.

**Describe the solution you'd like**
I would like, when creating a ts ed project via cli, to have an option for a different folder architecture similar to NestJs

**Describe alternatives you've considered**
Maybe if we could change it

[2021-10-05 04:18] Romakita commented on #1558
Hello @AlexandrosMelissas
Can you describe the folder architecture pls.

but your are free to chnge the folder tree as your conveniente. It’s not really importante for Ts.ED ^^

see you

[2021-10-05 07:52] duyhotan2000 opened #1561 "Could not return discriminator key as Property in child class"
Hi everybody,

I'm using Tsed with Mongoose and Model.
I defined a parent class:
[code]

And my child class:

[code]

I used this to filter the return fields on controller:

[code]
But it didn't return the `type` value because I could not define it as a Property, or I will get `Discriminator "admin" cannot have field with name "type"` error.

How do I get the `type` returned?

Thanks!

[2021-10-05 10:19] AlexandrosMelissas commented on #1558
I'ts not very convenient to change the architecture since generating controllers, services etc becomes a pain. Τhe architecture looks like this. Each "module" has services, controllers, etc inside of it.

![image](https://user-images.githubusercontent.com/56912034/136004820-be58a14f-6faf-4745-972d-1ee9700c9188.png)

[2021-10-05 11:48] Romakita commented on #1558
ha ok it's feature approach. And the command try to use controllers/services depending of the provider type. Ok, I think, it's possible to disable the subpath via an option ^^

[2021-10-06 17:42] alexdonh opened #1567 "[BUG] @VirtualRef throw error when referencing to a discriminator class"
## Information

- **Version:** 6.x.x (reproducible with latest 6.73.6)
- Packages: @tsed/mongoose

It appears that a child model class with discriminator cannot be used as `ref` in `VirtualRef` (and I would suspect the same with `Ref` and `DynamicRef` too).

## Example

[code]

## Expected result

repository.find(...) should run successfully and return the list. Each item should also have `event`

[2021-10-06 18:09] alexdonh opened #1568 "Is Discriminator working properly?"
## Information

- **Version:** 6.x (reproducible on latest 6.73.6)
- Packages: @tsed/mongoose

When I follow Discriminator guide on the documentation, I got confused because it doesn't seem to work as I expected.

## Example

[code]

## Expected

- [ ] Collection `events` created
- [ ] Data inserted into this collection
- [ ] `type` field automatically filled with "clicked" - the discriminator val

[2021-10-06 18:15] Romakita commented on #1561
Hello @duyhotan2000
Ok produce a repository example. I don't use discriminator and I don't really understand the goals of this mongoose feature.

So repository example with the expected result will help me.

I won't investigate until this point is not ready ^^.

See you
Romain

[2021-10-06 18:18] Romakita commented on #1568
Hello @alexdonh

Can you produce a repository example please. I don't use discriminator and I don't understand exactly the goal of this mongoose feature.

See you
Romain

[2021-10-07 03:48] alexdonh commented on #1568
@Romakita here you go https://github.com/alexdonh/tsed-sample-discriminator

Please have a look into `PostControler` and also `Repository` classes in `services`

[2021-10-07 03:57] alexdonh commented on #1568
Basically discriminator enables you to have multiple models with overlapping schemas on top of the same underlying MongoDB collection.

Imagine you have a set of users

[code]

you want to have they all stored in the same database collection namedly `users` like this

[code]

[2021-10-08 20:48] reed-lawrence opened #1572 "Disable logger on certain routes?"
For example, in login and register POST requests, you can see a user password as part of the POST body in the raw string format. It would be nice if there was a way to customize the logger functionality on a per-route basis.

Thanks for the great framework!

[2021-10-09 07:07] tripodsgames opened #1574 "pnpm support"
## Informations
**Is your feature request related to a problem? Please describe.**
In all my projects i started using pnpm, i love the shared node_modules and the speed of pnpm.

**Describe the solution you'd like**
Add pnpm to supported package managers

## Acceptance criteria
- [x] pnpm support.

[2021-10-09 07:55] Romakita commented on #1574
Hello @tripodsgames

There is a special thing to know about PNPM?

The code responsible to install dependencies with a specific Package manager is here:
https://github.com/tsedio/tsed-cli/blob/master/packages/cli-core/src/services/ProjectPackageJson.ts#L305

We need to update the prompt:
https://github.com/tsedio/tsed-cli/blob/master/packages/cli/src/services/Features.ts#L455

And add information

[2021-10-09 08:12] Romakita commented on #1572
Hello @reed-lawrence
Hum... Have you changed the logger configuration. Because by default, the logger doesn't display the body payload in the log:

https://github.com/tsedio/tsed/blob/production/packages/di/src/domain/ContextLogger.ts#L55
and
https://github.com/tsedio/tsed/blob/production/packages/platform/platform-log-middleware/src/middlewares/PlatformLogMiddleware.ts#L14

The default configurat

[2021-10-09 08:19] tripodsgames commented on #1574
Yes, it creates a non-flat node_modules

See: https://pnpm.io/motivation and https://pnpm.io/faq

I can make a pull request to add support for it, actually I'm already using it, works as expected

[2021-10-09 08:21] Romakita commented on #1502
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- `v7.0.0-alpha.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-09 08:21] Romakita commented on #1534
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- `v7.0.0-alpha.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-09 08:26] Romakita opened #1575 "[Doc] Add Serverless documentation page based on the platform/serverless/readme.md"
# Information

The new serverless package is available on NPM but there is not page on our website.

See readme package here:
 https://github.com/tsedio/tsed/tree/production/packages/platform/platform-serverless

The goal is to add a new page in the website dedicated on Serverless framework.

## Steps

-  Create the new markdown file `serverless.md` here https://github.com/tsedio/tsed/tree/product

[2021-10-10 05:56] VinzSpring opened #1576 "embedded mongodb models"
## Informations
With mongoose it is possible to [embed documents into another document for performance reasons ](https://docs.mongodb.com/manual/tutorial/model-embedded-one-to-many-relationships-between-documents/).
I have not figured out how to do this using the ts.ED decorators.

It would be really handy if there were a decorator which could be used to describe such a document relationship.
[cod

[2021-10-10 06:17] Romakita commented on #1576
Hello @VinzSpring
I think you just need to use `@CollectionOf` and @MongooseSchema decorators to create sub document. In your link, there is no speciale things to do to create sub document. Also the link refere to mongo and not mongoose.
Give me a valid mongoose example if the CollectionOf/MongooseSchela doesn’t works for you.
See you

[2021-10-10 12:39] vishal-codes commented on #1575
can I try this?

[2021-10-11 05:48] #1576 closed, assigned to Romakita

[2021-10-11 09:13] Romakita commented on #1575
Sorry @vishal-codes

@loic5 is already assigned on this issue.

See you
Romain

[2021-10-11 11:16] vishal-codes commented on #1575
np

[2021-10-11 20:24] tripodsgames commented on #1574
Pnpm support was added via https://github.com/tsedio/tsed-cli/releases/tag/v3.13.0

[2021-10-11 20:24] #1574 closed, assigned to Romakita

[2021-10-13 11:54] mattinuu opened #1577 "[BUG] Typeorm AbstractRepository isn't supported"
## Information

- **Version:** 6.73.9
- Packages:
  - @tsed/typeorm
  - typeorm

TypeORM repository resolving manager fails with AbstractRepositories.

If you have a repository extended from AbstractRepository manager isn't injected for repo causing error:
"Cannot read properties of undefined (reading 'getRepository')".

## Example

[code]

## Findings

This seems to be caused by latest change on

[2021-10-14 06:57] #1577 closed, assigned to Romakita

[2021-10-14 10:22] sidharthv96 opened #1581 "[BUG] Page Session & cookies - /tutorials/session"
https://github.com/expressjs/session#sessionoptions

So should the cookieParser option be removed from the middlewares in the example page?

[2021-10-14 10:25] sidharthv96 commented on #1581
body-parser is also deprecated in latest express versions right?
express.json() is what I'm using in Express 4.16+.

[2021-10-14 12:38] #1568 closed, assigned to Romakita

[2021-10-14 13:03] Romakita commented on #1568
:tada: This issue has been resolved in version 6.74.0 :tada:

The release is available on:
- `v6.74.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.74.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-14 13:03] Romakita commented on #1577
:tada: This issue has been resolved in version 6.74.0 :tada:

The release is available on:
- `v6.74.0`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.74.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-14 14:35] sidharthv96 opened #1582 "[BUG] Session Setting values direcly doesn't work"
[code]

Assigning directly to a variable doesn't work.

Is this the intended behavior?
If so, I think we should add it in the documentation and make it clear.

[2021-10-14 15:48] Romakita commented on #1582
… it’s a basic javascript issue. Assign value to an input parameter won’t be visible from the caller. I don’t need to write that in the documentation ^^

But I agree, the document haven’t an explicite example to set value in session

the solution:

UpdateSession(@Session() session: any)  {
   session.user = 1
}

[2021-10-14 15:49] #1582 closed, assigned to nobody

[2021-10-14 15:55] Romakita commented on #1581
Hello @sidharthv96

I didn't known that ^^. You can edit the documentation, If you have a time to do it ;)

Where have you seen that? There is not mention of that in the npm module page: https://www.npmjs.com/package/body-parser

See you
Romain

[2021-10-14 15:56] Romakita commented on #1581
## req.body

Contains key-value pairs of data submitted in the request body. By default, it is undefined, and is populated when you use body-parsing middleware such as express.json() or express.urlencoded().

The following example shows how to use body-parsing middleware to populate req.body.

Ok. But use body-parser is correct :)

[2021-10-14 15:57] sidharthv96 commented on #1582
Yup, I've been using the session directly.
 Just wanted to point out that an example might be useful. 😄

[2021-10-14 15:58] Romakita commented on #1582
Totally agree ;)

[2021-10-15 05:47] Romakita commented on #1561
Hello @duyhotan2000
I think it's fixed with this PR #1580 ^^

See you
Romain

[2021-10-15 05:47] #1561 closed, assigned to Romakita

[2021-10-15 07:56] alexdonh commented on #1568
@Romakita I updated the sample to latest version but it doesnt seem to fix the issue. What am I missing here? FYI the sample is here https://github.com/alexdonh/tsed-sample-discriminator

[2021-10-15 08:07] Romakita commented on #1568
Hello @alexdonh
you example is to huge. So I created a new project example based on the official documentation:
https://github.com/Romakita/tsed-example-discriminator

You can compare my example with your example. For me the problem is fixed. Field type is correctly displayed in the response:

<img width="1072" alt="Capture d’écran 2021-10-15 à 10 04 41" src="https://user-images.githubuserconten

[2021-10-15 08:09] Romakita commented on #1568
Also type have been correctly filled in the database before fix. The type field wasn't declared as a serializable property. I fixed that part there. Everything else was working as expected at mongoose level.

[2021-10-17 19:05] yusufsamsudeen opened #1586 "[BUG] Properties without @Required are set as undefined if any property is decorated with @Required in the same class"
## Information

Given a class with several ``` @Required ```  fields only these fields get mapped from request

- **Version:** 6.75.0
- **Version:** 6.59.2

## Example

[code]
Only the fields with ```@Required``` get mapped during request the rest are set as ```undefined```

[2021-10-18 05:43] Romakita commented on #1586
It's not a bug. This is the intended behavior. You have to add `@Property` at least on all properties or add `@AdditionalProperties(true)` on class to work.
Read the documentation here please: https://tsed.io/docs/model.html#example

<img width="909" alt="Capture d’écran 2021-10-18 à 07 42 54" src="https://user-images.githubusercontent.com/1763311/137675198-3c3bba6a-69c1-4f05-8982-ccdee31c87a9.p

[2021-10-18 05:43] #1586 closed, assigned to Romakita

[2021-10-19 05:24] alexdonh commented on #1568
Please check out my fork of your repo then you will understand what I am trying to express.
https://github.com/alexdonh/tsed-example-discriminator

[2021-10-19 05:27] alexdonh commented on #1568
You dont event need to run any controller action. Just `yarn start` my repo you will notice in mongodb it creates multiple collections for the models. discriminator apparently doesnt apply.

[2021-10-19 05:34] Romakita commented on #1568
@alexdonh I created a simple repository and it works. Compare my example with your example pls.

see you
Romain

[2021-10-19 06:17] Romakita commented on #1568
Ok... The bug isn't on discriminator itself but only when the EventModel isn't injected into another class.
Right now, the workaround is just to inject the model in a the repository.

I'll try to understand why the injection change the behavior.

See you
Romain

[2021-10-19 06:20] Romakita commented on #1568
Ok the injector order have an effect to:

works:
[code]

doesn't works:
[code]
O_o

[2021-10-19 07:15] Romakita commented on #1568
Ok got it !

[2021-10-19 11:32] Romakita commented on #1568
:tada: This issue has been resolved in version 6.75.2 :tada:

The release is available on:
- `v6.75.2`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.75.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-20 15:09] ljonathanl opened #1594 "[BUG] Call sequence from the doc is not respected for middleware"
## Information

- **Version:** 6.70.2

UseBefore Middleware on an endpoint is always called after Use middleware on the controller.

From the doc https://tsed.io/docs/middlewares.html#call-sequences, the sequence is:

MdlwCtrlBefore,
MdlwCtrlBeforeEach
MdlwBefore, (EndPoint)
MdlwCtrl,
MyCtrl.endpointA

But from my tests,  MdlwBefore is called after MdlwCtrl

## Example

[code]

I have this in the

[2021-10-21 09:44] daobuihuu-nhs opened #1596 "Thanks and one question regarding using https"
Firstly, thanks for building a great library.

I'm currently exploring it to use for my new project and found it's very useful with decorators and supported plugins.
As I'm quite new to nodejs and express and frontend stack, those made me feel at home coming from backend background.

I have one question building application using https. I can't find any example related to it and not sure how to wi

[2021-10-21 09:52] Romakita commented on #1596
Hello @daobuihuu-nhs

The https example isn't  provided because in local you don't need it and now, the https is managed by your cloud provider and you just need to expose your nodejs app as http.

For example, heroku managed itself the SSL certificat. And I just need to expose the server in http.

For your question. You need to generate a self signed certificat. You can find many tutorial on goog

[2021-10-21 10:04] daobuihuu-nhs commented on #1596
Hi Romakita,

Thanks for prompt reply. Turned out `httpsOptions` is what I looking for :).
I missed it when scrolling through the documentation

I managed to solve it by supplying the key and cert as below

[code]

[2021-10-21 11:30] ashprojects opened #1598 "[BUG] API freezes when input body payload is greater than 100kb"
## Information

- **Version:** 5.45
I have following handlers in app in Server.ts:
[code]
When API payload of size > 100kb is received, there is no exception thrown and API is just stuck.
We can solve this by using limit in bodyParser.json as:
[code]

but the point is, API should throw some error.

[2021-10-21 12:11] Romakita commented on #1598
Hello @ashprojects
Well, If the bodyParser doesn't throw an error, I won't be able to do something...

Give a pure express usecase that emit an error when the bodyParser.json emit an error when the size is exceeded ... And I'll inspect your issue.

See you
Romain

[2021-10-22 05:20] raduconst06 commented on #1015
Hi. Could you describe a bit how to use Groups / RequiredGroups to allow this usage, please?

[2021-10-22 08:27] Romakita commented on #1015
@petruconst  It's described on the official doc: https://tsed.io/docs/model.html#requiredgroups

[2021-10-25 00:31] eddow opened #1600 "[BUG] Surprise stop of static serving"
## Information

- **Version:** 6.73.9
- Packages: comon+express

As I was developing and all was going well, some `npm i` - I think, it might be something else I did - made my SPA stop serving the static content

## Example

I isolated the code, removing all the API, DB, &c. to be sure it was from there, I reached this (only typescript file from the server)

[code]

## Acceptance criteria

- For t

[2021-10-25 08:06] #1600 closed, assigned to Romakita

[2021-10-25 09:16] Romakita commented on #1600
:tada: This issue has been resolved in version 6.75.7 :tada:

The release is available on:
- `v6.75.7`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.75.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-25 10:51] eddow commented on #1600
Perfect, good job guys! I now wonder why it worked before :p

[2021-10-25 11:49] Romakita commented on #1600
I added new options to allow mounting statics before routes. Unfortunatly I haven’t seen the side effect on the actual behavior. Sorry ;)

[2021-10-25 13:34] #1558 closed, assigned to matthiasferraina

[2021-10-25 18:48] lgmf opened #1604 "[BUG] BSON field 'update.updates.u' is the wrong type 'array', expected type 'object'"
## Information

- **Version:** 6.x
- Packages:
 "@tsed/testing-mongoose": "^6.62.0",

The test fails when using an aggregation pipeline on an update function

## Example

[code]

## Acceptance criteria

- [ ] Should be able to test updates with aggregation pipelines

[2021-10-25 20:43] Romakita commented on #1604
Hello @lgmf
I don’t know how I can help you. @tsed/testing-mongoose wrap mongodb-memory-server without additional things.

So the only solution is to reproduce the bug with a pure mongoose code.

another point is: your issue title is not really aligned with the issue description. I’m not sure if your issue is about a deserialization or an issue about mongodb-memory-server.

please clarify your iss

[2021-10-25 21:06] lgmf commented on #1604
Sorry about the description

The problem happens when I'm testing my endpoint using `import {TestMongooseContext} from "@tsed/testing-mongoose";`

When running the application with MongoDB version 4.4.10 my code works, but in the test environment, it doesn't.

Basically, I have a repository that executes a find and replaces operation on a string property using the aggregate operator `$replaceAll`

[2021-10-25 22:24] Romakita commented on #1604
Ok the problem is related to mongodb-memory-server repository. Open an issue on his repo. I won’t be able to help you. Sorry.

Romain

[2021-10-25 22:24] #1604 closed, assigned to Romakita

[2021-10-26 10:29] lgmf commented on #1604
Ok. Thanks for the help

[2021-10-27 10:41] #1596 closed, assigned to Romakita

[2021-10-27 13:14] #1594 closed, assigned to Romakita

[2021-10-27 13:38] Romakita commented on #1594
:tada: This issue has been resolved in version 6.75.8 :tada:

The release is available on:
- `v6.75.8`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.75.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-29 14:20] #1575 closed, assigned to nobody

[2021-11-01 19:54] schnelldigital opened #1619 "[BUG] DeepClone Maximum Call Stack Exceeded Exception"
## Information

- **Version:** 6.73.8
- Packages:     "@tsed/ajv": "6.73.8",
    "@tsed/common": "6.73.8",
    "@tsed/core": "6.73.8",
    "@tsed/di": "6.73.8",
    "@tsed/exceptions": "6.73.8",
    "@tsed/json-mapper": "6.73.8",
    "@tsed/mongoose": "6.73.8",
    "@tsed/platform-express": "6.73.8",
    "@tsed/schema": "6.73.8",
    "@tsed/socketio": "6.73.8",
    "@tsed/swagger": "6.73.8"

Spora

[2021-11-02 06:52] Romakita commented on #1619
Hello @schnell-technology

Have you a minimal reproducible repository ? Based on your information, I'm not able to find a reason to have maximumCall stack sporadically.

See you
Romain

[2021-11-02 07:21] Romakita commented on #1619
@schnell-technology
I worked on this PR to avoid circular ref issue: https://github.com/tsedio/tsed/pull/1620

I also added a env variable TSED_TRACK_CIRCULAR_REF to print a trace when a circular ref is detected. it would be nice if you gave me to activate this variable so that we know where the call that is causing your problem is coming from :)

I'll release the fix today !

See you
Romain

[2021-11-02 10:52] jpc-dnr opened #1621 "Cannot read property 'addRoute' of undefined"
## Information

- **Version:** >= 6.75.2

Since version 6.75.2, there is an error at startup :

[code]

It works fine with version 6.75.1

I tried with all versions 6.75.2 to 6.75.10, the issue is present

[2021-11-02 12:26] Romakita commented on #1621
Have you the same version between all tsed packages ? Because, It works for me!

[2021-11-02 12:37] #1598 closed, assigned to Romakita

[2021-11-02 13:04] jpc-dnr commented on #1621
Thanks for your answer!

I have these dependencies in my project:

[code]

Do you see something wrong?

I am doing the following in the `$beforeInit` hook:

[code]

Is there something wrong with that?

[2021-11-02 13:22] Romakita commented on #1621
Can you give me a reproducible example please ?

[2021-11-02 13:23] #1550 closed, assigned to Romakita

[2021-11-02 13:43] Romakita commented on #1598
:tada: This issue has been resolved in version 6.75.11 :tada:

The release is available on:
- `v6.75.11`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.75.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 15:49] jpc-dnr commented on #1621
Sure, I managed to make a small reproducible project, I just gave you the access.

It is somehow related to the injection of `SwaggerService`in the `APIServer`class.

Thanks!

[2021-11-02 18:55] Romakita commented on #1621
ok I see the problem. Unfortunately, I can't rollback the actual code, because it solve issue with the DI/Controllers and AsyncFactory. The problem is, the class ApiServer is the only provider that not follow the DI graph resolution :( (it's a legacy from v5). It try to find a way to fix that.

I also pushed some change on you repository example. You'll see in  the code, I use a custom module to l

[2021-11-03 08:37] Romakita commented on #1619
@schnell-technology  Can you confirm that the fix solve your issue please ?

[2021-11-03 08:37] Romakita commented on #1619
@schnell-technology  Can you confirm that the fix solve your issue please ?

[2021-11-03 08:50] schnelldigital commented on #1619
Hi Romakita,

thank you for your fast response and fix.
The last day, this error didn't occur, it seems very promising.
I'll test it the next few days further more with your given environment-variable and give you a response.

Thank you very much!

[2021-11-03 09:33] jpc-dnr commented on #1621
Thank your for your answer.

I understand that my code is legacy and using the custom module works for me so you don't need to find a solution to handle legacy way of doing things.

However, now I have an unwanted log that may come from Ts.ED :

[code]

Maybe this is not related, but do you have any idea where it can come from?

[2021-11-03 10:12] #1621 closed, assigned to Romakita

[2021-11-03 10:52] Romakita commented on #1621
If you update to the latest release, the log should be removed

[2021-11-04 18:42] Romakita commented on #1621
:tada: This issue has been resolved in version 6.75.12 :tada:

The release is available on:
- `v6.75.12`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.75.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-05 14:59] jpc-dnr commented on #1621
It is indeed fixed, thank you

[2021-11-07 11:58] schnelldigital commented on #1619
Hi Romakita,

after the last days, this error didn't occured and no anomalities in the output/logs could be found.
This ticket will no be closed.
Thank you for your support and have a nice day.

See you
Patrick

[2021-11-07 11:58] #1619 closed, assigned to Romakita

[2021-11-10 16:39] thanhchuongbmd opened #1629 "[BUG] DataTypeNotSupportedError: Data type "Object" in "Product.type" is not supported by "mysql" database."
## Information

- **Version:** 6.x
- Packages:
    "@tsed/ajv": "^6.79.1",
    "@tsed/common": "^6.79.1",
    "@tsed/core": "^6.79.1",
    "@tsed/di": "^6.79.1",
    "@tsed/exceptions": "^6.79.1",
    "@tsed/json-mapper": "^6.79.1",
    "@tsed/platform-express": "^6.79.1",
    "@tsed/schema": "^6.79.1",
    "@tsed/swagger": "^6.79.1",
    "@tsed/typeorm": "^6.79.1",
    "typeorm": "^0.2.39"

## Ex

[2021-11-10 16:41] Romakita commented on #1629
Hello @thanhchuongbmd

this issue is related to typeorm project. Open an issue on his repo please.

see you
Romain

[2021-11-10 16:42] #1629 closed, assigned to Romakita

[2021-11-16 12:52] rizchaerul commented on #1547
Hi, I'm new to Ts.ED and trying to use Mikro-ORM. Can you tell me on which file to put all the code that you wrote? Thanks.

[2021-11-16 14:26] Romakita commented on #1547
@rizchaerul You have to create one file per examples:

- Connection.ts
- RequestContextMiddleware.ts

then import files with an ES6 import in Server.ts like is described in the last example.

[2021-11-16 16:31] rizchaerul commented on #1547
Thanks, right now I'm having trouble with the middleware. Where do i get the orm instance and promisify?
![image](https://user-images.githubusercontent.com/72289631/142025861-902ad206-7ea4-4b59-871d-a67e71722780.png)

[2021-11-16 17:31] Romakita commented on #1547
From « util ». It’s a basic nodejs function. It’s described in my example ;)

import {promisify} from "utils"

[2021-11-16 20:00] rizchaerul commented on #1547
Yeah sorry my bad. It showed an error on the import statement before, so i removed it. But it solved now.

One more thing though, where do i get the `orm.em`  from?

[2021-11-16 21:57] Romakita commented on #1547
Ho sorry, I just copied the code example from MikroORM but I realize, isn't clear:

[code]

See you,
Romain

[2021-11-17 04:02] rizchaerul commented on #1547
Thank you! You really helped me out.

[2021-11-20 01:35] rizchaerul opened #1643 "[BUG] QueryParams validation doesn't work as expected"
## Information

- **Version:** 6.85.0

Hi, when I insert two query with the same key such as q=1&q=2, the q variable in the get() method becomes an array. Is this the right behavior? If it is, then what should I do to make sure that the query is not an array.

Thank you.

## Example
![image](https://user-images.githubusercontent.com/72289631/142709557-cd6b3f57-2e6d-48d2-bd9b-70340646bdfb.png)

[2021-11-20 06:13] Romakita commented on #1643
Hello @rizchaerul

it’s not a bug. It’s a part of official spec about the query params parsing (querystring node module).
If you have @tsed/ajv, it should emit a bad request.

see you
Romain

[2021-11-20 06:13] #1643 closed, assigned to Romakita

[2021-11-20 06:35] rizchaerul commented on #1643
I see, do I also have to install ajv, alongside @tsed/ajv?

[2021-11-20 12:33] Romakita commented on #1643
Avj is installed with @tsed/ajv

[2021-11-22 03:30] nxvxl opened #1652 "[BUG] Failed to build app because of missing declarations"
## Information

- **Version:** 6.87.0 (newest)
- Packages:  di

Failed to build because  ResolvedInvokeOptions declaration file is missing

## Example

![image](https://user-images.githubusercontent.com/25476548/142796772-857c5210-7b5a-4a33-8f78-26c377cf62e7.png)

## Acceptance criteria

- [ ] Build successfully without error

[2021-11-22 07:59] #1652 closed, assigned to Romakita

[2021-11-22 08:19] Romakita commented on #1652
:tada: This issue has been resolved in version 6.87.1 :tada:

The release is available on:
- `v6.87.1`
- [GitHub release](https://github.com/tsedio/tsed/releases/tag/v6.87.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-04 21:39] navalta3030 opened #1673 "[BUG] Resolver/Services(Injectible) package is missing."
## Information

- **Version:** 6.93.0
- Packages: tsed ImportPackage

Working on GraphQL, added new service(Injectible) and suddenly all packages being scanned by component are missing.

## Server.ts

[code]

## Service added
[code]

## Errors getting
[code]

## Acceptance criteria

- [x] be able to start (npm/yarn start).

[2021-12-04 21:42] #1673 closed, assigned to Romakita

[2021-12-04 21:43] Romakita commented on #1673
The problem is resolved?

[2021-12-05 12:54] navalta3030 commented on #1673
Yes. Just had a typo on another file.

[2021-12-06 17:23] navalta3030 opened #1675 "[BUG] Resolver/Services(Injectible) package is missing."
## Information

- **Version:** 6.94
- Packages: common, graphql.

A few sentences describing the overall goals of the issue.

## Resolver

[code]

## Service (the usual one).
[code]

## Server.ts
[code]

## tsconfig.compiler.json
[code]

## What caused it (It was working before I made changes).
1. I'm trying to make the path importing from a relative into absolute.
2. On the tsconfig compiler, I c

[2021-12-06 17:35] navalta3030 commented on #1675
I also tried making Server.ts into `componentsScan: [`./gql/**/*.ts`],`  but now getting `Error: Empty `resolvers` array property found in `buildSchema` options!`

[2021-12-06 19:46] Romakita commented on #1675
Is it possible to have a small reproducible repo example?

it’ll help me a lot ;)

[2021-12-07 00:44] yaritaft opened #1676 "[BUG] PlatformTest does not instantiate and I cannot use supertest"
## Information

- **Version:** 6.95.0
- Packages:
"@tsed/ajv": "6.95.0",
    "@tsed/common": "6.95.0",
    "@tsed/core": "6.95.0",
    "@tsed/di": "6.95.0",
    "@tsed/exceptions": "6.95.0",
    "@tsed/json-mapper": "6.95.0",
    "@tsed/platform-express": "6.95.0",
    "@tsed/schema": "6.95.0",
    "@tsed/swagger": "6.95.0",
    "@tsed/typeorm": "6.95.0",

A few sentences describing the overall go

[2021-12-07 03:06] Romakita commented on #1676
Hello @yaritaft

I'll try to reproduce. But the PlatformTest.bootstrap() function make a PlatformTest.create() for your so this is not necessary.

Remove it.

It's wrong, if you use PlatformTest.boostrapt(Server), the connexion will be iniatiliazed according to the server configuration.
the connection will be created. The is the main difference between `.create()` and `.bootstrap()`.

This integra

[2021-12-07 03:44] Romakita commented on #1676
https://github.com/tsedio/tsed-example-typeorm/blob/master/src/controllers/pages/IndexCtrl.integration.spec.ts
https://github.com/tsedio/tsed-example-typeorm/blob/master/src/controllers/rest/passport/PassportCtrl.integration.spec.ts

[2021-12-07 03:55] Romakita commented on #1676
Ok I think, I reproduce issue when I run all test in the project example but not when I run only one test file

[2021-12-07 03:59] Romakita commented on #1676
Ok I reproduce the bug when I run all test with jest. Running one test file works ...

[2021-12-07 04:08] Romakita commented on #1676
Finally, I'm not able to reproduce your issue. The project example works as expected. Is it possible to have an acces to your repo or have small reproducible example please :)

[2021-12-07 04:24] Romakita commented on #1675
Use absolute path is dangerous. I don't use it because, it depend on node module resolutions. Also the absolute paths will be wrong if you compile your code!

[2021-12-07 05:00] navalta3030 commented on #1675
Ended up not using absolute path, but the error was misleading. The root reason was because you are right, it's not able to import the correct one on the bundled files.

On ImportPackages.js I modified to throw new Error(e) instead of the hard coded string, that's when I knew it was absolute path error.

Thanks!

[2021-12-07 05:00] #1675 closed, assigned to Romakita

[2021-12-07 06:50] Romakita commented on #1675
I think, your issue isn't related to Ts.ED. Try to import resolvers manually with a classic ES6 import.

If the bug persist, it means this is not related to Ts.ED.

See you
romain

[2021-12-07 15:57] yaritaft commented on #1676
Hello Romakita! Thank you very much for that quick answer. Sure:
Here you have my repo and the **BRANCH: reproduce_bug**
https://github.com/yaritaft/smart_air_conditioning/tree/reproduce_bug

You have to run "./up.sh" and then run npm run test:unit
And In that way you should be able to reproduce the issue in this test **admin.integration.test.ts**

  ● Rest › Post /api/session/admin/login › Regist

[2021-12-07 16:05] Romakita commented on #1676
Thanks @yaritaft I'll checkout the project and investigate ;)

[2021-12-07 16:08] yaritaft commented on #1676
Thank you @Romakita . One more thing, I tested with tsed version 6.11.3 and with version 6.95.1 and with both I get the same issue. Maybe that can help a little bit.

[2021-12-08 08:15] Romakita commented on #1676
@yaritaft  Done. The problem is around the usage of bootstrap

this syntax is wrong:
[code]
Correct:
[code]
or
[code]

I pushed a PR on your repository to fix some issue about ts configuration.

See you
Romain

[2021-12-08 08:15] #1676 closed, assigned to Romakita

[2021-12-08 20:09] dyerw opened #1679 "[BUG] tsed cli project with pnpm returns 404 on minimal hello-world example"
## Information

- **Version:** 6.95.2
- Packages:

[code]

Using the tsed cli command to setup a project and choosing pnpm as the package manager results in a broken project. The routes are not correctly registered for some reason and attempting to hit them returns a 404.

## Example
These CLI options:
[code]

(in my testing it is broken for Express and Koa)

then
[code]

gives:
[code]

hitting `h